@import '../addons/lfa-content-widgets/css/master'

lfa-framework()

@import leo
@import chart
@import _cover
// General
//
body
  background-color: #f0f0f0
  padding: 0
  font-family: "Source Sans Pro"
article
  section
    background-color: #fff
    margin-top: 0
    padding: 1.3em
    h1
      margin-top: .3em
    ul, li
      text-align: justify
      line-height: 1.3 em
      margin-top: .4em
      margin-bottom: .4em
    p
      text-align: justify
      line-height: 1.3 em
      padding: 0 !important
      margin-top: .7em
      margin-bottom: .7em
    p.table
      color: #39b8bb
      font-size: 0.9em
    em
      p
        margin: 0.5em
        font-size: 0.7em
    ul
      li
        padding-left: 1em !important
        text-indent: -1em
        list-style: none
      li:before
        content: '\2022'
        color: #ee7401
        margin-right: 0.2em
        font-size: 1.5em
    table.table-responsive
      text-align: center
      font-family: "Source Sans Pro", sans
      border-style: solid
      border-color: white
      border-bottom: 4px solid #39b8bb
      font-size: 0.8em
      line-height: 1.2em
      thead
        td, th
          color: white
          background-color: #39b8bb
          padding .5em
          font-weight: 300
          border: 1px solid white
          border-collapse: collapse
          text-align: center
          font-family: "Source Sans Pro", sans-serif
      tbody
        tr:nth-child(odd)
          background-color: white
        tr:nth-child(even)
          background-color: rgb(178,225,227)
        td, th
          color: black
          padding .5em
          border: 1px solid white
          border-collapse: collapse
.hchart
  font-family: "Source Sans Pro", sans-serif
  .hchart-row
    margin-bottom: 1em
  @media (max-width: 750px)
    .small
      font-size: 15px
  .progress-bar
    font-size: 15px
    color: #000
.vchart
  font-family: "Source Sans Pro", sans-serif
  .progress-bar
    font-size: 15px
    color: black
.center
  text-align: center
