@import '../addons/lfa-exercises/css/main'
@import '../addons/lfa-backstage/css/main'

lfa-framework()

@import _avatar

//
// Text flow
//

.no-strech
  width: auto

.percent-50
  max-width: 50%

.center
  margin: 0 auto

.margin-for-right
  margin: 0 0 1em 1em

.bordered
  img
    border-radius: 0.4em


//
// General
//
article
  section
    p
      text-align: justify

    h1
      color: #39b8bb
      font-family: "Calibri", sans
      text-transform: uppercase
      margin-bottom: 0.8em

    h2
      color: #f38800
      font-family: "Calibri", sans
      margin: 0.5em 0
