[submodule "addons/lfa-backstage"]
	path = addons/lfa-backstage
	url = git@github.com:learnfwd/lfa-addon-backstage.git
[submodule "addons/lfa-exercises"]
	path = addons/lfa-exercises
	url = git@github.com:learnfwd/lfa-addon-exercises.git
[submodule "lfa-addon-classroom"]
	path = lfa-addon-classroom
	url = https://github.com/learnfwd/lfa-addon-classroom
[submodule "lfa-content-widgets"]
	path = lfa-content-widgets
	url = git@github.com:learnfwd/lfa-content-widgets.git
[submodule "addons/lfa-content-widgets"]
	path = addons/lfa-content-widgets
	url = git@github.com:learnfwd/lfa-content-widgets.git
