+article("1. Introducere")
  +section("1. Introducere")
    p.blue Net Children Go Mobile
    +img('img/logo_NetChildrenGoMobile.png')
    h2 Riscuri și oportunități în folosirea internetului mobil de către copiii din România. 
    h2 Raportul proiectului Net Children Go Mobile
    p A SE CITA CA:
    p Velicu, A., Mascheroni, G. și Ólafsson, K. (2014). Riscuri și oportunități în folosirea internetului mobil de către copiii din România.  Raportul proiectului Net Children Go Mobile. București: Ars Docendi.
    p.text-uppercase Mulțumiri: 
    p Autorii ar dori să mulțumească întregii rețele Net Children Go Mobile care a făcut posibilă realizarea acestui proiect și în special Monicăi Barbovschi si Biancăi Balea care au lucrat direct pentru colectarea și analiza primară a datelor calitative în România. Anca Velicu ar dori să aducă mulțumiri studentei Cristina Șișcanu pentru ajutorul dat la realizarea acestui proiect.