+article("1. Introducere")
  +section("1. Introducere")
    +img('img/logo_NetChildrenGoMobile.png')
    h1 Riscuri și oportunități în folosirea internetului mobil de către copiii din România. 
    h1 Raportul proiectului Net Children Go Mobile


