+article("1.1. Context")
  +section("1.1. Context")
    h1 1.1. Context
    script.
      $(function () {$('[data-toggle="tooltip"]').tooltip()})
    p
      |Atât copilăria, cât și spațiul saturat tehnologic în care copiii cresc sunt într-o continuă schimbare, co-determinându-se reciproc (Livingstone, 2009). Copiii cresc într-un ambient al dispozitivelor media convergente (Ito 
      em et al
      |., 2009), unde oportunități semnificative de sociabilitate, de exprimare, învățare, creativitate și participare le sunt furnizate de media online și în special de media mobile (Hjorth & Goggin, 2009; Goggin 2010). Dincolo de oportunități, copiii pot să întâlnească pe internet și o serie de riscuri; din 2006, rețeaua EU Kids Online cercetează riscurile și oportunitățile online pentru copii, arătând interdependența acestora (Livingstone et al., 2011). Astfel, cu cât copiii utilizează mai mult internetul, cu atât gama oportunităților se lărgește, mărindu-se de asemenea și expunerea lor la experiențe riscante. Schimbarea condițiilor de acces la internet prin mijlocirea media mobile impune necesitate a noi cercetări asupra experiențelor online ale copiilor, oportunităților și riscurilor internetului mobil.
    p Deși există multe discuții despre media mobile, nu există un consens privitor la definiția acestora nici dacă ne referim la acest moment anume, nici dacă ne plasăm într-o perspectivă diacronică. La fel cum se întâmplă în cazul internetului, media mobile sunt ele însele în mișcare în măsura în care noile tehnologii și aplicații sunt dezvoltate în mod continuu. Acestea fiind spuse, fiecare proiect de cercetare trebuie să-și definească propriul obiect de studiu. În cazul nostru, prima diferențiere pe care vrem să o facem este între experiența internetului accesat de pe PC (inclusiv laptop și notebook) și experiența internetului accesat de pe dispozitive portabile, care utilizează sisteme de operare diferite (e.g. smartphone-uri și tablete), dat fiind că tehnic, acestea permit sau din contră limitează diferite practici.
    p Astfel, când ne referim la ‘internetul mobil’ în acest raport, avem în vedere accesarea internetului de pe media mobile, accesare care este potențial diferită ca experiență față de accesarea de pe un PC. Media mobile pe care ne axăm sunt următoarele:
    ul
      li
        p
          strong Dispozitive portabile conectate la internet 
          |prin intermediul tehnologiei wifi sau 3G/4G, cum ar fi smartphone-urile, tabletele, telefoanele obișnuite de pe care poate fi accesat internetul, console de jocuri portabile și dispozitive de redare MP3/MP4 (cum ar fi iPod Touch) sau cititoare de cărți electronice (e-book reader). Datorită portabilității lor, aceste dispozitive permit accesarea internetului de oriunde și oricând există semnal, chiar dacă în fapt, ele nu sunt folosite exclusiv “în mișcare”, condițiile sociale afectând utilizarea lor.
      li
        p 
          strong Dispozitive convergente multifuncționale
          |, care fac posibile repertorii din ce în ce mai bogate de practici de comunicare și activități online. Acestea combină opțiuni deja disponibile pe mai vechile telefoane mobile (cum ar fi clasica funcție de apelare telefonică, mesajele text sau multimedia, jocuri, radio, muzică, fotografiere) cu activități care se desfășoară în mod obișnuit de pe un calculator personal, activități care implică internetul și media sociale (cum ar fi email, mesagerie instant, platforme de socializare online [social network site, SNS], consultarea de hărți, vizionare de video clipuri sau programe de televiziune și blogging). La aceste activități ‘mai vechi’, care puteau fi realizate și pe telefoanele mobile anterioare sau pe PC-uri și laptop-uri, se adaugă noi activitități specifice dispozitivelor convergente, cum ar fi cele care au la bază servicii de localizare și cele realizate prin intermediul aplicațiilor (care pot modela noi experiențe online).
      li
          p 
            strong Dispozitive personale
              sup(data-toggle="tooltip" data-placement="top" title="Trebuie menționat că nu suntem interesați doar de cei care dețin astfel de dispozitive mobile, ci și de cei care le folosesc fără a le deține personal (e.g. cei care folosesc tablete în comun).") 1
            |,  adică acele dispozitive care capătă conotații afective (evocând atașament emoțional) și care au devenit parte a vieții cotidiene. Fiind personale și portabile, media mobile fac ca modul în care consumăm media și ne angajăm în practicile online să fie mai flexibil și personalizat și, de asemenea, creează noi oportunități pentru utilizarea privată în context domestic, școlar sau în spațiul public. Această  
            strong privatizare a accesului și utilizării  
            |este acompaniată de 
            strong omniprezența internetului în viața zilnică a copiilor 
            |și implică crearea de diferite convenții sociale asupra libertății, intimității, sociabilității și nu în ultimul rând controlului din partea părinților și a altor adulți.
    p
      |Ne putem întreba astfel dacă nu cumva, prin extinderea potențială a gamei de oportunități online, internetul mobil promovează un repertoriu specific de activități de comunicare și divertisment – e.g. activitățile pe rețelele de socializare online și jocurile – care sunt preferate de către copii altor activități online, mai dezirabile social, cum ar fi cele educative. O altă întrebare este, așa cum am anticipat, 
      strong dacă accesarea internetului prin mijlocirea media mobile 
      |aduce copiilor 
      strong mai multe sau mai puține riscuri 
      |sau, pur și simplu, aduce 
      strong riscuri noi
      |. 
    p Scopul nostru este astfel să înțelegem și să distingem între modul cum este experimentat internetul accesat de pe un dispozitiv mobil, față de experiența bazată pe PC, în termeni de oportunități și riscuri.
