+article("1.2. Agenda decidenților")
  +section("1.2. Agenda decidenților")
    h1 1.2. Agenda decidenților
    p Atât în discursul cercetătorilor, cât și în cel al decidenților se atribuie un rol important în siguranța copiilor pe internet medierii venite din partea profesorilor, a celor de aceeași vârstă  și, mai ales, medierii parentale. Pe măsură ce media și tehnologiile comunicării devin din ce în ce mai dificil de reglementat din partea guvernanților sau a unor organisme centralizate, a fost tot mai mult susținută responsabilitatea părinților în a stabili reguli în spațiul domestic (Oswell, 2008). Astfel, activități percepute până atunci ca fiind private – cum ar fi regulile pe care părinții le stabilesc pentru utilizarea media de către copii – au început să fie abordate în cadrul politicilor publice, în special în cele care privesc protecția copilului de posibilele experiențe dăunătoare provocate de media (European Commission, 2008).
    p
      |Sprijinindu-ne pe cadrul teoretic construit în proiectul EU Kids Online, putem înțelege 
      strong medierea parentală 
      |a utilizării internetului de către copii pe cinci segmente principale (Livingstone 
      em et al
      |., 2011):
    ul
      li
          strong Co-utilizarea internetului și medierea activă 
          |– implică discuții ale părinților cu copiii despre ce fac aceștia online, activități pe internet la care părinții participă alături de copii precum și supravegherea (statul alături, de exemplu) copilului când acesta este online.
      li
          strong Medierea activă a utilizării internetului în siguranță 
          |– implică promovarea de către părinți a unei utilizări în siguranță a internetului, prin sfaturi referitoare la riscuri și prin oferirea sprijinului atunci când copiii întâlnesc lucruri deranjante pe internet.
      li
          strong Mediere restrictivă 
          |– se referă la practicile prin care părinții stabilesc reguli care limitează utilizarea media a copiilor (în ceea ce privește timpul sau activitățile).
      li
          strong Monitorizarea 
          |– se referă la practicile părinților de a verifica istoricul activităților pe internet ale copilului.
      li
          strong Restricțiile tehnice 
          |- desemnează utilizarea programelor de filtrare, restricționare sau monitorizare a utilizării internetului de către copil.
    p La nivel general, proiectul EU Kids Online a arătat o imagine mai degrabă pozitivă a medierii parentale. Nu doar că părinții își exprimă încrederea în capacitatea copiilor de a face față riscurilor online, dar chiar și copiii par bucuroși de interesul și implicarea părinților (Haddon, 2012). În ceea ce privește strategiile parentale care funcționază cel mai bine, în timp ce medierea restrictivă este în mod clar asociată cu o reducere a riscurilor, ea poate de asemenea să reprezinte și o reducere a șanselor copilului de a beneficia de lumea online; mai mult, există evidențe că o mediere parentală activă a modului cum este utilizat internetul poate reduce experiențele dăunătoare pe care copilul le poate avea în mediul online, fără a-l priva de oportunitățile acestuia (Dürager & Livingstone, 2012).
    p
      |Portabilitatea smartphone-urilor, precum și caracterul personal al acestora, aduce 
      strong noi provocări capacității și dorinței părinților de a împărtăși sau a superviza activitatea online a copiilor
      |. Telefoanele mobile pot facilita medierea tehnică și monitorizarea, dar medierea activă de tip co-utilizare este mai dificil de realizat în condițiile unui acces mobil, pe dispozitive personale (ușor de ascuns în buzunar), cu ecrane mai mici etc. Astfel, devine necesar să fie analizate și evaluate noile condiții în care medierea parentală are loc, arătându-se care sunt constrângerile, dar și posibilitățile pe care le au părinții atunci când încearcă să medieze experiența online a copiilor.
    p
      strong Profesorii și instituțiile de educare 
      |joacă de asemenea un rol important în medierea acelor activități pe internet ale copiilor care au la bază dispozitive mobile. La fel ca în cazul părinților, medierea din partea profesorilor stă și ea sub semnul noilor condiții de acces (accesul mobil),  ceea ce duce la modificarea eficienței ei. Astfel, ni se pare necesar să aflăm dacă și în ce măsură profesorii au încorporat platformele mobile în educația privind siguranța pe internet (acolo unde este cazul; în România din păcate acest domeniu este cu totul descoperit în curricula școlară) sau, mai general, dacă profesorii au preluat aceste tehnologii în activitățile la clasă, beneficiind de oportunitățile pe care le oferă.
    p
      |Noile condiții de mediere socială a accesului la internet mobil stabilesc de asemenea o 
      strong nouă agendă pentru decidenți
      |. Astfel, generalizarea media convergente cere o colaborare mai strânsă între diferiți actori social pentru a determina experiența online a copiilor. Inițiativele de auto-reglementare din partea industriei de telefonie mobilă, cum ar fi Cadrul European pentru Utilizarea în Siguranță de către Copii și Tineri a Tehnologiilor Mobile (European Framework for Safer Mobile Use by Younger Teenagers and Children), sau alte inițiative de auto-reglementare avizate de Comisia Europeană, cum ar fi Coaliția pentru un Internet mai Bun pentru Copii (CEO Coalition to Make the Internet a Better Place for Kids) și Coaliția pentru Utilizarea în Siguranță a Dispozitivelor Conectate și a Serviciilor Online de către Copii și Tineri (the ICT Coalition for the Safer Use of Connected Devices and Online Services by Children and Young People) în UE
      +footnote(2)
        span Vezi www.ictcoalition.eu 
      |încep să ia în considerare noile dezvoltări legate de internetul mobil. În același timp însă, este esențial ca aceste inițiative să fie incluse într-un dialog constructiv cu instituțiile guvernamentale, experiții care se ocupă de copii, organizații non-guvernamentale (ONG-uri), cercetătorii, părinții și profesorii și, nu în ultimul rând, copiii. Din această perspectivă, rezultatele proiectului Net Children Go Mobile au fost analizate astfel încât să permită stabilirea unei liste de priorități și să identifice acele spații unde cooperarea între părțile implicate este necesară pentru o promovare eficientă a siguranței pe internet.


    