+article("1.3. Despre proiect")
  +section("1.3. Despre proiect")
    h1 1.3. Despre proiect
    p
        |Proiectul Net Children Go Mobile – co-finanțat prin 
        strong Programul Safer Internet 
        |– și-a propus să investigheze prin metode cantitative și calitative cum schimbarea condițiilor de acces și utilizare a internetului – mai exact, internetul mobil și media mobile convergente – atrage riscuri diferite (mai mari, mai puține sau doar altele, noi) privind siguranța copiilor pe internet. Țările care au demarat proiectul sunt 
        strong Danemarca
        |, 
        strong Italia
        |, 
        strong Marea Britanie 
        |și 
        strong România
        |, cărora li s-au adăugat 
        strong Belgia
        |, 
        strong Irlanda 
        |și 
        strong Portugalia 
        |(unde s-a efectuat atât cercetarea cantitativă, cât și cea calitativă) și 
        strong Germania 
        |și 
        strong Spania 
        |(doar pentru cercetarea calitativă).
    p În mod cert, aceste țări nu pot fi privite ca fiind reprezentative pentru întreaga Europă. Cu toate acestea, alegerea celor patru țări inițiale, ca și a celorlalte trei care au participat la cercetarea cantitativă, reprezintă un punct forte al proiectului dacă ne referim la extinderea validității datelor la nivel pan-european. Întradevăr, Belgia, Danemarca, Irlanda, Italia, Marea Britanie, Portugalia și România sunt emblematice pentru diferențele socio-culturale și tehnice de la nivelul Europei, diferențe care trebuie să fie luate în considerare când sunt propuse politici care să promoveze siguranța copiilor pe internet, atunci când acesta este accesat de pe dispozitive mobile și convergente sau atunci când se încearcă creșterea gradului de conștientizare privind riscurile existente. Țările participante diferă în multe aspecte, de la diferențe în istoria adoptării telefoaniei mobile, care la rândul ei poate influența istoria adoptării smartphone-urilor și a altor dispozitive mobile, la diferențe în termeni de cultură digitală a tinerilor sau în ceea ce privește frecvența riscurilor online printre copiii și, nu în cele din urmă, în termeni de cultură a copilăriei și a parentalității

    

    