+article("1.3. Despre proiect")
  +section("1.3. Despre proiect")
    h1 1.3. Despre proiect
    p
        |Proiectul Net Children Go Mobile – co-finanțat prin 
        strong Programul Safer Internet 
        |– și-a propus să investigheze prin metode cantitative și calitative cum schimbarea condițiilor de acces și utilizare a internetului – mai exact, internetul mobil și media mobile convergente – atrage riscuri diferite (mai mari, mai puține sau doar altele, noi) privind siguranța copiilor pe internet. Țările care au demarat proiectul sunt 
        strong Danemarca
        |, 
        strong Italia
        |, 
        strong Marea Britanie 
        |și 
        strong România
        |, cărora li s-au adăugat 
        strong Belgia
        |, 
        strong Irlanda 
        |și 
        strong Portugalia 
        |(unde s-a efectuat atât cercetarea cantitativă, cât și cea calitativă) și 
        strong Germania 
        |și 
        strong Spania 
        |(doar pentru cercetarea calitativă).
    p În mod cert, aceste țări nu pot fi privite ca fiind reprezentative pentru întreaga Europă. Cu toate acestea, alegerea celor patru țări inițiale, ca și a celorlalte trei care au participat la cercetarea cantitativă, reprezintă un punct forte al proiectului dacă ne referim la extinderea validității datelor la nivel pan-european. Întradevăr, Belgia, Danemarca, Irlanda, Italia, Marea Britanie, Portugalia și România sunt emblematice pentru diferențele socio-culturale și tehnice de la nivelul Europei, diferențe care trebuie să fie luate în considerare când sunt propuse politici care să promoveze siguranța copiilor pe internet, atunci când acesta este accesat de pe dispozitive mobile și convergente sau atunci când se încearcă creșterea gradului de conștientizare privind riscurile existente. Țările participante diferă în multe aspecte, de la diferențe în istoria adoptării telefoaniei mobile, care la rândul ei poate influența istoria adoptării smartphone-urilor și a altor dispozitive mobile, la diferențe în termeni de cultură digitală a tinerilor sau în ceea ce privește frecvența riscurilor online printre copiii și, nu în cele din urmă, în termeni de cultură a copilăriei și a parentalității.
    p
      |În ceea ce privește răspândirea telefoniei mobile în anii ’90, Danemarca (alături de alte Țări Nordice), Marea Britanie și Italia au fost caracterizate de o rapidă și generalizată adoptare a telefoanelor mobile care au devenit o componentă distinctivă a culturii tinerilor. Popularitatea dispozitivelor și a noilor practici de comunicare (cum ar fi SMS) în aceste țări a dus de asemenea la o creștere substanțială a cercetărilor empirice la nivel național referitoare la utilizarea telefoniei mobile (Green&Haddon, 2009). Pe lângă diferențele în procesul de includere a media mobile în contextul vieții de zi cu zi (cu alte cuvinte, procesul de ‘domesticire’ a acestora), ceea ce influențează la acest moment adoptarea largă a smartphone-urilor la nivel național într-un anumit spațiu este deținerea unei infrastructuri de comunicare mobilă, care implică 
      strong aspecte tehnologice și economice
      |. Prin cercetarea accesului și utilizărilor telefoanelor mobile, smartphone-urilor și altor dispozitive media convergente, proiectul Net Children Go Mobile își propune să ofere un portret al includerii acestor tehnologii ale informării și comunicării (TIC) în viața de zi cu zi (‘domesticirii’ lor) în relație cu variațiile socio-culturale, permițând astfel explicații care pot fi ulterior extinse la nivelul altor țări cu modele de adopție a TIC și cu infrastructuri tehnologice similare.
    p
      |Țările participante în proiectul Net Children Go Mobile sunt de asemenea relevante în ceea ce privește experiența pe care copiii o au în riscurile internetului și în implicațiile acesteia pentru politicile de conștientizare a siguranței pe internet. Conform noii clasificări a țărilor furnizată de studiul EU Kids Online (Helsper 
      em et al
      |., 2013), Belgia, Italia, Irlanda, Portugalia și Marea Britanie aparțin categoriei de țări unde copiii sunt ‘
      strong protejați prin restricționare
      |’ - țări caracterizate printr-un nivel relativ scăzut de risc, probabil și pentru că utilizarea internetului este mai limitată și în mare măsură restricționată la activități practice – Danemarca aparține categoriei ‘
      strong exploratorilor riscului sprijiniți
      |’ – care cuprinde copii care sunt utilizatori experimentați ai rețelelor sociale, care sunt mai expuși la riscurile sexuale online, dar ai căror părinți sunt mai implicați în mod activ (și nu restrictiv) în ghidarea lor pe internet. România, pe de altă parte, este inclusă în grupul țărilor unde copiii sunt ‘
      strong jucători de risc parțial sprijiniți
      |’ – unde copiii întâlnesc doar un număr moderat de oportunități online, cele mai multe fiind în legătură cu jocurile online, în același timp consumul de internet fiind asociat cu un număr relativ ridicat de riscuri și un nivel ridicat al prejudiciului rezultat. Cercetarea EU Kids Online II a realizat această clasificare prin compararea utilizării zilnice a internetului de către copii, a expunerii lor la riscuri și a strategiilor de mediere parentală folosite. 
    p Un ultim aspect de care s-a ținut cont în selectarea țărilor participante la proiect a fost faptul că în aceste țări întâlnim culturi ale copilăriei și stiluri de parentalitate diferite. Deși toate țările europene sunt semnatare ale Convenției Națiunilor Unite privind Drepturile Copilului, abordările sunt diferite la nivelul Europei, susținându-se construcții naționale ale copilăriei, care variază de la state centrate pe copil, cum ar fi Danemarca, la state unde perspectiva dominantă este cea a ‘copilului în pericol’. 

    

    