+article("1.4. Cadrul teoretic și metodologic")
  +section("1.4. Cadrul teoretic și metodologic")
    h1 1.4. Cadrul teoretic și metodologic
    p
        |Bazându-ne pe experiența membrilor rețelei în cadrul proiectului EU Kids Online, cadrul conceptual este operaționalizat într-o perspectivă 
        strong centrată pe copil
        |, cu o abordare 
        strong critică
        |, 
        strong contextuală 
        |și 
        strong comparativă 
        |(Livingstone & Haddon 2009; Livingstone 
        em et al
        |., 2011). Aceasta presupune o înțelegere a experienței online a copilului ca fiind contextualizată și determinată de intersecția a trei cercuri, astfel: 1) copilăria, mediul familial și cercul de prieteni; 2) sistemul mediatic și dezvoltările tehnologice: și 3) contextul social și strategic la nivel european.
    p Drept urmare, considerăm că vocea și punctul de vedere al copiilor sunt cruciale în încercarea de a înțelege oportunitățile întâlnite pe internet, riscurile și consecințele negative ale utilizării de media mobile și convergente. Folosirea datelor cantitative va contribui la consolidarea cunoștințelor despre folosirea de către copii a media mobile și convergente prin asigurarea unor date reprezentative la nivel național și comparabile la nivel trans-național. De asemenea, combinarea datelor cantitative cu cele calitative va oferi profunzime în informațiile despre conștientizarea de către copii a riscurilor media mobile și percepția pe care o au asupra acestora. În plus, terenul calitativ include interviuri de grup cu părinții, profesorii și alte persoane implicate în munca cu tinerii (e.g. antrenori sportivi), pentru a putea compara percepția copiilor și a adulților în conștientizarea riscurilor internetului mobile și în înțelesul pe care îl capătă aceste riscuri în cele două viziuni. Se dorește de asemenea ca  datele empirice culese în acest proiect să susțină inițiativele de conștientizare și să structureze politicile de siguranță pe internet.

    