+article("1.5. Despre acest raport")
  +section("1.5. Despre acest raport")
    h1 1.5. Despre acest raport
    script.
      $(function () {$('[data-toggle="tooltip"]').tooltip()})
    p
      |Acest raport se referă la situația utilizării internetului de către copiii din România, făcând însă de fiecare dată referire și la situația generală de la nivelul tuturor celor 7 țări în care a avut loc ancheta 
      em Net Children Go Mobile 
      |(Belgia, Danemarca, Irlanda, Italia, Portugalia, România, Marea Britanie). Atunci când acest lucru se întâmplă, ne vom referi de o manieră globală la ‘situația europeană’, specificând însă că este vorba doar de cele 7 țări participante în proiect și vom oferi datele medii așa cum apar acestea în a doua ediție a raportului 
      em Net Children Go Mobile: risks and opportunities 
      | (Mascheroni & Olafsson, 2014)
      strong
          sup(data-toggle="tooltip" data-placement="top" title="Din motive de economie de spațiu nu vom cita de fiecare dată Raportul mai sus menționat, asumând că cititorul va avea în vedere nota de mai sus.") 3
      |. 
    p
      |De asemenea raportul va fi ilustrat cu o serie de citate din interviurile de grup sau individuale cu copiii și adulții din România. Deși nu va fi vorba despre un raport detaliat asupra acestei părți a cercetării, considerăm că folosirea discursului direct al subiecților participanți la cercetare va oferi un fundal de înțelegere a datelor din acest raport. La nivel metodologic
      strong
          sup(data-toggle="tooltip" data-placement="top" title=" Pentru mai multe amanunte despre cum a avut loc cercetarea calitativă vezi Haddon & Vincent, 2014.") 4
      |, ancheta calitativă a presupus în România realizarea a 7 focus grupuri (28 persoane implicate), 15 interviuri individuale cu copii și 9 focus grupuri cu adulti, din care 6 cu părinți (30 persoane), 2 cu profesori (10 persoane) și un focus grup cu alte persoane care se ocupă de copii (2 persoane din ONG-uri și un profesor de arte plastice).  
    p Câteva date despre anchetă:
    ul
      li
        p În România, datele au fost colectate în mai - iulie 2013 și au cuprins, la fel ca în fiecare țară, un eșantion reprezentativ național de aproximativ 500 de copii cu vârste între 9-16 ani, utilizatori de internet.
      li
        p Ancheta a fost precedată, în fiecare țară, de o testare cognitivă a chestionarului pe opt copii din diferite grupe de vârstă (9-10, 11-12, 13-14, 15-16) pentru a verifica nivelul de înțelegere și reacția la întrebări.
      li
        p Administrarea chestionarului a avut loc acasă, față în față, existând o secțiune de autocompletare pentru întrebările sensibile. 