+article("3. Activități online")
  +section("3. Activități online")
    h1 3. Activități online
    p
        |Cercetările anterioare au arătat că gama de activități pe care copilul le desfășoară online variază cu vârsta, ele urmând o creștere de la utilizări de bază – cum ar fi jocurile și căutările pentru școală – la utilizări creative și participative ale internetului, cum ar fi crearea și menținerea unui blog, crearea și distribuirea de conținut etc. (Livingstone & Helsper, 2007; Livingstone 
        em et al
        |., 2011).
    p Datele proiectului EU Kids Online au arătat de asemenea că activitățile online nu sunt în întregime benefice sau riscante, astfel încât copiii care au o gamă largă de activități pe internet sunt de obicei mai expuși la riscuri, dar sunt de asemenea mai pregătiți să facă față acestor riscuri, dezvoltând diverse strategii de reziliență (Livingstone, Hasebrink & Görzig, 2012). 
    p Pornind de la aceste premise, am urmărit care sunt activitățile pe care copiii le fac online pentru două motive principale:
    ul
        li	pentru a înțelege dacă și în ce măsură activitățile online ale copiilor variază cu media mobile și convergente pe care o folosesc aceștia și cu conectivitatea de tipul ‘oriunde, oricând’;
        li	pentru a observa evoluția copiilor – și orice schimbare relevantă care apare – pe ‘scara oportunităților’ (Livingstone & Helsper, 2007).
