+article("3.1. Tipuri de activități online")
  +section("3.1. Tipuri de activități online")
    h1 3.1. Tipuri de activități online
    p Tabelul 10 arată proporția copiilor din România care fac zilnic o serie de activități online, indiferent de dispozitivul folosit, în funcție de vârstă și gen.
    p.table Tabelul 10: Activitățile online zilnice (oricare ar fi tipul de accesare al internetului), în functie de vârstă si gen
    table.table-responsive
      thead
        tr
          td % au făcut zilnic…
          td
            tr
            tr
      tbody
        tr
          td Am ascultat muzică (Youtube, radio online)
          td
          td
          td
          td
          td
        tr
          td M-am uitat la videoclipuri 
          td
          td
          td
          td
          td
        tr
          td Am vizitat un profil pe o reţea de socializare, al tău sau al altcuiva
          td
          td
          td
          td
          td
        tr
          td Am folosit mesajele instantanee
          td
          td
          td
          td
          td
        tr
          td Am jucat anumite jocuri singur sau împotriva computerului
          td
          td
          td
          td
          td
        tr
          td M-am jucat jocuri pe internet cu alte persoane (în reţea)
          td
          td
          td
          td
          td
        tr
          td Am descărcat muzică sau filme
          td
          td
          td
          td
          td
        tr
          td Am folosit internetul pentru o temă şcolară
          td
          td
          td
          td
          td
        tr
          td Am verificat instantaneu o informaţie sau am cautat imediat lucrurile care ma interesau 
          td
          td
          td
          td
          td
        tr
          td Am descărcat aplicaţii gratuite
          td
          td
          td
          td
          td
        tr
          td Am vizionat o emisiune TV online/ un film online
          td
          td
          td
          td
          td
        tr
          td Am publicat/ postat poze, clipuri video sau muzică pentru a le partaja cu alte persoane
          td
          td
          td
          td
          td
        tr
          td Am semnalat în reţelele sociale locul în care mă aflu (ex. check in in  Foursquare)
          td
          td
          td
          td
          td
        tr
          td Am publicat (postat) un mesaj pe un site internet sau pe un blog
          td
          td
          td
          td
          td
        tr
          td Am citit/urmărit ştirile pe internet
          td
          td
          td
          td
          td
        tr
          td Am vizitat o cameră de chat
          td
          td
          td
          td
          td
        tr
          td Am folosit o cameră web
          td
          td
          td
          td
          td
        tr
          td Am căutat hărţi/orare sau programe de funcţionare
          td
          td
          td
          td
          td
        tr
          td Am petrecut timp într-o lume virtuală
          td
          td
          td
          td
          td
        tr
          td Am folosit site-uri de partajare a fişierelor (ex. Bittorrent)
          td
          td
          td
          td
          td
        tr
          td Am creat un personaj, un animal sau un avatar
          td
          td
          td
          td
          td
        tr
          td Am citit o carte electronică (e-book)
          td
          td
          td
          td
          td
        tr
          td Am plătit pentru a descărca aplicaţii
          td
          td
          td
          td
          td
        tr
          td Am citit coduri QR
          td
          td
          td
          td
          td
        tr
          td Am cumpărat lucruri de pe internet
          td
          td
          td
          td
          td
      

