+article("3.1. Tipuri de activități online")
  +section("3.1. Tipuri de activități online")
    h1 3.1. Tipuri de activități online
    p Tabelul 10 arată proporția copiilor din România care fac zilnic o serie de activități online, indiferent de dispozitivul folosit, în funcție de vârstă și gen.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 10: Activitățile online zilnice (oricare ar fi tipul de accesare al internetului), în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              th % au făcut zilnic…
              td
                div Băieți 
                div 9-12 ani
              td
                div Fete 
                div 9-12 ani
              td
                div Băieți 
                div 13-16 ani
              td
                div Fete 
                div 13-16 ani
              td Total RO
          tbody
            tr
              td Am ascultat muzică (Youtube, radio online)
              td 53
              td 46
              td 66
              td 68
              td 59
            tr
              td M-am uitat la videoclipuri 
              td 57
              td 39
              td 68
              td 64
              td 57
            tr
              td Am vizitat un profil pe o reţea de socializare, al tău sau al altcuiva
              td 41
              td 35
              td 69
              td 74
              td 56
            tr
              td Am folosit mesajele instantanee
              td 38
              td 34
              td 65
              td 56
              td 49
            tr
              td Am jucat anumite jocuri singur sau împotriva computerului
              td 51
              td 34
              td 48
              td 22
              td 38
            tr
              td M-am jucat jocuri pe internet cu alte persoane (în reţea)
              td 40
              td 20
              td 52
              td 31
              td 36
            tr
              td Am descărcat muzică sau filme
              td 30
              td 15
              td 31
              td 37
              td 29
            tr
              td Am folosit internetul pentru o temă şcolară
              td 17
              td 33
              td 27
              td 34
              td 28
            tr
              td Am verificat instantaneu o informaţie sau am căutat imediat lucrurile care ma interesau 
              td 11
              td 17
              td 35
              td 30
              td 24
            tr
              td Am descărcat aplicaţii gratuite
              td 15
              td 11
              td 31
              td 22
              td 20
            tr
              td Am vizionat o emisiune TV online/ un film online
              td 17
              td 14
              td 24
              td 23
              td 20
            tr
              td Am publicat/ postat poze, clipuri video sau muzică pentru a le partaja cu alte persoane
              td 13
              td 13
              td 18
              td 28
              td 18
            tr
              td Am semnalat în reţelele sociale locul în care mă aflu (ex. check in in  Foursquare)
              td 12
              td 7
              td 24
              td 22
              td 17
            tr
              td Am publicat (postat) un mesaj pe un site internet sau pe un blog
              td 12
              td 8
              td 18
              td 28
              td 15
            tr
              td Am citit/urmărit ştirile pe internet
              td 9
              td 2
              td 21
              td 25
              td 15
            tr
              td Am vizitat o cameră de chat
              td 20
              td 4
              td 16
              td 14
              td 13
            tr
              td Am folosit o cameră web
              td 14
              td 7
              td 11
              td 19
              td 13
            tr
              td Am căutat hărţi/orare sau programe de funcţionare
              td 6
              td 2
              td 13
              td 12
              td 8
            tr
              td Am petrecut timp într-o lume virtuală
              td 9
              td 1
              td 12
              td 9
              td 8
            tr
              td Am folosit site-uri de partajare a fişierelor (ex. Bittorrent)
              td 7
              td 6
              td 13
              td 3
              td 7
            tr
              td Am creat un personaj, un animal sau un avatar
              td 7
              td 2
              td 6
              td 1
              td 4
            tr
              td Am citit o carte electronică (e-book)
              td 3
              td 0
              td 2
              td 6
              td 3
            tr
              td Am plătit pentru a descărca aplicaţii
              td 0
              td 0
              td 0
              td 4
              td 1
            tr
              td Am citit coduri QR
              td 0
              td 0
              td 2
              td 3
              td 1
            tr
              td Am cumpărat lucruri de pe internet
              td 1
              td 0
              td 2
              td 0
              td 1
      .panel-footer
        p.small-text Q9a-d, 10a-e, 11a-e, 12a-k: Pentru fiecare dintre următoarele lucruri pe care ţi le voi citi, spune-mi te rog cât de des le-ai făcut în ultima lună.
        p.small-text Baza: Toți copiii din România care utilizează internetul.
    ul
      li
        strong Ascultatul muzicii și vizionatul video-clipurilor sunt cele mai frecvente activități online 
        |pe care copiii din România, ca și cei din eșantionul general al tuturor țărilor implicate în proiect, le fac zilnic. Acestea sunt urmate de vizitarea 
        strong site-urilor de socializare 
        |și de utilizarea 
        strong mesageriei instant, de tipul Skype ori WhatsApp
        |. Toate aceste activități sunt făcute zilnic de copiii din România într-o proporție mai mare (cu cel puțin 3-4 procente) decât la nivelul eșantionului european.
      li
        |Confirmând datele EU Kids Online care plasau copiii din România în rândul ‘jucătorilor’ (
        +textTooltip("helsper2013")
        |), următoarele activități ca pondere sunt 
        strong jucatul pe computer, singur sau în rețea
        |, în timp ce la nivelul eșantionului european activitățile de informare, fie pentru școală, fie pentru satisfacerea unei curiozități, se plasează imediat după cele de comunicare și socializare, înaintea 
        strong jocurilor
        |. 
      li 
        |Activitățile care sunt tipice dispozitivelor mobile și convergente (deși nu limitate la acestea), cum ar fi descărcatul unor aplicații gratuite (20,3%), folosirea funcțiilor de localizare (16,6%), descărcarea unor aplicații contra cost (1,3%) sau citirea codurilor QR cu ajutorul dispozitivelor mobile (1%), sunt practicate zilnic doar de către o minoritate de copii, atât din România, cât și din restul țărilor. Totuși, trebuie remarcat că una dintre 
        strong activitățile potențial riscante și anume folosirea funcției de geolocalizare 
        |este folosită în proporție mult mai mare de copiii din România raportat la media tuturor țărilor implicate (9%). 
      li Conform datelor din cercetarea calitativă, observăm că aceasta se întâmplă deoarece copiii nu conștientizează potențialul de risc pe care funcția de geolocalizare îl reprezintă pentru ei ca persoane, considerând aceste aplicații mai degrabă ca oportunități de comunicare și de construcție și exprimare a identității. Astfel, ‘check-in’-ul în diferite locații și în compania diferiților prieteni poate reprezenta, mai ales pentru adolescenți, un mod de a se construi social sau de a își exprima disponibilitatea de a întâlni alte persoane (cunoscute) într-un anumit loc. Nu de puține ori folosirea acestor aplicații duce la situații delicate social, pe care însă par să le gestioneze cu succes.
    p.small-text
      em F: “Da, dau și ‘check in’,  normal! Dar am, când îmi scrie cineva, am chestia asta, de aici, cand scriu cuiva, asta îmi arată unde sunt: în apropiere de București sau în apropiere de nu știu ce...  și dacă o dezactivez nu mai arată; dar așa…
    p.small-text
      em I: Și de obicei o ții activată?
    p.small-text
      em F: Da o țin activată, nu am treabă...
    p.small-text
      em I: De ce?
    p.small-text
      em F: Pei n-am, adică nu știu ori uit... câteodată când vorbesc cu cineva și chiar nu vreau să știe unde sunt, atunci o dezactivez. Da’ așa, n-am nicio problemă cu chestia asta.
    p.small-text
      em I: Adică îți place ideea să știe lumea pe unde…?
    p.small-text
      em F: Sau nu știu, gen cineva se uită asta și te întreabă: “Bă, unde ești?” “Acasă!” “Pei, scrie aici că ești în apropiere de nu știu ce.”  “Ah, bine mă, nu sunt acasă””(fată, 15 ani, I01).
    ul
      li Folosirea funcției de geolocalizare este văzută ca potențial periculoasă în special pentru casă: atunci când semnalezi public că ești în concediu într-un loc îndepărtat poate fi o invitație pentru hoți de a sparge casa. De altfel și publicizarea altor elemente identitare (cum ar fi numele, adresa, poze ale locuinței) în rețelele de socializare sunt considerate de către copii a fi periculoase tot strict în această logică a pericolului din viața reală). 
      li
        |Întorcându-ne la celelalte activități, o constatare generală ar fi că toate activitățile despre care copiii au fost întrebați 
        strong sunt mai frecvent raportate odată cu vârsta, excepția majoră fiind jucatul 
        |pe calculator singur sau împotriva computerului, care scade odată cu înaintarea în vârstă mai mult în cazul fetelor decât la băieți. Totuși, jucatul în rețea, jucatul care implică și funcții de socializare crește odată cu vârsta atât pentru fete, cât și pentru băieți.
      li
        strong La unele dintre activități evoluția diferită, în funcție de gen, este marcantă
        |: astfel, activitățile de informare utilitară sau informare din presă sunt performate de fetele de 9-12 ani într-o proporție mult mai mică decât băieții de aceeași vârstă, în timp ce la vârste mari fetele se apropie sau chiar îi depășesc pe băieți în respectiva activitate; de remarcat cititul știrilor online care crește de la 1,6% la 25% la fete în timp ce la băieți evoluția este de la 9% la 20%.
      li
        |Cu o diferență mai mică decât în cazul mediei generale la nivelul tuturor țărilor, totuși se remarcă și în România o anumită 
        strong tendință de polarizare a activităților în funcție de gen
        |, cu unele activități practicate mai degrabă de fete (activitățile de comunicare-socializare), în timp ce altele sunt practicate mai degrabă de băieți (jocurile).
      li
        |La nivelul eșantionului românesc, 
        strong la prima grupă de vârstă variațiile în funcție de gen sunt mult mai pronunțate
        |: cu două excepții notabile, băieții de 9-12 ani performează într-o proporție mai mare decât fetele de aceeași vârstă activitățile online despre care au fost întrebați. Excepțiile sunt folosirea internetului pentru școală și căutarea sau verificarea unei informații unde, la vârste mici, fetele depășesc băieții.
      li
        |Față de eșantionul general al proiectului, remarcăm 
        strong în cazul României o diferență mai mică între cele două grupe de vârstă
        |. Astfel, pentru unele activități care se află în capul listei, la nivelul tuturor țărilor diferența este de 30%, în timp ce pentru România este sub 20%. Acest lucru se poate explica parțial prin faptul că, așa cum au arătat datele EU Kids Online, țările vestice aparțin grupei ‘copiilor protejați prin restricție’, medierea parentală restrictivă jucând un rol important în activitățile online ale copiilor, în timp ce în România copiii au o gamă mai largă de activități (totuși nu activități creative din vârful ‘scării oportunităților’) și sunt prin aceasta mai expuși riscurilor digitale (
        +textTooltip("helsper2013")
        |).



