+article("3.2. Utilizatorii de smartphone")
  +section("3.2. Utilizatorii de smartphone")
    h1 3.2. Utilizatorii de smartphone
    p Pentru a înțelege mai bine consecințele utilizării dispozitivelor mobile asupra tipurilor de utilizare ale internetului (i.e. care activități online sunt asociate cu accesul mobil și care nu), Tabelul 11 compară activitățile online ale utilizatorilor cu cele ale non-utilizatorilor de smartphone, împărțiți în două grupe de vârstă. 
    ul
      li
        strong Copiii care dețin un smarthone sunt mult mai activi pe internet și mult mai diversificați în activitățile lor
        |. Astfel, ei au raportat în mai mare măsură decât ceilalți aproape toate activitățile online măsurate (fie că era vorba despre activități de comunicare, entertainment sau de informare) la ambele grupe de vârstă.
      li
        strong În special activitățile de comunicare par să fie privilegiate printre deținătorii de smartphone
        |, folosirea mesajelor instantanee aproape dublându-se la ambele grupe de vârstă (la adolescenți această activitate este făcută zilnic de 91% dintre utilizatorii de smartphone față de 48% dintre ne-utilizatori). La fel de populare printre deținătorii de smartphone sunt și rețelele de socializare online, adolescenții utilizându-le zilnic în proporție de 84%, în timp ce copiii cu vârste între 9-12 ani, care conform condițiilor de utilizare a majorității acestor platforme nu ar avea ce căuta acolo, le utilizează zilnic în proporție de 59%.
      li
        |Dacă anumite activități dezirabile social (cum ar fi cititul de cărți electronice) sunt asociate clar cu deținerea de smartphone, această asociere o vedem și la activități cu potențial de risc, cum ar fi semnalarea locației în rețelele sociale online. Astfel 
        strong 21% dintre copiii de 9-12 ani utilizatori de smartphone semnalează zilnic locația în care se află într-o rețea socială (față de doar 9% dintre copiii de 9-16 ani la nivelul tuturor țărilor)
        |. Acest rezultat arată nu doar o încălcare a condițiilor de utilizare a acestor platforme online din partea copiilor și o mediere parentală laxă bazată de multe ori pe necunoașterea din partea părinților a activităților online ale copiilor sau a implicațiilor acestora, dar și pe o 
        strong lipsă de educație privind siguranța pe internet, care determină la rândul ei o slabă conștientizare, atât din partea copiilor cât și a părinților, cu privire la eventualele riscuri ale internetului
        |. 
    p.table Tabelul 11: Activitățile online zilnice ale copiilor din România care sunt utilizatori de smartphone, comparativ cu cei care nu sunt, pe două grupe de vârstă
    p.small-text Q9a-d, 10a-e, 11a-e, 12a-k: Pentru fiecare dintre următoarele lucruri pe care ţi le voi citi, spune-mi te rog cât de des le-ai făcut în ultima lună.
    p.small-text Baza: Toți copiii din România care utilizează internetul.
    p.small-text * ‘Total’ se referă la numărul mediu de copii care sunt utilizatori de internet și fac zilnic o anumită activitate online (așa cum este arătat în Tabelul 10).
    ul
      li
        |Dacă anumite diferențe în utilizarea internetului între utilizatorii și ne-utilizatorii de smartphone nu sunt surprinzătoare, ele fiind favorizate de accesul la o tehnologie mobilă (
        em e.g. 
        |verificarea instantanee a unei informații, semnalizarea locației într-o rețea socială online), faptul că alte activități care nu sunt în legătură cu tehnologia mobilă sunt de asemenea performate în mai mare măsură de prima grupă arată că 
        strong utilizatorii de smartphone nu doar că au acces la un dispozitiv în plus, dar au un profil de utilizator de internet diferit, fiind mai sofisticați și mai diverși în utilizare
        |.
    p
      |Astfel că deși utilizarea smartphone-ului este asociată cu un procent mai mare al copiilor care fac zilnic diferite activități pe internet, 
      strong acest fapt nu implică neapărat o relație cauzală, de la deținerea de smartphone la multitudinea de activități
      |. Din contra, fiind o tehnologie relativ nouă, putem explica relația de asociere de mai sus prin teoriile referitoare la adoptarea noilor tehnologii, teorii care spun că utilizatorii avansați și sofisticați ai unor tehnologii mai vechi sunt printre primii care adoptă de timpuriu noile tehnologii.