+article("3.3. Site-urile de socializare și platformele de partajare a conținutului media")
  +section("3.3. Site-urile de socializare și platformele de partajare a conținutului media")
    h1 3.3. Site-urile de socializare și platformele de partajare a conținutului media
    p Așa cum am văzut, frecventarea rețelelor de socializare de pe internet (social networking sites, SNS) se află în topul activităților zilnice pe care copiii le fac online, chiar mai mult în România față de alte părți. De asemenea, așa cum am văzut în secțiunile anterioare, copiii care folosesc dispozitive mobile pentru accesarea internetului tind în mai mare măsură decât restul să aibă activități zilnice pe un site de socializare. Figura 5 arată procentul copiilor din România care au unul sau mai multe conturi pe un astfel de site, în funcție de gen, vârstă și status socio-economic.
    .panel.panel-default
      .panel-heading
        p.table Figura 5: Procentul copiilor români care dețin un profil pe o rețea de socializare online, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU',
              data: [68, 'rgb(67,192,197)']
            },
            {
              name: 'Băieți',
              data: [79, 'rgb(97,150,202)']
            },
            {
              name: 'Fete',
              data: [78, 'rgb(97,150,202)']
            },
            {
              name: '9-10 ani',
              data: [50, 'rgb(190,207,0)']
            },
            {
              name: '11-12 ani',
              data: [80, 'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [86, 'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [92, 'rgb(190,207,0)']
            },
            {
              name: 'SSE scăzut',
              data: [81, 'rgb(147,183,139)']
            },
            {
              name: 'SSE mediu',
              data: [78, 'rgb(147,183,139)']
            },
            {
              name: 'SSE ridicat',
              data: [79, 'rgb(147,183,139)']
            },
            {
              name: 'Total RO',
              data: [79, 'rgb(67,192,197)']
            }
          ]
        })
      .panel-footer
        p.small-text Q16 a-f: Ai un profil personal pe care îl foloseşti în prezent pe o rețea de socializare de pe internet (ex. Facebook, Twitter, etc.)? Și dacă da, ai un singur profil/cont sau mai multe?
        p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        |La nivelul tuturor țărilor participante la proiect, 
        strong 68% dintre copii au cel puțin un cont pe o rețea de socializare (SNS)
        |. România este pe locul doi, după Danemarca, cu 8 din 10 copii având un astfel de cont.
      li
        strong Cea mai mare variație în utilizarea SNS apare - și la copiii din România, ca și la cei din restul țărilor dar la noi în mai mică măsură - cu vârsta
        |. Astfel, jumătate din copiii de 9-10 ani din România au un cont pe o rețea de socializare online, față de aproape un sfert (27%) la nivelul tuturor țărilor, în timp ce adolescenții de 15-16 ani din România sunt prezenți pe SNS în aproape aceeași măsură ca cei din restul țărilor (92% față de 93% media celor 7 țări). De notat că, deși cele mai multe astfel de site-uri interzic crearea unui cont de către utilizatori mai mici de 13 ani, 80% dintre copiii de 11-12 ani declară ca au un astfel de cont. Nici genul și nici statusul socio-economic nu reprezintă variabile importante în utilizarea acestor site-uri.
    p Strategiile de eludare ale regulilor de vârstă minimă obligatorie pentru creearea unui cont sunt diverse, cei mai mulți copii dând vârsta părinților sau o vârstă aleatoare (în general extremă, de tipul 100 de ani); uneori această strategie este considerată de copii ca ‘o glumă’, în timp ce de către părinți este considerată ‘o minciună’:
    em
      p.small-text “B2: Stai puţin Andrei. Adică tu n-ai făcut nicio chestie să spui că ....nu ai voie, că tu ai 10 ani.
      p.small-text Andrei: Dar… le-am făcut o farsă la ăia de pe Facebook. Am zis că am 20 de ani … Am zis ca am 20 de ani şi m-au lăsat pe  Facebook. 
      p.small-text Andrei: Ei, acuma nu mai este periculos Facebook-ul, doar vă ziceţi o vârstă, cum ar fi 45 de ani, aşa, aşa, şi gata. 
      p.small-text Tudor: Păi dacă vă vede?!” (băieți, 9-10 ani, FG05) 
    ul
      li
        strong Diferențele dintre țări 
        |sunt semnificative și de asemenea variația în timp a folosirii acestor site-uri. Astfel, dacă în 
        strong Danemarca și România în jur de 8 din 10 copii au un profil pe un site de socializare
        |, în Irlanda doar 54% dintre copii au un astfel de cont.
      li
        |Din 
        strong 2010 
        |(datele proiectului EU Kids Online) 
        strong până în 2013 asistăm
        |, la nivelul celor 7 țări, 
        strong la o creștere medie cu 7% a utilizării de către copii a SNS (de la 61 la 68%)
        |. Totuși, dacă în unele țări utilizarea rețelelor de socializare a crescut – uneori spectaculos, cum este cazul României, de la 
        strong 46% la 79% –, în alte țări, utilizarea acestor site-uri a scăzut
        |. Astfel, în Marea Britanie și Irlanda, țări în care ulterior proiectului EU Kids Online au existat susținute campanii publice de conștientizare a părinților cu privire la vârsta limită pe care trebuie să o aibă copiii când accesează aceste site-uri și de asemenea cu privire la potențialele pericole pe care copiii foarte mici le pot întâlni pe aceste platforme, 
        strong procentul de utilizare a lor a scăzut de la 67% la 58% dintre copii în Marea Britanie și de la 59% la 54% în Irlanda
        |.
    p
      |Acest lucru este concordant cu datele prezentate  de Tabelul 12 care arată o utilizare scăzută a platformelor de socializare online în rândul copiilor sub 13 ani în țări precum Marea Britanie, Irlanda și, în mai mică măsură Italia, acolo unde, conform analizei EU Kids Online găsim categoria copiilor “
      strong protejați prin restricție
      |”, caracterizată prin o mai mică incidență a riscurilor online întâlnite de către copii, asociată cu privilegierea de către părinți a unor strategii de mediere de tip restrictiv (Helsper 
      em et al
      |., 2013).
    .panel.panel-default
      .panel-heading
        p.table Tabelul 12: Copiii care dețin un profil pe o rețea de socializare, în funcție de țări și vârstă
      .panel.body
        table.table-responsive
          thead
            tr
              td %
              td 9-10 ani
              td 11-12 ani
              td 13-14 ani
              td 15-16 ani
              td Total
          tbody
            tr
              td Belgia
              td 22
              td 55
              td 75
              td 92
              td 66
            tr
              td Danemarca
              td 41
              td 81
              td 98
              td 99
              td 81
            tr
              td Irlanda
              td 14
              td 39
              td 83
              td 91
              td 54
            tr
              td Italia
              td 15
              td 52
              td 90
              td 93
              td 64
            tr
              td Portugalia
              td 26
              td 80
              td 88
              td 98
              td 76
            tr
              td România
              td 50
              td 80
              td 86
              td 92
              td 78
            tr
              td Marea Britanie
              td 19
              td 35
              td 73
              td 88
              td 58
            tr
              td Total EU (7)
              td 27
              td 60
              td 84
              td 93
              td 68
      .panel-footer
        p.small-text Q16 a-f: Ai un profil personal pe care îl foloseşti în prezent pe o reţea de socializare de pe internet (ex. Facebook, Twitter, etc.)? Şi dacă da, ai un singur profil/cont sau mai multe?
        p.small-text Bază: Toți copiii care utilizează internetul.
    p Principalele site-uri de socializare sunt Facebook (folosit de  90% dintre copii la nivelul celor 7 țări participante la proiect), Twitter (5%) și alte site-uri, în general locale, cu 5% dintre mențiuni. În România, spre deosebire de alte țări, se pare că Facebook încă este principalul site de socializare, 99% dintre copii menționând acest cont ca fiind principalul folosit pe SNS (în timp ce, în 2010 era menționat doar de 25% dintre copiii din țara noastră).  În Marea Britanie, deși Facebook rămâne majoritar (cu 75% dintre mențiuni), Twitter intră în preferințele a unui sfert dintre copii, în timp ce Belgia și Irlanda se remarcă cu un procent relativ mare (12%) de platforme alternative, unele dintre ele locale.
    p Așa cum au arătat-o interviurile avute cu copiii, prezența pe Facebook este de multe ori în perioada de început o normă socială: trebuie să fii în rețea!
    em
      p.small-text “B1: Şi a fost o perioadă în clasa noastră în care dacă nu aveai Facebook, practic nu existai.
      p.small-text B2: Exact, adică dacă ziceai ”Eu nu am Facebook!” erai inexistent în societate.
      p.small-text I: A, da!? Şi de-asta v-aţi făcut cu toţii?
      p.small-text Toți: Da.” (băieți, 11-13 ani, FG0)
    p
      |Lipsa de apetență a copiilor din România pentru Twitter pare să se datoreze faptului că nu este foarte cunoscut (“
      em Twitter? Ce e ăla?
      |”, întreba una din fetele de 11-13 ani la un focus grup) și copiii nu i-au descoperit încă toate funcțiile sau acestea nu se potrivesc (încă) nevoilor lor.
    em
      p.small-text “Twitter…, nu-mi place Twitter deoarece, într-un fel, încă nu am descoperit cum poţi să vorbeşti în ”fereastră” ca Facebook Messenger sau Skype” (băiat, 11-13 ani, FG pilot)
    p 
      |Așa cum o arată și Tabelul 12, partajarea sau vizualizarea unor conținuturi multimedia ocupă un loc important în activitățile zilnice online ale copiilor. Figura 6 aduce o informație în plus arătând care dintre copii (în termeni de gen, vârstă și status socio-economic) dețin un cont pe platformele de partajare a conținuturilor media (
      em e.g. 
      |YouTube, Instagram, Flikr).
    .panel.panel-default
      .panel-heading
        p.table Figura 6: Copiii din România (%) care dețin un cont pe o platformă de partajare de conținut media, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU',
              data: [33, 'rgb(67,192,197)']
            },
            {
              name: 'Băieți',
              data: [24, 'rgb(97,150,202)']
            },
            {
              name: 'Fete',
              data: [24, 'rgb(97,150,202)']
            },
            {
              name: '9-10 ani',
              data: [9, 'rgb(190,207,0)']
            },
            {
              name: '11-12 ani',
              data: [18, 'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [21, 'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [45, 'rgb(190,207,0)']
            },
            {
              name: 'SSE scăzut',
              data: [24, 'rgb(147,183,139)']
            },
            {
              name: 'SSE mediu',
              data: [23, 'rgb(147,183,139)']
            },
            {
              name: 'SSE ridicat',
              data: [31, 'rgb(147,183,139)']
            },
            {
              name: 'Total RO',
              data: [24, 'rgb(67,192,197)']
            }
          ]
        })
      .panel-footer
        p.small-text 
          |Q23 a-f: Ai profil/cont pe o platformă de sharing media (poze şi video) cum ar fi Youtube, Instagram, Flicker, pe care o foloseşti? Şi dacă da, ai un singur profil/cont sau mai multe?
        p.small-text 
          |Baza: Toți copiii care utilizează internetul. Segmentările pe gen și vârstă se referă la copiii din România.
    ul
      li La nivelul României, la fel ca la nivelul eșantionului european, deținerea unui cont pe o platformă de partajare a conținutului media este la același nivel în cazul fetelor și al băieților, dar variază substanțial cu vârsta, mergând de la 9% la 9-10 ani la 45% la adolescenți.
      li Dacă în ceea ce privește conturile pe rețelele de socializare online România se află pe locul doi dintre țările participante la proiect (după Danemarca), în ceea ce privește conturile pe platformele de distribuire a conținuturilor media, copiii din România sunt mult mai puțin prezenți, fiind pe penultimul loc, înaintea Italiei (cu doar 17%) și foarte departe de Danemarca, cu 58%.
      li
        |Două platforme se remarcă în cazul serviciilor de partajare de conținuturi mediatice, și anume Youtube (cu 55% dintre menționări la nivelul celor 7 țări participante la proiect) și Instagram (folosit de 37% la nivelul tuturor țărilor), restul de 8% utilizând alte platforme (e.g. Flikr, Picasa). Ca și în cazul SNS, 
        strong copiii din România tind să fie mai puțin diversificați în alegerea platformei media folosită
        |, 86% preferând Youtube (cel mai mare procent de utilizatori dintre țările participante) și 14% Instagram (spre deosebire de Irlanda, de exemplu, care are 34% dintre copii cu conturi pe Youtube, 42% cu conturi pe Instagram și 24% pe alte platforme).









