+article("5. Abilități digitale")
  +section("5. Abilități digitale")
    h1 5. Abilități digitale
    p
      |Abilitățile digitale sunt deseori considerate a fi, alături de activitățile online și încrederea în propriile cunoștințe legate de lumea digitală, un indicator al nivelului de alfabetizare digitală, sau, utilizând un termen englezesc care însă s-a încetățenit, nivelul de ‘digital literacy’. Există însă mai mulți cercetători, cărora autorii acestui raport li se alătură, care consideră că 
      strong alfabetizarea digitală este mai mult decât un set specific de competențe în ceea ce privește utilizarea internetului
      |, competențe pe care copilul poate să le dețină sau nu și care pot fi măsurate sau exact sau mai puțin exact folosind anumite teste, ci este un mix de cunoștințe, competențe și atitudini, care poate fi văzut ca ‘practică socială’ (
      +textTooltip("buckingham2007")
      |; 
      +textTooltip("livingstone2009")
      |). În acest sens, una dintre caracteristicile esențiale ale faptului de a fi alfabetizat digital (sau, mai larg, alfabetizat media) consistă în abilitatea de a dezvolta o relație de tip critic cu media și de a te putea angaja în folosirea media într-un mod autonom, competent și în siguranță, devenind nu doar utilizator, ci și creator de conținut.
    p
      |Din motive ce țin de limitările metodologice, în măsurarea gradului de alfabetizare digitală al copiilor noi nu am avut această viziune holistă, ci ne-am oprit la 
      strong trei seturi de indicatori care măsoară abilitățile – activitățile online ale copilului și încrederea în sine 
      |– strategie folosită și testată și în alte anchete (vezi 
      +textTooltip("livingstone2011")
      |). Recunoaștem de asemenea o altă limitare a metodologiei folosită în cadrul acestui proiect în măsurarea abilităților digitale ale copiilor, anume faptul că ne bazăm pe auto-raportarea copiilor și nu pe observația directă a modului cum aceștia se manifestă online, eventual în teste standardizate (
      +textTooltip("deursendijk2008")
      |). Cu toate acestea metodologia folosită de noi în proiectul Net Children Go Mobile a fost deja testată și validată în cadrul altor proiecte, astfel încât considerăm că limitările mai sus menționate nu impietează asupra acurateței datelor. În ceea ce privește modul în care cele trei seturi de indicatori se combină, cercetările anterioare arată că abilitățile sunt pozitiv asociate cu o diversitate și o frecvență mai mare a activităților online și de asemenea se asociază cu o încredere mai mare în capacitățile și cunoștințele proprii (
      +textTooltip("kuiperdehaan2012")
      |; 
      +textTooltip("livingstonehelsper2007")
      |, 
      +textTooltip("livingstone2009") 
      |). Rolul abilităților digitale în diminuarea impactului negativ asupra copilului aflat într-o anumită situație de risc online este însă mai puțin clar, deși unele studii arată că tinerii cu un nivel ridicat de abilități digitale raportează mai puține consecințe negative într-o situație de risc online, în timp ce copiii care raportează consecințe negative par să aibă un nivel mai mic de încredere în propriile competențe digitale (
      +textTooltip("sonckdehaan2013")
      |).
    p Pentru a avea o viziune cât mai exhausitvă asupra competențelor digitale ale copiilor, am măsurat mai multe tipuri de abilități, după cum urmează: abilități instrumentale, abilități critice și care țin de siguranța copiilor pe internet și abilități de comunicare. În plus am măsurat anumite abilități specifice dispozitivelor mobile de tip smartphone sau tabletă.