+article("5.2. Abilități și competențe legate de utilizarea internetului")
  +section("5.2. Abilități și competențe legate de utilizarea internetului")
    h1 5.2. Abilități și competențe legate de utilizarea internetului
    