+article("5.2. Abilități și competențe legate de utilizarea internetului")
  +section("5.2. Abilități și competențe legate de utilizarea internetului")
    h1 5.2. Abilități și competențe legate de utilizarea internetului
    p Tabelul 20 artă cum se distribuie în funcție de vârstă și gen abilitățile instrumentale și critice de folosire a internetului.
    p.table Tabelul 20: Abilitățile de utilizare și întelegere critică a internetului, în funcție de vârstă și gen
    p.small-text Q26 a-c: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul
      li
        strong Cele mai răspândite cunoștințe sunt cele de marcare a unui site 
        |(prin adăugarea la ‘favorite’), 55% dintre copii spunând că știu să facă acest lucru, urmat de analiza critică a site-urilor, unde 48% spun că știu să compare diferite site-uri pentru a decide dacă informațiile sunt adevărate sau nu; 
        strong cea mai puțin răspândită abilitate este cea de schimbare a preferințelor de filtrare
        |, deținută de 29% dintre copii.
      li
      |Printre ambele grupe de vârstă, 
      strong în general băieții afirmă în proporție mai mare decât fetele că dețin respectivele abilități
      |, excepție făcând marcarea unui site la ‘preferate’, unde sunt mai multe fete decât băieți care afirmă că au această abilitate în grupa 9-12 ani.
      li Variația în funcție de vârstă este considerabilă, cu cei mici declarându-se mai mică proporție competenți decât adolescenții, la toate abilitățile testate.
    p Tabelul 21 examinează variația abilităților digitale cu faptul de a fi sau nu utilizator de smartphone. Spre deosebire de eșantionul general, unde competențele declarate ale utilizatorilor de smartphone erau mai mari (uneori notabil) față de ne-utilizatori, în România acest lucru se întâmplă doar referitor la marcarea unui site și analiza critică a site-urilor pentru copiii de 9-10 ani  iar în grupa adolescenților pentru schimbarea preferințelor de filtrare (deși, printre cei foarte tineri, această abilitate este declarată mai mult în grupul neutilizatorilor). 
    p.table Tabelul 21: Abilitățile de utilizare și ințelegere critică a internetului, în funcție de vârstă și de faptul de a fi sau nu utilizator de smartphone
    p.small-text Q26 a-c: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de smartphone (așa cum apare în Tabelul 20).
    p Comparând competențele utilizatorilor de tablete față de ne-utilizatori (Tabelul 22), observăm că nu se poate discerne un tipar clar de variație, în unele grupe de vârstă unele abilități fiind mai mari printre utilizatori, în timp ce altele sunt mai mari printre ne-utilizatori.
    p.table Tabelul 22: Abilitățile de utilizare și intelegere critică a internetului, în funcție de vârstă și de faptul de a fi sau nu utilizator de tablete
    p.small-text Q26 a-c: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de tabletă (așa cum apare în Tabelul 20).
    p
      |Tabelul 23 se referă la abilitățile pentru folosirea în siguranță a internetului, în funcție de vârstă și gen. La toate cele 6 abilități măsurate, copiii din România sunt în urma mediei pentru cele 7 țări participante, doar două dintre abilități fiind deținute de mai mult de jumătate dintre copii: 
      strong schimbarea setărilor de confidențialitate ale contului de pe o platformă de socializare și blocarea mesajelor de la persoane cu care nu vor să fie în contact sunt abilități deținute de jumătate dintre copii
      |. Exceptând schimbarea setărilor de confidențialitate, care în rândul adolescenților este cunoscută în egală măsură de fete și băieți, toate celelalte abilități sunt clamate în mai mare proprție de băieți decât de fete. Cea mai puțin răspândită abilitate este cea de a bloca reclamele nedorite sau spam-ul(doar 39%). 
    p.table Tabelul 23: Abilitățile de utilizare în siguranță a internetului, în funcție de vârstă și gen
    p.small-text Q26 d, Q27 a-e: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p
      |Tabelul 24 arată cum variază abilitățile legate de utilizarea în siguranță a internetului cu faptul de a fi sau nu utilizator de smartphone. De această dată tiparul este mult mai vizibil (cu o excepție), 
      strong utilizatorii de smartphone declarând în mai mare proporție că dețin competențele testate față de neutilizatori
      |.  
    p.table Tabelul 24: Abilitățile de utilizare în siguranță a internetului, în funcție de vârstă și de faptul de a fi sau nu utilizator de smartphone
    p.small-text Q26 d, Q27 a-e: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de smartphone (așa cum apare în Tabelul 23).
    p Și în ceea ce privește abilitățile de utilizare în siguranță a internetului, utilizatorii de tablete au cunoștințe mai puțin conturate decât ne-utilizatorii. Astfel, să blocheze pop-up-urile sau să caute informații despre utilizarea în siguranță a internetului sunt abilități pe care utilizatorii de tablete le au în proporție mai mică decât ne-utilizatorii;  pentru ștergerea istoricului de navigare, schimbarea setărilor de confidențialitate și blocarea contactelor nedorite competențele în cele două grupe diferă în funcție de grupa de vârstă, în timp ce capacitatea de a găsi informații despre siguranța pe internet este clamată de mai mulți ne-utilizatori decât utilizatori (diferențele sunt mici).  
    p.table Tabelul 25: Abilitățile de utilizare în siguranță a internetului, în funcție de vârstă și de faptul de a fi sau nu utilizator de tabletă
    p.small-text Q26 d, Q27 a-e: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de tablete (așa cum apare în Tabelul 23).
    p Abilitățile digitale referitoare la practicile de comunicare online sunt încă divers cunoscute printre copii. Astfel așa cum se vede din Tabelul 26, blogul, ca activitate creativă și interactivă, rămâne o abilitate limitată situată doar în vârful ‘scării oportunităților’ (Livingstone & Helsper, 2007), 27% dintre copii declarând că știu cum se creează un blog; pe de altă parte, media sociale sunt acum parte integrală a activităților zilnice ale copiilor, 60% spunând că știu să posteze un comentariu și chiar mai mulți (67%) știind să încarce și să distribuie imagini și videoclipuri pe platformele de socializare. Toate aceste abilități variază în funcție de vârstă și, mai puțin, în funcție de gen.
    p.table Tabelul 26: Abilitățile digitale legate de practicile de comunicare, în funcție de vârstă și gen
    p.small-text Q27 f-h: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p Tabelul 27 arată că majoritatea abilităților comunicaționale sunt deținute în proporție mai mare în grupul utilizatorilor decât în cel al ne-utilizatorilor de smartphone, excepție făcând postarea unui comentariu (în grupa copiilor de 9-12 ani) și crearea unui blog (în grupa adolescenților), unde nu apar diferențe.
    p.table Tabelul 27: Abilitățile digitale legate de practicile de comunicare, în funcție de vârstă și de faptul de a fi sau nu utilizator de smartphone
    p.small-text Q27 f-h: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de smartphone (așa cum apare în Tabelul 26).
    p Utilizatorii de tablete se dovedesc mai puțin cunoscători în activitățile creative (e.g. crearea unui blog) decât ne-utilizatorii, deși competențele legate de activitățile pe platformele de socializare sunt afirmate de mai mulți utilizatori decât ne-utilizatori (cu excepția postării unui comentariu care, în grupa 9-12 ani este mai frecvent menționată printre ne-utilizatori). 
    p.table Tabelul 28: Abilitățile digitale legate de practicile de comunicare, în funcție de vârstă și de faptul de a fi sau nu utilizator de tabletă
    p.small-text Q27 f-h: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Baza: Toți copiii care utilizează internetul.
    p.small-text * Totalurile din acest tabel se referă la procentul de copii care sunt utilizatori de internet și afirmă că au abilitățile despre care sunt întrebați indiferent dacă sunt sau nu utilizatori de tablete (așa cum apare în Tabelul 26).









    