+article("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
  +section("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
    h1 5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor
    p Așa cum spuneam la începutul capitolului, dincolo de abilitățile legate de utilizarea internetului, am testat, printre utilizatorii de dispozitive mobile, deținerea unor competențe specifice acestor practici. 
    p 
      |Așa cum arată Tabelul 29, 
      strnog majoritatea 
      |copiilor dețin aceste competențe specifice dispozitivelor mobile, cei mai mulți știind să  
      strong descarce aplicații 
      |(85%) și să 
      strong conecteze dispozitivul la o rețea wifi 
      |(80%). Totuși, doar jumătate dintre copii știu să sincronizeze dispozitivele între ele și să analizeze critic două aplicații similare pentru a decide care este mai bună. 
    p În general factorul vârstă este important, atât în ceea ce privește abilitățile cele mai comune, cât mai ales în ceea ce privește abilitățile mai puțin comune, cum ar fi sincronizarea dispozitivelor între ele. Diferențele de gen apar de fiecare dată, mai accentuate în grupa de vârstă 9-12 ani (în grupul adolescenților cunoștințe de conectare la o rețea wifi fiind de acum norma). O excepție de notat, care necesită verificări și explicații ulterioare, este procentul fetelor care spun că știu să compare critic două aplicații din grupa de vârstă 9-12 ani care este superior atât procentului de băieți din aceeași grupă, cât și adolescentelor care afirmă acest lucru.  
    .panel.panel-default
      .panel-heading
        p.table Tabelul 29: Abilitățile de folosire și înțelegere critică a smartphone-urilor și tabletelor, în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              td % cei care spun că știu...
              td 
                div Băieți
                div 9-12 ani
              td 
                div Fete
                div 9-12 ani
              td 
                div Băieți
                div 13-16 ani
              td 
                div Fete
                div 13-16 ani
              td Total RO
              td TOTAL EU (7)
          tbody
            tr
              td Să descarci aplicaţii
              td 86
              td 63
              td 96
              td 90
              td 85
              td 93
            tr
              td Să te conectezi la o reţea wifi de pe smartphone-ul/ tableta ta
              td 68
              td 55
              td 92
              td 92
              td 80
              td 89
            tr
              td Să ai aceleaşi documente, contacte şi aplicaţii pe toate dispozitivele pe care le foloseşti (smartphone, tabletă, computer)
              td 43
              td 13
              td 77
              td 58
              td 52
              td 57
            tr
              td Să compari diferite aplicaţii cu funcţii similare pentru a  o alege pe cea mai de încredere
              td 44
              td 50
              td 74
              td 39
              td 52
              td 66
      .panel-footer
        p.small-text Q28 a, Q28 c, Q28 e, Q29 b: Pe care dintre lucrurile următoare ştii să le faci?
        p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.
    p Abilitățile de folosire în siguranță a dispozitivelor mobile sunt, așa cum o arată Tabelul 30, mai răspândite printre utilizatorii acestor dispozitive decât în cazul internetului în general (Tabelul 23) unde doar 2 din 6 erau deținute de o majoritate a copiilor. Astfel, despre trei din 5 abilități despre care au fost întrebați, mai mult de jumătate au spus că le dețin, cea mai comună fiind protejarea dispozitivului printr-un cod PIN (cu 8 din 10 copii afirmând că știe să o facă) și găsirea de informații despre folosirea în siguranță a smartphone-ului, 7 din 10 copii spunând că știu acest lucru. Dezactivarea funcțiilor de geo-localizare este cunoscută de 56% dintre copii, mai puțin decât media europeană.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 30: Abilitățile de folosire în siguranță a smartphone-urilor și a tabletelor, în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              td % cei care spun că știu...
              td 
                div Băieți
                div 9-12 ani
              td 
                div Fete
                div 9-12 ani
              td 
                div Băieți
                div 13-16 ani
              td 
                div Fete
                div 13-16 ani
              td Total RO
              td TOTAL EU (7)
          tbody
            tr
              td Să dezactivezi funcţiile de localizare geografică (pe Facebook, Google Maps)
              td 43
              td 28
              td 79
              td 70
              td 56
              td 63
            tr
              td Să blochezi notificările push ale diferitelor aplicaţii (notificări automate care te informează despre ultimele noutăţi) 
              td 46
              td 29
              td 78
              td 67
              td 43
              td 61
            tr
              td Să blochezi pop-upuri care  promovează aplicaţii, jocuri sau servicii pentru care trebuie să plăteşti 
              td 32
              td 28
              td 65
              td 49
              td 34
              td 48
            tr
              td Să protejezi un smartphone cu un cod PIN/un model de blocare ecran
              td 77
              td 84
              td 96
              td 96
              td 80
              td 88
            tr
              td Să găseşti informaţii despre cum să foloseşti smartphone-urile în siguranţă
              td 52
              td 42
              td 75
              td 72
              td 70
              td 68
      .panel-footer
        p.small-text Q28 b, Q28 d, Q28 f, Q28 g, Q29 a: Pe care dintre lucrurile următoare ştii să le faci?
        p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.
    ul
      li
        |Copiii din România dovedesc, 
        strong în mai mare proporție decât cei din restul țărilor participante la proiect, un comportament mai degrabă pasiv în fața informațiilor nesolicitate și a publicității
        |, doar 34% știind să dezactiveze pop-up-urile de reclame și 43% alte notificări.
      li Și de această dată fetele par să fie mai puțin cunoscătoare decât băieții, afirmând – la ambele grupe de vârstă, la aproape toate abilitățile despre care au fost întrebate – în mai mică proporție decât băieții că le dețin (totuși, câdn sunt mici sunt mai protective cu spațiul lor privat decât băieții, știind în mai mare proporție să protejeze cu cod PIN dispozitivul.
      li Vârsta rămâne factorul cel mai important de variație a abilităților testate în Tabelul 30, copiii de vârste mici fiind în mod deosebit mai expuși riscurilor comerciale.
    p
      |Ultimul set de abilități testate printre utilizatorii de dispozitive mobile se referă la abilitățile de comunicare în practici care implică folosirea dispozitivului mobil. Așa cum se poate observa în Tabelul 31, 
      strong majoritatea copiilor afirmă că dețin abilitățile necesare pentru comunicarea pe SNS folosind un dispozitiv mobil
      |. Astfel, 72% spun că știu să își actualizeze statusul și 82% cspun că știu să încarce pe platforme un material multimedia. Vârsta rămâne un factor important în distribuția acestor abilități, și în mod surprinzător dat fiind că este vorba de practici de comunicare, băieții își asumă (cu o excepție) aceste abilități în mai mare proporție decât fetele.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 31: Abilitățile de utilizare a smartphone-urilor și tabletelor în practicile de comunicare, în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              td % cei care spun că știu...
              td 
                div Băieți
                div 9-12 ani
              td 
                div Fete
                div 9-12 ani
              td 
                div Băieți
                div 13-16 ani
              td 
                div Fete
                div 13-16 ani
              td Total RO
              td TOTAL EU (7)
          tbody
            tr
              td Să îţi actualizezi statusul pe reţeaua de socializare pe care o foloseşti cel mai des
              td 57
              td 33
              td 94
              td 82
              td 72
              td 79
            tr
              td Să faci fotografii sau să filmezi un video scurt cu smartphone-ul tău şi să le încarci pe reţelele de socializare
              td 63
              td 95
              td 93
              td 80
              td 82
              td 86
      .panel-footer
        p.small-text Q28 h, Q29 c: Pe care dintre următoarele lucruri ştii să le faci?
        p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.
