+article("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
  +section("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
    h1 5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor
    p Așa cum spuneam la începutul capitolului, dincolo de abilitățile legate de utilizarea internetului, am testat, printre utilizatorii de dispozitive mobile, deținerea unor competențe specifice acestor practici. 
    p Așa cum arată Tabelul 29, majoritatea copiilor dețin aceste competențe specifice dispozitivelor mobile, cei mai mulți știind să  descarce aplicații (85%) și să conecteze dispozitivul la o rețea wifi (80%). Totuși, doar jumătate dintre copii știu să sincronizeze dispozitivele între ele și să analizeze critic două aplicații similare pentru a decide care este mai bună. 
    p În general factorul vârstă este important, atât în ceea ce privește abilitățile cele mai comune, cât mai ales în ceea ce privește abilitățile mai puțin comune, cum ar fi sincronizarea dispozitivelor între ele. Diferențele de gen apar de fiecare dată, mai accentuate în grupa de vârstă 9-12 ani (în grupul adolescenților cunoștințe de conectare la o rețea wifi fiind de acum norma). O excepție de notat, care necesită verificări și explicații ulterioare, este procentul fetelor care spun că știu să compare critic două aplicații din grupa de vârstă 9-12 ani care este superior atât procentului de băieți din aceeași grupă, cât și adolescentelor care afirmă acest lucru.  
    p.table Tabelul 29: Abilitățile de folosire și ințelegere critică a smartphone-urilor și tabletelor, în funcție de vârstă și gen
    p.small-text Q28 a, Q28 c, Q28 e, Q29 b: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.
    p Abilitățile de folosire în siguranță a dispozitivelor mobile sunt, așa cum o arată Tabelul 30, mai răspândite printre utilizatorii acestor dispozitive decât în cazul internetului în general (Tabelul 23) unde doar 2 din 6 erau deținute de o majoritate a copiilor. Astfel, despre trei din 5 abilități despre care au fost întrebați, mai mult de jumătate au spus că le dețin, cea mai comună fiind protejarea dispozitivului printr-un cod PIN (cu 8 din 10 copii afirmând că știe să o facă) și găsirea de informații despre folosirea în siguranță a smartphone-ului, 7 din 10 copii spunând că știu acest lucru. Dezactivarea funcțiilor de geo-localizare este cunoscută de 56% dintre copii, mai puțin decât media europeană.
    p.table Tabelul 30: Abilitățile de folosire în siguranță a smartphone-urilor și a tabletelor, în funcție de vârstă și gen
    p.small-text Q28 b, Q28 d, Q28 f, Q28 g, Q29 a: Pe care dintre lucrurile următoare ştii să le faci?
    p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.
    ul
      li
        |Copiii din România dovedesc, 
        strong în mai mare proporție decât cei din restul țărilor participante la proiect, un comportament mai degrabă pasiv în fața informațiilor nesolicitate și a publicității
        |, doar 34% știind să dezactiveșe pop-up-urile de reclame și 43% alte notificări.
      li Și de această dată fetele par să fie mai puțin cunoascătoare decât băieții, afirmând – la ambele grupe de vârstă, la aproape toate abilitățile despre care au fost întrebate – în mai mică proporție decât băieții că le dețin (totuși, câdn sunt mici sunt mai protective cu spațiul lor privat decât băieții, știind în mai mare proporție să protejeze cu cod PIN dispozitivul.
      li Vârsta rămâne factorul cel mai important de variație a abilităților testate în Tabelul 30, copiii de vârste mici fiind în mod deosebit mai expuși riscurilor comerciale.
    p
      |Ultimul set de abilități testate printre utilizatorii de dispozitive mobile se referă la abilitățile de comunicare în practici care implică folosirea dispozitivului mobil. Așa cum se poate observa în Tabelul 31, 
      strong majoritatea copiilor afirmă că dețin abilitățile necesare pentru comunicarea pe SNS folosind un dispozitiv mobil
      |. Astfel, 72% spun că știu să își actualizeze statusul și 82% cspun că știu să încarce pe platforme un material multimedia. Vârsta rămâne un factor important în distribuția acestor abilități, și în mod surprinzător dat fiind că este vorba de practici de comunicare, băieții își asumă (cu o excepție) aceste abilități în mai mare proporție decât fetele.
    p.table Tabelul 31: Abilitățile de utilizare a smartphone-urilor și tabletelor în practicile de comunicare, în funcție de vârstă și gen
    p.small-text Q28 h, Q29 c: Pe care dintre următoarele lucruri ştii să le faci?
    p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.




