+article("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
  +section("5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor")
    h1 5.3. Abilități legate de utilizarea smartphone-urilor și a tabletelor

    