+article("5.4. Numărul mediu de abilități deținute")
  +section("5.4. Numărul mediu de abilități deținute")
    h1 5.4. Numărul mediu de abilități deținute
    p În continuare vrem să arătăm cum variază numărul mediu de abilități de folosire a internetului și a dispozitivelor mobile, în funcție de vârstă, gen și status socio-economic, luând în considerare toate abilitățile testate. 
    p.table Figura 17: Numărul mediu de abilități de utilizare a internetului (din 12 testate)
    h1 TODO. excepție de la regulă
    +hchart({
      bars: [
        {
          name: 'Total EU (7)',
          data: [5.9, 'rgb(34,149,202)']
        },
        {
          name: 'Băieți',
          data: [12, 'rgb(34,149,202)']
        },
        {
          name: 'Fete',
          data: [17, 'rgb(34,149,202)']
        },
        {
          name: '9-10 ani',
          data: [44, 'rgb(190,207,0)']
        },
        {
          name: '11-12 ani',
          data: [11, 'rgb(190,207,0)']
        },
        {
          name: '13-14 ani',
          data: [3, 'rgb(190,207,0)']
        },
        {
          name: '15-16 ani',
          data: [6,"rgb(190,207,0)"]
        },
        {
          name: 'SSE scăzut',
          data: [16,"rgb(147,183,139)"]
        },
        {
          name: 'SSE mediu',
          data: [14,"rgb(147,183,139)"]
        },
        {
          name: 'SSE ridicat',
          data: [17,"rgb(147,183,139)"]
        },
        {
          name: 'Total RO',
          data: [15,"rgb(67,192,197)"]
        }
      ]
    })
    p.small-text Q26 a-d, Q27 a-h: Pe care dintre următoarele lucruri ştii să le faci? (Numărul mediu de abilități din 12 posibile.)
    p.small-text Bază: Toți copiii care utilizează internetul.
    p Astfel, așa cum se poate vedea din Figura 17, în medie, copiii din România au 5,5 abilități din 12 testate, un scor ceva mai scăzut decât cel european (5,9). Ca model general de variație, se urmează modelul regăsit și la nivelul tuturor țărilor, cu:
    ul
      li
        strong Băieții asumând mai multe competențe decât fetele
        |, 5,9 față de 5,1 la fete.
      li
        |Variație constantă și substanțială 
        strong cu vârsta 
        |-  de la 2,2 în grupul celor de 9-10 ani la 7,8 pentru adolescenții de 15-16 ani. Diferențele la nivelul tuturor țărilor sunt și mai marcante sub acest aspect, de la 1,9 la 8,7; ele pot fi explicate prin faptul că, în țările vestice în special (încadrate, așa cum spuneam la început, în grupa copiilor protejați prin restricție, Helsper et al., 2013) la vârste mici, măsurile de protecție parentală îi protejează dar îi și limitează pe copii în activitățile lor pe internet, în timp ce la vârste mari copiii sunt susținuți în activitățile lor online atât de părinți cât și de sistemul educativ unde au mai multe cursuri referitoare la acest domeniu. 
      li În ceea ce privește variația cu SSE, grupul de mijloc deține cele mai multe competențe, așa cum se întâmpla și când erau puși să-și compare abilitățile cu cele ale părinților.
    p În ceea ce privește folosirea dispozitivelor mobile, numărul mediu de competențe deținute de copiii din România este de 6,7 (din 11), față de 7,5 la nivelul tuturor țărilor implicate în proiect.
    ul
      li Se menține și la acest indicator variația cu vârsta, deși diferențele nu mai sunt atât de mari ca în cazul folosirii internetului (mai puțin decât dublu numărul mediu de abilități între grupa celor foarte mici și grupa adolescenților de 15-16 ani, față de o diferență de aproape 4 ori mai mare în cazul folosirii internetului). 
      li În schimb, cresc disparitățile în funcție de gen, băieții afirmând cu aproape 2 abilități în plus față de fete.
      li În funcție de SSE asistăm la același tip de variație, cu clasa de mijloc asumând cele mai multe competențe, 7,2 (față de 6,2 câte declară copiii cu SSE scăzut). La nivelul eșantionului general, de 7 țări, SSE nu mai determină variații importante în ceea ce privește abilitățile de folosire a dispozitivelor mobile. 
    p.table Figura 18: Numărul mediu de abilități de utilizare a smartphone-urilor și a tabletelor (din 11 testate)
    h1 todo after the mixin is adapted
    p.small-text Q26 a-d, Q27 a-h: Pe care dintre următoarele lucruri ştii să le faci? (Numărul mediu de abilități din 11 posibile.)
    p.small-text Bază: Toți copiii care dețin sau au spre folosință un smartphone sau o tabletă.



