+article("2. Acces și utilizări")
  +section("2. Acces și utilizări")
    h1 2. Acces și utilizări
<<<<<<< HEAD
    p
      |Cercetările anterioare au arătat că experiența online a copiilor este influențată de contextul social în care are loc accesarea și utilizarea internetului (Livingstone 
      em et al.
      |, 2011). În ceea ce privește accesarea, este de presupus că media mobile și convergente vor extinde spațial și temporal situațiile sau contextele de accesare a internetului oferind teoretic o accesibilitate ‘oriunde și oricând’. În fapt, aceasta este limitată economic și tehnologic (prin costurile pe care le implică pachetul de internet mobil sau prin lipsa unei conexiuni wifi) cee ce face ca utilizarea acestor dipozitive mobile ‘în mișcare’ să fie în fapt limitată. Cu toate acestea, media mobile și convergente pot reconfigura convențiile sociale asupra libertății, intimității și supravegherii. 
    p
      |În scopul înțelegerii cât mai complexe a utilizării  internetului de către copii în viața cotidiană, am folosit trei indicatori: (1) 
      em locul din care este utilizat internetul
      |: acasă, în propriul dormitor; acasă, dar nu în dormitorul propriu; la școală; alte locuri, cum ar fi bibliotecile, cafenele, acasă la prieteni sau rude; când se află în mișcare, în drum spre școală sau spre alte locuri; (2) 
      em frecvența utilizării
      |: de câteva ori pe zi, zilnic, cel puțin o dată pe săptămână, niciodată sau aproape niciodată; și (3) 
      em dispozitivul de pe care intră pe internet
      |: computer de birou, laptop sau notebook, telefon mobile, smartphone, tablete, alte dispozitive mobile de tipul iPod Touch, cititoare de cărți electronice sau console de jocuri portabile.
=======
    p Cercetările anterioare au arătat că experiența online a copiilor este influențată de contextul social în care are loc accesarea și utilizarea internetului (Livingstone et al., 2011). În ceea ce privește accesarea, este de presupus că media mobile și convergente vor extinde spațial și temporal situațiile sau contextele de accesare a internetului oferind teoretic o accesibilitate ‘oriunde și oricând’. În fapt, aceasta este limitată economic și tehnologic (prin costurile pe care le implică pachetul de internet mobil sau prin lipsa unei conexiuni wifi) cee ce face ca utilizarea acestor dipozitive mobile ‘în mișcare’ să fie în fapt limitată. Cu toate acestea, media mobile și convergente pot reconfigura convențiile sociale asupra libertății, intimității și supravegherii. 
    +vocword("test")
>>>>>>> 5b0edda243d5fc948990ea94be96edae04949a3d
