+article("2.1. Unde? Locul de acces al  internetului")
  +section("2.1. Unde? Locul de acces al  internetului")
    h1 2.1. Unde? Locul de acces al  internetului
    p
      strong Odată cu apariția și răspândirea dispozitivelor mobile de accesare a internetului, asistăm la o diversificare a locurilor de unde este accesat
      | , ajungându-se posibilitatea “conectivității ubicue” (Peter & Valkenburg, 2006) și, de asemenea, la posibila prezență neîntreruptă a online-ului în viața de zi cu zi a copiilor.
    p În ciuda acestei potențialități a conectivității “oriunde și oricând”, copiii indică încă 
      strong spațiul casei 
      | (propriul dormitor și alte spații comune) ca 
      strong loc predilect de unde accesează internetul 
      | (indiferent de dispozitivul folosit pentru aceasta). Tabelul 1 arată frecvența cu care copiii accesează internetul în diferite locații (care nu se exclud reciproc, dat fiind că, în general copiii intră pe internet în mai multe situații și din mai multe locuri).
    p.table Tabelul 1: Cât de des utilizează copiii internetul în diverse locații
    table.table-responsive
      tr.blue
        td %
        td De mai multe ori pe zi
        td Zilnic sau aproape zilnic
        td Cel putin o dată pe săptămână
        td Niciodată sau aproape niciodată
      tr.white
        td.left Acasă, în camera ta (sau în altă cameră personală)
        td 31,8
        td 27,8
        td 8,9
        td 31,5
      tr.blue
        td.left Acasă dar nu în camera ta (sau în altă cameră personală)
        td 14,0
        td 26,2
        td 18,9
        td 41,0
      tr.white
        td.left La şcoală
        td 3,8
        td 7,3
        td 41,7
        td 47,2
      tr.blue
        td.left În alte locuri (la rude sau prieteni, în biblioteci, cafenele ...)
        td 2,1
        td 6,6
        td 41,1
        td 50,2
      tr.white
        td.left Când eşti în drum spre şcoală sau spre alte locuri 
        td 1,5
        td 6,1
        td 7,8
        td 84,7
    .text-small Q1 a-e: Uitându-te la aceast cartonaş, te rog să îmi spui cât de des intri online sau foloseşti internetul (pe un computer, un telefon mobil, un smartphone sau orice alt obiect de pe care poţi intra online) în locurile urmatoare…
    .text-small Baza: Toți copiii care utilizează internetul.
    ul 
      li 
        strong 6 din 10 copii din România accesează zilnic internetul din camera proprie, în timp ce  unul din trei nu accesează niciodată sau aproape niciodată internetul din intimitatea camerei. 
        | Cei care accesează zilnic internetul de acasă, dar dintr-un spațiu comun reprezintă 40% (față de 60% la nivelul celor 7 țări participante la cercetare).
      li 
        strong 11% 
        | dintre copiii din România accesează internetul zilnic
        strong la școală
        | , față de o medie europeană (la nivelul celor 7 țări participante în proiect) de 21%. În același timp, aproape jumătate (47%) 
        strong declară că nu accesează niciodată sau aproape niciodată internetul când sunt la școală.
      li Doar 
        strong 8% dintre copii sunt cu adevărat mobili 
        | în accesarea internetului, declarând că folosesc zilnic internetul când sunt în mișcare (față de 17% la nivelul celor 7 țări), în timp ce 85% declară că nu folosesc niciodată sau aproape niciodată internetul când sunt pe drum. Explicația limitării accesului, pentru copiii din România, la internetul mobil este, pe de o parte, de 
        strong natură obiectivă 
        | - și constă în motive economice (dispozitivele fiind încă relativ costisitoare pentru puterea de cumpărare a românilor) și motive tehnologice (limitarea spațiilor publice care oferă acces wifi gratuit) - și, pe de altă parte, de 
        strong natură subiectivă
        | , mulți dintre părinți împotrivindu-se acestei tehnologii mobile pe care o consideră fie potențial periculoasă copiilor, fie inutilă. 
    p Tabelul 2 arată cine sunt (în termeni de gen, vârstă și status socio-economic) cei care folosesc internetul în diferite locații.
    p.table Tabelul 2: Utilizarea zilnică a internetului în diferite locatii în functie de gen, vârstă și status socio-economic
    table.table-responsive
      tr.blue
        td 
        td % Acasă, în camera ta (sau în altă cameră personală
        td % Acasă dar nu în camera ta
        td % Acasă dar nu în camera ta
        td % În alte locuri (la rude, prieteni, în biblioteci, cafenele)
        td % Când eşti pe drum (spre şcoală sau spre alte locuri 
      tr.white
        td Băieți
        td 59
        td 37
        td 7
        td 11
        td 7
      tr.blue
        td Fete
        td 60
        td 43
        td 15
        td 7
        td 8
      tr.white
        td 9-10 
        td 44
        td 27
        td 2
        td 3
        td 4
      tr.blue
        td 11-12
        td 54
        td 43
        td 9
        td 8
        td 2
