+article("2.1. Unde? Locul de acces al  internetului")
  +section("2.1. Unde? Locul de acces al  internetului")
    h1 2.1. Unde? Locul de acces al  internetului
    p
      strong Odată cu apariția și răspândirea dispozitivelor mobile de accesare a internetului, asistăm la o diversificare a locurilor de unde este accesat
      |, ajungându-se posibilitatea “conectivității ubicue” (Peter & Valkenburg, 2006) și, de asemenea, la posibila prezență neîntreruptă a online-ului în viața de zi cu zi a copiilor.
    p
      |În ciuda acestei potențialități a conectivității “oriunde și oricând”, copiii indică încă 
      strong spațiul casei 
      |(propriul dormitor și alte spații comune) ca 
      strong loc predilect de unde accesează internetul 
      |(indiferent de dispozitivul folosit pentru aceasta). Tabelul 1 arată frecvența cu care copiii accesează internetul în diferite locații (care nu se exclud reciproc, dat fiind că, în general copiii intră pe internet în mai multe situații și din mai multe locuri).
    p Tabelul 1: Cât de des utilizează copiii internetul în diverse locații
    table.table-responsive
      tr
        th %
        th De mai multe ori pe zi
        th Zilnic sau aproape zilnic
        th Cel puțin odată pe săptămână
        th Niciodată sau aproape niciodată
      tr
        td Acasă, în camera ta (sau în altă cameră personală)
        td 31,8
        td 27,8
        td 8,9
        td 31,5
      tr
        td Acasă dar nu în camera ta (sau în altă cameră personală)
        td 14,0
        td 26,2
        td 18,9
        td 41,0
      tr
        td La şcoală
        td 3,8
        td 7,3
        td 41,7
        td 47,2
      tr
        td În alte locuri (la rude sau prieteni, în biblioteci, cafenele ...)
        td 2,1
        td 6,6
        td 41,1
        td 47,2
      tr
        td Când eşti în drum spre şcoală sau spre alte locuri 
        td 1,5
        td 6,1
        td 7,8
        td 84,7
