+article("2.1. Unde? Locul de acces al  internetului")
  +section("2.1. Unde? Locul de acces al  internetului")
    h1 2.1. Unde? Locul de acces al  internetului
    p
      strong Odată cu apariția și răspândirea dispozitivelor mobile de accesare a internetului, asistăm la o diversificare a locurilor de unde este accesat
      | , ajungându-se posibilitatea “conectivității ubicue” (Peter & Valkenburg, 2006) și, de asemenea, la posibila prezență neîntreruptă a online-ului în viața de zi cu zi a copiilor.
    p În ciuda acestei potențialități a conectivității “oriunde și oricând”, copiii indică încă 
      strong spațiul casei 
      | (propriul dormitor și alte spații comune) ca 
      strong loc predilect de unde accesează internetul 
      | (indiferent de dispozitivul folosit pentru aceasta). Tabelul 1 arată frecvența cu care copiii accesează internetul în diferite locații (care nu se exclud reciproc, dat fiind că, în general copiii intră pe internet în mai multe situații și din mai multe locuri).
    p.blue Tabelul 1: Cât de des utilizează copiii internetul în diverse locații
    table.table-responsive
      th %
      th De mai multe ori pe zi
      th Zilnic sau aproape zilnic
      th Cel putin o dată pe săptămână
      th Niciodată sau aproape niciodată
      tr
        td Acasă, în camera ta (sau în altă cameră personală)
        td 31,8
        td 27,8
        td 8,9
        td 31,5
      tr
        td Acasă dar nu în camera ta (sau în altă cameră personală)
        td 14,0
        td 26,2
        td 18,9
        td 41,0
      tr
        td  La şcoală
        td 3,8
        td 7,3
        td 41,7
        td 47,2
      tr
        td  În alte locuri (la rude sau prieteni, în biblioteci, cafenele ...)
        td 2,1
        td 6,6
        td 41,1
        td 50,2
      tr
        td  Când eşti în drum spre şcoală sau spre alte locuri 
        td 1,5
        td 6,1
        td 7,8
        td 84,7
    .text-small Q1 a-e: Uitându-te la aceast cartonaş, te rog să îmi spui cât de des intri online sau foloseşti internetul (pe un computer, un telefon mobil, un smartphone sau orice alt obiect de pe care poţi intra online) în locurile urmatoare…
      br
      | Baza: Toți copiii care utilizează internetul.
    ul 
      li 
        strong 6 din 10 copii din România accesează zilnic internetul din camera proprie, în timp ce  unul din trei nu accesează niciodată sau aproape niciodată internetul din intimitatea camerei. 
        | Cei care accesează zilnic internetul de acasă, dar dintr-un spațiu comun reprezintă 40% (față de 60% la nivelul celor 7 țări participante la cercetare).
      li 
        strong 11% 
        | dintre copiii din România accesează internetul zilnic
        strong la școală
        | , față de o medie europeană (la nivelul celor 7 țări participante în proiect) de 21%. În același timp, aproape jumătate (47%) 
        strong declară că nu accesează niciodată sau aproape niciodată internetul când sunt la școală.
      li Doar 
        strong 8% dintre copii sunt cu adevărat mobili 
        | în accesarea internetului, declarând că folosesc zilnic internetul când sunt în mișcare (față de 17% la nivelul celor 7 țări), în timp ce 85% declară că nu folosesc niciodată sau aproape niciodată internetul când sunt pe drum. Explicația limitării accesului, pentru copiii din România, la internetul mobil este, pe de o parte, de 
        strong natură obiectivă 
        | - și constă în motive economice (dispozitivele fiind încă relativ costisitoare pentru puterea de cumpărare a românilor) și motive tehnologice (limitarea spațiilor publice care oferă acces wifi gratuit) - și, pe de altă parte, de 
        strong natură subiectivă
        | , mulți dintre părinți împotrivindu-se acestei tehnologii mobile pe care o consideră fie potențial periculoasă copiilor, fie inutilă. 
    p Tabelul 2 arată cine sunt (în termeni de gen, vârstă și status socio-economic) cei care folosesc internetul în diferite locații.
    p.blue Tabelul 2: Utilizarea zilnică a internetului în diferite locatii în functie de gen, vârstă și status socio-economic
    table.table-responsive
      th 
      th % Acasă, în camera ta (sau în altă cameră personală)
      th % Acasă dar nu în camera ta
      th % Acasă dar nu în camera ta
      th % În alte locuri (la rude, prieteni, în biblioteci, cafenele)
      th % Când eşti pe drum (spre şcoală sau spre alte locuri 
      tr
        td Băieți
        td 59
        td 37
        td 7
        td 11
        td 7
      tr
        td Fete
        td 60
        td 43
        td 15
        td 7
        td 8
      tr
        td 9-10 
        td 44
        td 27
        td 2
        td 3
        td 4
      tr
        td 11-12
        td 54
        td 43
        td 9
        td 8
        td 2
      tr
        td 13-14
        td 67
        td 43
        td 7
        td 6
        td 12
      tr
        td 15-16
        td 69
        td 47
        td 24
        td 16
        td 11
      tr
        td SSE scăzut
        td 50
        td 43
        td 10
        td 5
        td 6
      tr
        td SSE mediu
        td 67
        td 37
        td 7
        td 10
        td 5
      tr
        td SSE ridicat
        td 73
        td 46
        td 25
        td 19
        td 18
      tr 
        td Total RO 
        td 60
        td 40
        td 11
        td 9 
        td 8
      tr 
        td Total EU 
        td 55
        td 60
        td 21
        td 17
        td 17
    p.text-small Q1 a-e: Uitându-te la aceast cartonaş, te rog să îmi spui cât de des intri online sau foloseşti internetul (pe un computer, un telefon mobil, un smartphone sau orice alt obiect de pe care poţi intra online) în locurile urmatoare…
      br
      | Baza: Toți copiii care utilizează internetul.
    ul 
      li În toate locațiile despre care au fost întrebați, 
        strong folosirea zilnică a internetului variază cu vârsta
        | , cei mari fiind mai probabil să utilizeze internetul din mai multe locații.
      li Grupele de vârstă 13-14 și 15-16 ani sunt de un interes deosebit deoarece în România, spre deosebire restul țărilor, nu apare un salt semnificativ în termeni de folosirea internetului mobil (mai mică chiar la cei de 15-16 ani) sau de folosirea internetului din intimitatea dormitorului propriu, 
        strong între cele doua grupe de vârstă, în schimb apare o diferență notabilă în folosirea internetului la școală 
        | (de la 7% la 24%).
      li Fetele par mai dispuse să folosească internetul din spațiile comune ale casei și de la școală, în timp ce băieții preferă să rămână la nivelul camerei proprii.
      li Diferențele de status socio-economic sunt de asemenea importante, mai ales pentru accesarea internetului din camera proprie și din alte spații – unde cu cât copiii provin din familii mai bine situate, cu atât sunt mai mari șansele să acceseze zilnic internetul din aceste locații. Pe de altă parte, este de remarcat faptul că, în ceea ce privește folosirea internetului în mișcare și folosirea lui la școală, copiii cu status socio-economic redus și mediu sunt relativ asemănători, dar diferă mult de copiii cu status socio-economic ridicat.
      li Comparat cu restul țărilor  participante la proiect, copiii din România sunt, după cei din Danemarca, printre cei mai dispuși să folosească zilnic internetul din camera proprie (60% România, față de 77% Danemarca și, la polul opus, Belgia, cu 38%). Acest indicator era folosit în epoca internetului fix pentru a evidenția strategiile de mediere parentală și gradul de conștientizare al părinților cu privire la eventualele riscuri pe care copiii le pot întâlni online și la necesitatea de a supraveghea activitățile copiilor pe internet (pe principiul că, amplasând PC-ul într-un spațiu comun, părintele poate din când în când să tragă cu coada ochiului la ce face copilul pe internet). Odată cu generalizarea laptopului și a dispozitivelor mobile personale (de tip smartphone și tablete) acest indicator devine relevant când este coroborat cu cel al folosirii din alte spații ale casei: astfel, în România întâlnim cel mai mare procent al copiilor care folosesc internetul doar din dormitorul propriu (cel puțin 20%), în timp ce în țări precum Belgia și Irlanda, unde protecția parentală joacă un rol foarte important, cu 30%, respectiv 20% mai mulți copii utilizează zilnc internetul din spații comune ale casei. 
      li România se situează la coada clasamentului în ceea ce privește folosirea la școală (11% zilnic față de Danemarca, 61% zilnic) sau în mișcare (8% zilnic față de 32% în Marea Britanie).
      p Figura 1  prezintă comparativ datele despre folosirea zilnică a internetului la școală și acasă:
      p.blue Figura 1: Accesarea zilnică a internetului de acasă și de la școală în funcție de gen, vârstă și status socio-economic
      h1 TODO: Graphic
      p.text-small Q1 a, Q1 b si Q1 c: Uitându-te la aceast cartonaş, te rog să îmi spui cât de des intri online sau foloseşti internetul (pe un computer, un telefon mobil, un smartphone sau orice alt obiect de pe care poţi intra online) în locurile urmatoare…
        br
        | Baza: Toți copiii care folosesc internetul.
    ul 
      li Relativa uniformitate a celor care folosesc internetul de acasă între grupele de copii cu status socio-economic (SSE) ridicat și mediu poate fi înțeleasă ca o democratizare la acest nivel a accesului la internetul fix, grupa copiilor cu un SSE scăzut fiind încă dezavantajată.
      li Diferențele care apar în ceea ce privește accesarea internetului la școală în funcție de nivelul socio-economic al copiilor, suntem tentați să le interpretăm mai puțin ca diferențe în dotarea școlilor cu internet și acces la internet (deși și acest lucru face diferența), cât în termeni de diferență în deținerea unui dispozitiv personal, mobil prin care ei accesează, din cadrul școlii, internetul.
      li Dacă în cadrul domestic diferențele de gen nu sunt perceptibile în utilizarea zilnică a internetului, nu același lucru se poate spune la utilizarea școlară, unde fetele sunt de două ori mai multe decât băieții. Atragem însă atenția că aceste cifre se referă la locul de acces și nu la scopul accesării internetului; altfel spus, avem de-a face cu mai multe fete care accesează internetul ‘de la școală’, nu neapărat ‘pentru școală’ (unde, așa cum arată Figura 44, băieții sunt majoritari). 
    p Pentru a concluziona vom spune că, în ciuda apariției tehnologiei mobile, spațiul domestic - și mai ales spațiul privat – a rămas principalul context de folosire al internetului.