+article("2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?")
  +section("2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?")
    h1 2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?

    