+article("2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?")
  +section("2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?")
    h1 2.2. De pe ce dispozitiv? Cum are loc accesarea internetului?
    p Dincolo de locația de acces, un alt indicator al noului model de utilizare a internetului (folosirea privată) este cel al dispozitivului utilizat pentru accesare; asistăm astfel la trecerea de la folosirea în comun de către toți membrii familiei sau o parte din ei a unui singur dispozitiv pentru accesarea internetului, la folosirea dispozitivelor personale (acest proces a precedat apariția dispozitivelor mobile, odată cu multiplicarea calculatoarelor personale în gospodărie dar s-a accentuat cu acestea din urmă).
    p Tabelul 3 arată ce dispozitive folosesc zilnic copiii pentru a accesa internetul în fiecare dintre locațiile despre care au fost întrebați. Dacă la nivelul eșantionului european (pe cele 7 state implicate) asistăm la o 
      strong epocă post-desktop, în România nu este cazul 
      | de așa ceva.
    ul 
      li Computerul de birou a rămas cel mai utilizat dispozitiv de accesare a internetului acasă (atât din dormitorul propriu, cât și din spații comune), urmat de laptop și smartphone. 
      li La școală cel mai utilizat dispozitiv este smartphone-ul, un dispozitiv personal și nu un dispozitiv care intră în dotarea școlii și deci accesibil tuturor elevilor, ceea ce poate explica și variația accesării zilnice la școală a internetului în funcție de SSE (vezi mai sus).
      li Accesarea zilnică a internetului la școală de pe un calculator de birou apare în 7% din cazuri, urmat la mică distanță de accesarea de pe telefoane mobile care nu sunt smartphone-uri (6,8%). Asumând că cei care intră de pe telefonul mobil sunt alții decât cei care intră de pe smartphone (deși fiecare dintre ei pot să se suprapună cu cei care intră de pe tabletă), practic 
        strong proporția copiilor care folosesc zilnic la școală un dispozitiv propriu pentru accesarea internetului este dublă față de proporția celor care folosesc zilnic dotarea școlilor în același scop. 
      li Date fiind posibilitățile multiple pe care internetul le poate oferi în procesul de educare (de la posibilitățile de informare, la colaborare și dezvoltarea creativității), datele de mai sus ar trebui să readucă în discuție regulamentele școlare care interzic folosirea acestor dispozitive în școală pentru o recanalizare a folosirii lor în procesul de educare. 
    p.blue Tabelul 3: Dispozitivele utilizate pentru a accesa internetul zilnic în diferite locatii
    table.table-responsive
      thead
        th %
        th Acasă, în camera ta sau în altă cameră personală
        th Acasă, dar nu în camera ta 
        th La şcoală
        th În alte locuri (la rude, prieteni, în biblioteci, cafenele )
        th Când eşti pe drum 
      tbody
        tr 
          td Un computer de birou (PC)
          td 41,0
          td 20,8
          td 7,3
          td 6,0
          td 1,8
        tr 
          td Un laptop
          td 19,1
          td 18,9
          td 0,3
          td 3,4
          td 1,3
        tr 
          td Un telefon mobil care nu e smartphone
          td 12,6
          td 7,4
          td 6,8
          td 4,9
          td 4,3
        tr 
          td Un smartphone
          td 16,0 
          td 15,1
          td 8,5
          td 7,5
          td 6,0
        tr 
          td O tabletă
          td 2,9
          td 3,6
          td 1,3
          td 0,7 
          td 1,3
        tr 
          td Cititor e-book 
          td 0,5 
          td 0,1
          td 0,0 
          td 0,1
          td 0,0 
        tr 
          td Alt dispozitiv portabil
          td 2,5
          td 1,9
          td 1,3
          td 0,3
          td 1,3
        tr 
          td Consola de jocuri video folosită acasă
          td 1,4
          td 2,2
          td 0,1 
          td 0,7 
          td 0,0
        tr 
          td Accesează internetul cel puțin o dată pe zi
          td 59,6
          td 40,1
          td 11,1
          td 8,7
          td 7,6
    p.text-small Q2 a-h: Când foloseşti internetul în aceste zile in […nume locaţie], cât de des foloseşti următoarele obiecte pentru a intra online?
      br
      | Baza: Toți copiii care folosesc internetul.
    ul 
      li Pentru aproape toate dispozitivele avute în vedere, ca spațiu predilect al folosirii lor zilnice apare dormitorul copiilor, ceea ce confirmă existența ‘
        strong culturii dormitorului
        | ’ (Livingstone & Bovill, 2001). Aceasta presupune transformarea dormitorului, prin dotarea acestuia cu media diverse și multiple, într-un ‘spațiu total’ în care copilul își petrece cea mai mare parte din timpul liber, nu pentru că este ‘alungat’ din spațiile comune ale casei sau din dormitorul părinților, ci pentru că îl asociază cu un spațiu personal, în care este liber să-și creeze și să-și exprime identitatea, departe de ochiul critic al părinților și, uneori, de normele sociale. Deși de cele mai multe ori interzis părinților, acest spațiu este deschis, via media – în special prin internet și internet mobil (e.g. WatsApp, SnapChat) –, cercului de prieteni și uneori chiar necunoscuților.
      li Copiii din România par să fie încă mult în urma mediei europene (pentru cele 7 state) în ceea ce privește utilizarea zilnică a tabletei, doar 3% utilizând-o din propriul dormitor, respectiv 4% dintr-un spațiu comun al casei, față de 15%, respectiv 18% la nivelul tuturor statelor participante la proiect. Folosirea tabletei mai mult în spațiile comune ale casei decât în propriul dormitor (diferența apare și la nivelul eșantionului european) arată că, deși mobilă, aceasta nu este neapărat un dispozitiv personal, fiind folosită în general în comun de către membrii familiei, fiind preferată de obicei după smartphone (atunci când acesta există) sau necesitând diferite strategii din partea copiilor pentru ca părinții să nu o folosească, încălcându-le astfel spațiul privat.
    em 
      p “În general, eu nu folosesc decât telefonul. Nu mai stăm pe aia (tableta-nAV). Şi-au luat şi ei (părinții-nAV) telefon şi n-am mai stat pe tabletă. Mai intră mama din când în când, dar în rest nu prea.” (băiat, 15 ani) 
      p “B: Nu, dar când vor să mai caute ceva mai dau peste...
      p I : Să înțeleg că dacă (părinții-nAV) vor să mai caute ceva folosesc mai degrabă tableta surorii decât a ta ?
      p B : Fiindcă eu, cum să spun, sora mea (...) o lasă prin toata casa, eu deși și eu o las prin toată casa, dar am un loc unde să o pun. O las într-un anumit loc, adică (părinții-nAV) mai mult iau ce tabletă e la îndemână ; dar de obicei nu e a mea.
      p I : Deci tu o ții în locul ăla și oarecum strategic, să nu pună mâna pe ea toată lumea?
      p B : Sincer sa fiu, da este și o...da o fac cu un anumit motiv. Da, la un moment dat mi-o ascundeam (zambeste).
      p I : Ți-o ascundeai. De ce?
      p B : Păi ca să nu mai fie toata ziua folosită, nah.
      p I : Asta pentru ca o simțeai ca e a ta și voiai să fie a ta în continuare ?
      p B : Da, într-un fel da, dar nu mă supăr foarte tare să o folosească și părinții“ (băiat, 11 ani, I07)
    ul 
      li De asemenea, scoruri semnificativ mai mici față de media europeană (7 țări) găsim la accesarea internetului de pe o consolă de joc (fixă) (cu 9%, respectiv 8% la nivel european față de 1,4%, respectiv 2,2% în România) și pentru folosirea unor dispozitive de tip iPod Touch (7% față de 1-2% în România).
      li Cum era de așteptat, atunci când sunt ‘pe drum’ sau în mișcare cele mai folosite dispozitive pentru accesarea internetului sunt smartphone-urile (6% dintre copii spunând că îl folosesc zilnic în acest context), urmate însă îndeaproape de telefoane mobile care nu sunt smart, cu 4,3% menționări. Aceasta arată că dorința copiilor de a accesa internetul în acest context există, nu întodeauna existând mijloacele tehnice care să le permită acest lucru.
      li În urma cercetării calitative  putem spune că motivația acestei lipsuri nu este întotdeauna de ordin financiar-economic, mulți părinți amânând achiziționarea unui smartphone pentru copii din motive de securitate generală și securitate rutieră. Așa cum se vede din citatele de mai jos, unii părinți consideră că folosind smartphone-ul pe stradă copiii sunt expuși pericolului de a fi jefuiți sau riscă să fie victime ale unor accidente rutiere dat fiind că nu ar mai fi atenți la drum.
    em 
      p „Să fie atent, să mearga pe stradă, (sunt-nAV) destui nebuni... la mine e trafic de droguri în spate, iese unul drogat de acolo și îl vede cu telefonul și îi dă în cap. Și eu ce fac? Mă duc să mă bat cu toată curtea?” (tată, copil, 13 ani)
      p “Nu mergi la școală să te joci non stop, pe drum, să dea mașina peste tine (...)”(mamă, copil 11-13 ani)
    p Tabelul 4 arată cum variază utilizarea zilnică a diferitelor dispozitive, în funcție de vârstă și gen.
    p.blue Tabelul 4: Accesarea zilnică a internetului de pe diferite dispozitive în functie de vârstă si gen
    table.table-responsive
      thead
        th(rowspan="2") % 
        th(colspan="2") 9-12 ani 
        th(colspan="2") 13-16 ani 
        th(rowspan="2") Total 
      tbody
        tr 
          th Băieți 
          th Fete 
          th Băieți 
          th Fete 
        tr
          td  Un computer de birou (PC)
          td 57,1
          td 50,4
          td 66,7 
          td 54,1
          td 56,9
        tr 
          td  Un laptop 
          td 21,5
          td 23,4
          td 33,9
          td 31,3
          td 28,1
        tr 
          td  Un telefon mobil care nu e smartphone
          td 12,5
          td 5,0 
          td 13,3
          td 25,5 
          td 14,6 
        tr 
          td  Un smartphone
          td 19,0
          td 11,3
          td 27,9
          td 24,1 
          td 20,8 
        tr 
          td  O tabletă
          td 1,0
          td 1,7 
          td 3,2
          td 10,3
          td 4,5
        tr 
          td Cititor e-book
          td ,0
          td 
          td 1,6
          td ,7
          td ,6
        tr 
          td  Alt dispozitiv portabil
          td ,0 
          td 1,6
          td 1,6
          td 6,9
          td 2,7
        tr 
          td  Consolă de jcuri folosită acasă 
          td 4,8
          td ,8
          td 1,6
          td ,7
          td 1,6 
    p.text-small Q2 a-h: Când foloseşti internetul în aceste zile în […nume locaţie], cât de des foloseşti următoarele obiecte pentru a intra online?
      br
      | Baza: Toți copiii care folosesc internetul.
    ul 
      li Așa cum arătam și mai sus, la momentul culegerii datelor 
        span 
          +footnote(5)
            span Facem această precizare dată fiind rapida dezvoltare a internetului mobil la care asistăm. Astfel spre exemplu, de la culegerea datelor pentru ancheta cantitativă (mai-iunie 2013) la culegerea datelor în ancheta calitativă (decembrie 2013 - februarie 2014), situația se schimbase dramatic datorită cadourilor de sărbători, o învățătoare de grupă pregătitoare afirmând: „Deci dacă eu vă spun că le-am spus (părinților-nAV) să restricționeze și accesul și să înceteze cu astfel de recompense și de Crăciun au primit 3 sferturi tablete…” (învățătoare, București).
          | , copiii din România sunt încă în epoca computerului de birou, la toate grupele de vârstă, indiferent de genul respondenților, acesta fiind dispozitivul menționat, spre deosebire de media europeană unde laptopul și smartphone-ul au surclasat utilizarea calculatorului de birou, indiferent de gen și vârstă.
      li De remarcat datele cu privire la utilizarea zilnică a internetului de pe un telefon mobil care nu este smartphone, deoarece acestea spun ceva despre deschiderea copilului de a folosi internetul mobil în ciuda dificultăților tehnice întâlnite. Astfel, la vârste mici, băieții sunt mai dornici să intre online, de două ori și jumătate mai mulți băieți accesând zilnic internetul în acest fel, în timp ce la vârste mari, lucrurile se inversează, fetele accesând zilnic internetul în proporție dublă față de băieți. Aceste diferențe de folosire a respectivei tehnologii nu se suprapun peste diferențe de acces la ea, așa cum se poate vedea din Tabelul 6.
      li În general 
        strong utilizare fiecărui dispozitiv (cu excepția consolei de jocuri) crește odată cu înaintarea în vârstă
        | , uneori noile tehnologii înlocuindu-le pe cele vechi, alteori alăturându-li-se. Motivele invocate de copii (în cercetarea calitativă) pentru care este ales un dispozitiv în defavoarea altuia sunt foarte diverse, mobilitatea nefiind întodeauna menționată. 
    p Astfel capacitățile tehnice ale calculatoarelor personale (de birou sau laptop) le fac să fie preferate de băieții (în general) ‘jucători’, pentru rezoluția mai bună a ecranului, procesorul mai puternic etc. Tot computerul este preferat pentru activitățile școlare mai elaborate, în timp ce pentru o căutare punctuală (de tipul formulă matematică sau traducerea unui cuvânt) se preferă smartphone-ul. Tabletele și smartphone-urile sunt mai bune pentru comunicare sau pentru asigurarea fundalului sonor, fiind practic întodeauna la îndemână și deschise; limitările de baterie ale dispozitivelor mobile sunt de asemenea motive serioase împotriva lor.
    em 
      p “I : De când ai tableta sa înțeleg ca nu prea mai mergi pe laptop?
      p F: Nu, adică da, când nu am tableta când îi mai trebuie lui tata la firma, da, o ia și stau pe laptop, pe telefon... Nu am treaba; dar când am tableta stau, laptopul e închis nu l-am mai deschis de vreo doua saptamâni de când …
      p I: Există activități pe care mai preferi să le faci pe laptop?
      p F: Pe laptop dacă îmi trebuie ceva pentru școală (...) dacă, nu știu, dacă vreau să mă uit la un film, nu știu, și pe tableta pot, dar nu mă ține tableta atâta și am priza în partea cealaltă a camerei.” (fată, 15, I01)
    p În afară de telefoanele mobile care nu sunt smartphone-uri, alte dispozitive folosite mai mult de fete decât de băieți, mai ales în perioada adolescenței, sunt, așa cum arată și citatul de mai sus, tabletele.
    p.blue Figura 2: Utilizarea zilnică a smartphone-ului si a laptop-ului în functie de gen, vârstă si status socio-economic
    +hchart({
      bars: [
        {
          name: 'Total EU',
          data: [41, '#7fd0d3', 46, '#3ab8bd']
        },
        {
          name: 'Băieți',
          data: [24, '#6eb1d6', 28, '#568bc3']
        },
        {
          name: 'Fete',
          data: [18, '#6eb1d6', 28, '#568bc3']
        },
        {
          name: '9-10 ani',
          data: [8, '#ced95a', 21, '#b6c800']
        },
        {
          name: '11-12 ani',
          data: [21, '#ced95a', 24, '#b6c800']
        },
        {
          name: '13-14 ani',
          data: [21, '#ced95a', 27, '#b6c800']
        },
        {
          name: '15-16 ani',
          data: [31, '#ced95a', 38, '#b6c800']
        },
        {
          name: 'SSE scăzut',
          data: [19, '#b0c8a0', 32, '#88ae80']
        },
        {
          name: 'SSE mediu',
          data: [19, '#b0c8a0', 24, '#88ae80']
        },
        {
          name: 'SSE ridicat',
          data: [33, '#b0c8a0', 30, '#88ae80']
        },
        {
          name: 'Total RO',
          data: [21, '#7fd0d3', 28, '#3ab8bd']
        }
      ],
      legend: [
        {
          name: "% Utilizează smartphone-ul zilnic",
          color: "#7fd0d3"
        },
        {
        name: "% Utilizează laptopul zilnic",
        color: "#3ab8bd"
        }
      ]
    })
    p.text-small Q2 b si Q2 d: Când foloseşti internetul în aceste zile in […nume locaţie], cât de des foloseşti următoarele obiecte pentru a intra online?
      br 
      | Baza: Toți copiii care utilizează internetul din Romania (pentru segmentarile pe varsta si gen) si din toate tarile pentru restul.
    ul 
      li Și de această dată cea mai mare diferență apare cu varibila vârstă. 
      li În ceea ce privește smartphone-ul, Figura 2 arată că putem vorbi mai degrabă de existența unor etape sau praguri decât de o evoluție uniformă, cu vârsta. Astfel, se poate observa că primul prag apare la sfârșitul ciclului primar (grupa celor de 9-10 ani fiind în cea mai mică proporție utilizatori zilnici), odată cu trecerea  la gimnaziu (grupele de 11-12 și 13-14 ani fiind asemănătoare, cu 21% folosire zilnică), al doilea prag apărând odață cu trecerea la liceu (31% utilizare zilnică a smartphone-ului în grupa adolescenților). 
      li Diferențele de vârstă în utilizarea zilnică a smartphone-ului sunt mai mici, un anumit prag fiind sesizat odată cu trecerea la liceu. 
    p Tabelul 5 arată modul în care copiii se conectează la internet atunci când folosesc smartphone-ul sau telefonul mobil. Conectarea prin wifi și/sau prin3/4G este un indicator important pentru accesul la internet mobil al copiilor atâta timp cât rețelele wifi nu sunt disponibile în multe spații publice în România (și așa cum se poate vedea în Figura 40 nici în școli), readucând în discuție problema diviziunii digitale. Problema este complexă dat fiind că, refuzul deliberat al părintelui de a plăti o conexiune 3/4G pentru copil poate fi parte a strategiei de mediere parentală (un tip de restricționare nu economică ci tehnică). 
    em
      p  “... nu aveau, deci la clasa unde sunt eu dirigintă, la a VIII-a B. Dacă aş fi fost la VIII-a A probabil că instant ar fi deschis...toate telefoanele şi tabletele lor  imediat. Și, deci ce m-a surprins... de asta zic eu că este o împărţire după puterea financiară şi a copiilor şi a parinţilor, deci la mine în clasă, o clasă de copii care nu sunt atât de... n-au parinţi cu putere financiară foarte mare, numai doi copii aveau legatură platită la internet...”(profesoară)
    p.blue Tabelul 5: Moduri de conectare la internet folosind telefonul mobil sau smartphone-ul in functie de gen, vârstă si status socio-economic
    table.table-responsive
      thead
        th % 
        th Pachet de internet mobil si wifi gratuit
        th Doar pachet de internet mobil
        th Doar wifi gratuit
        th Telefonul nu se conectează la internet
      tbody
        tr 
          td Băieți 
          td 9 
          td 22
          td 26 
          td 43 
        tr 
          td Fete
          td 20 
          td 26 
          td 15
          td 39 
        tr 
          td 9-10 ani 
          td 3
          td 30 
          td 21
          td 46

        tr 
          td 11-12 ani
          td 16
          td 15 
          td 26
          td 43
        tr 
          td 13-14 ani
          td 15
          td 27
          td 22
          td 37
        tr
          td 15-16 ani
          td 17
          td 25
          td 16
          td 42
        tr 
          td SSE scăzut 
          td 18
          td 21
          td 18
          td 43
        tr 
          td SSE mediu
          td 10
          td 28
          td 20
          td 43
        tr 
          td SSE ridicat
          td 19
          td 20
          td 28
          td 33
        tr 
          td Total RO
          td 15
          td 24
          td 20
          td 41
        tr 
          td Total EU
          td 27
          td 15 
          td 35
          td 23
    p.text-small Q8 a-c: 
      strong Te poţi conecta la internet de pe smartphone-ul sau telefonul tău mobil? Dacă da, în ce fel te conectezi??
      br
      | Baza: Toti copiii care detin sau au in folosinta un telefon mobil sau un smartphone. Segmentarile pe gen si varsta se refera la copiii din Romania.
    ul 
      li Cei mai mulți dintre copiii din România care se conectează la internet o fac, în mod surprinzător, folosind transmisie de date 2,3, sau 4G (24%). Al doilea mod de conectare, ca frevență este wifi-ul, în timp ce combinarea celor două apare doar în 15% din cazuri. 
      li În timp ce în grupul fetelor este mai frecventă situația de folosire a pachetului de internet mobil, băieții folosesc mai mult wifi-ul.