+article("2.3. Deținerea în proprietate a unui dispozitiv")
  +section("2.3. Deținerea în proprietate a unui dispozitiv")
    h1 2.3. Deținerea în proprietate a unui dispozitiv
    p Utilizarea unui dispozitiv mobil nu coincide întodeauna cu deținerea lui în proprietate, copiii având de obicei acces la mai multe dipozitive decât dețin în realitate. Totuși, deținerea în proprietate sau pentru uz personal influențează practicile de folosire.
    ul 
      li  În ceea ce privește dispozitivele fixe (sau relativ fixe, cum este laptopul) de accesare a internetului, deținerea acestora în proprietate nu variază cu vârsta. Din contră, deținerea telefonului mobil care nu este smartphone și deținerea unui smartphone variază cu vârsta. 
      li Deținerea de către copil a unui telefon mobil care nu este smartphone este încă la un nivel aproape dublu față de deținerea unui smartphone, aceasta și pentru că unii părinți sunt reticenți la ideea de smartphone dar găsesc foarte utilă ideea de telefon: 
    em 
      p “Are telefon pentru că am plecat de la ideea următoare: Băiatule, tu, în ziua de astăzi, trebuie să am legătură cu tine oricând. Îl duceam la şcoală, şi el trebuia să vină singur acasă. Şi atunci a trebuit să găsesc această formulă şi i-am explicat foarte clar: este o legătură permanentă între mine şi tine, eu trebuie să ştiu în permanenţă unde te afli. Eşti acasă? no problem. Discut aici de pe fix pe mobil. Eşti undeva, întârzii, s-a întâmplat ceva, eşti reţinut la şcoală, m-ai apelat, mi-ai spus. Salut! Eu ştiu unde eşti. Traseul tău tre’ să-l ştiu tot timpul că, Doamne fereşte, se întâmplă ceva, eu ştiu că tu eşti pe traseul ăsta sau eşti în zona aia. Deci în primul rând a trebuit să îi explic utilitatea telefonului.” (tată, băiat, 14).
    p Tabelul 6 arată care sunt dispozitivele deținute de copii, în funcție de vârstă și gen. În România, cei mai mulți dintre copii dețin un calculator de birou (76%), urmați de cei care dețin un telefon mobil care nu este un smartphone (48%), de cei care dețin un laptop, 33%, de abia pe locul 4 fiind cei care dețin un smartphone, cu 26%, proprietarii de tablete fiind la 10%.
    p.blue Tabelul 6: Detinerea unor dispozitive în functie de varsta si gen
    table.table-responsive
      th %
      th(colspan="2") 9-12 ani 
      th(colspan="2") 13-16 ani
      th Total 
      tr
        th
        th Băieți 
        th Fete 
        th Băieți 
        th Fete 
        th

