+article("2.3. Deținerea în proprietate a unui dispozitiv")
  +section("2.3. Deținerea în proprietate a unui dispozitiv")
    h1 2.3. Deținerea în proprietate a unui dispozitiv
    p Utilizarea unui dispozitiv mobil nu coincide întodeauna cu deținerea lui în proprietate, copiii având de obicei acces la mai multe dipozitive decât dețin în realitate. Totuși, deținerea în proprietate sau pentru uz personal influențează practicile de folosire.
    ul 
      li  În ceea ce privește dispozitivele fixe (sau relativ fixe, cum este laptopul) de accesare a internetului, deținerea acestora în proprietate nu variază cu vârsta. Din contră, deținerea telefonului mobil care nu este smartphone și deținerea unui smartphone variază cu vârsta. 
      li Deținerea de către copil a unui telefon mobil care nu este smartphone este încă la un nivel aproape dublu față de deținerea unui smartphone, aceasta și pentru că unii părinți sunt reticenți la ideea de smartphone dar găsesc foarte utilă ideea de telefon: 
    em 
      p “Are telefon pentru că am plecat de la ideea următoare: Băiatule, tu, în ziua de astăzi, trebuie să am legătură cu tine oricând. Îl duceam la şcoală, şi el trebuia să vină singur acasă. Şi atunci a trebuit să găsesc această formulă şi i-am explicat foarte clar: este o legătură permanentă între mine şi tine, eu trebuie să ştiu în permanenţă unde te afli. Eşti acasă? no problem. Discut aici de pe fix pe mobil. Eşti undeva, întârzii, s-a întâmplat ceva, eşti reţinut la şcoală, m-ai apelat, mi-ai spus. Salut! Eu ştiu unde eşti. Traseul tău tre’ să-l ştiu tot timpul că, Doamne fereşte, se întâmplă ceva, eu ştiu că tu eşti pe traseul ăsta sau eşti în zona aia. Deci în primul rând a trebuit să îi explic utilitatea telefonului.” (tată, băiat, 14).
    p Tabelul 6 arată care sunt dispozitivele deținute de copii, în funcție de vârstă și gen. În România, cei mai mulți dintre copii dețin un calculator de birou (76%), urmați de cei care dețin un telefon mobil care nu este un smartphone (48%), de cei care dețin un laptop, 33%, de abia pe locul 4 fiind cei care dețin un smartphone, cu 26%, proprietarii de tablete fiind la 10%.
    .panel.panel-default
      .panel-heading
        p.blue Tabelul 6: Deținerea unor dispozitive în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              th(rowspan="2") %
              th(colspan="2") 9-12 ani 
              th(colspan="2") 13-16 ani
              th(rowspan="2") Total
            tr
              th Băieți 
              th Fete 
              th Băieți 
              th Fete 
          tbody 
            tr 
              td Un computer de birou (PC)
              td 74
              td 76
              td 76
              td 77
              td 76
            tr 
              td Un laptop 
              td 30 
              td 32
              td 36
              td 32
              td 33
            tr 
              td Un telefon mobil care nu e smartphone
              td 36
              td 33
              td 58
              td 61
              td 48
            tr 
              td Un smartphone
              td 25
              td 16
              td 34
              td 30 
              td 26
            tr 
              td O tabletă
              td 4
              td 15 
              td 7
              td 12
              td 10
            tr 
              td Cititor e-book
              td 0
              td 0
              td 0
              td 5
              td 1
            tr 
              td Alt dispozitiv portabil 
              td 5
              td 3
              td 3
              td 6
              td 4
            tr 
              td Consolă de jocuri video folosită acasă
              td 12
              td 4
              td 6
              td 3
              td 6
      .panel-footer
        p.text-small Q3 a-h: Pe care dintre următoarele obiecte le ai tu personal sau le foloseşti tu? (Prin utilizare privată înțelegem un dispozitiv pe care doar tu poți să îl folosești.)
          br
          | Baza: Toți copiii care folosesc internetul.
    p
      strong Deținerea unei tablete variază cu genul, fetele fiind mai probabil să dețină astfel de dispozitive.
    p Figura 3 arată cum variază deținerea unei tablete în funcție de gen, vârstă și status socio-economic. Astfel, dacă așa cum spuneam, tableta este mai degrabă deținută de fete, smartphone-urile sunt mai degrabă deținute de băieți. Probabilitatea de deținere a unui smartphone variază constant cu vârsta copiilor, crescând odată cu aceasta. Grupul în care cei mai mulți copii declară că dețin o tabletă este cel de 11-12 ani, urmat de cel al adolescenților de 15-16 ani. De asemenea, probabilitatea de deținere a unui smartphone crește constant cu SSE, deținerea unei tablete neurmând același traseu. 
    .panel.panel-default
      .panel-heading
        p.blue Figura 3: Deținerea unui smartphone sau a unei tablete în funcție de vârstă, gen și status socio-economic
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Băieți',
              data: [5, '#6eb1d6', 30, '#568bc3']
            },
            {
              name: 'Fete',
              data: [13, '#6eb1d6', 23, '#568bc3']
            },
            {
              name: '9-10 ani',
              data: [5, '#ced95a', 15, '#b6c800']
            },
            {
              name: '11-12 ani',
              data: [14, '#ced95a', 25, '#b6c800']
            },
            {
              name: '13-14 ani',
              data: [7, '#ced95a', 28, '#b6c800']
            },
            {
              name: '15-16 ani',
              data: [12, '#ced95a', 35, '#b6c800']
            },
            {
              name: 'SSE scăzut',
              data: [12, '#b0c8a0', 23, '#88ae80']
            },
            {
              name: 'SSE mediu',
              data: [3, '#b0c8a0', 26, '#88ae80']
            },
            {
              name: 'SSE ridicat',
              data: [20, '#b0c8a0', 41, '#88ae80']
            },
            {
              name: 'Total RO',
              data: [10, '#7fd0d3', 26, '#3ab8bd']
            }
          ],
          legend: [
            {
              name: "% Deține o tabletă",
              color: "#7fd0d3"
            },
            {
            name: "% Deține un smartphone",
            color: "#3ab8bd"
            }
          ]
        })
      .panel-footer
        p.text-small Q3 a-h: Pe care dintre următoarele obiecte le ai tu personal sau le foloseşti tu? (Prin utilizare privată intelegem un dispozitiv pe care doar tu poți să îl folosești).
          br
          | Baza: Toti copiii care folosesc internetul.
    p Așa cum spuneam, ne interesează în ce măsură apar suprapuneri în ceea ce privește deținerea unui dispozitiv și folosirea lui zilnică pentru accesarea internetului, date pe care le oferă Tabelul 7.
    .panel.panel-default
      .panel-heading
        p.blue Tabelul 7: Comparația copiilor care dețin și a celor care utilizează zilnic dispozitivele mobile, în funcție de vârstă
      .panel-body
        table.table-responsive
          thead
            tr
              th(rowspan="2") %
              th(colspan="2") 9-12 ani 
              th(colspan="2") 13-16 ani
            tr
              th Dețin
              th Utilizează zilnic  
              th Dețin
              th Utilizează zilnic  
          tbody
            tr 
              td Un computer de birou (PC)
              td 75 
              td 53
              td 77 
              td 60 
            tr 
              td Un laptop 
              td 31
              td 23
              td 34
              td 33
            tr 
              td Un telefon mobil care nu e smartphone
              td 34
              td 9
              td 60 
              td 20 
            tr 
              td Un smartphone
              td 20 
              td 15
              td 32
              td 26
            tr 
              td O tabletă
              td 9
              td 2
              td 10
              td 7
            tr 
              td Cititor e-book
              td 0 
              td 0
              td 3
              td 1
            tr 
              td Alt dispozitiv portabil
              td 4
              td 1
              td 5
              td 4
            tr 
              td Consolă de jocuri video folosită acasă
              td 7
              td 2
              td 4
              td 1
      .panel-footer
        p.text-small Q3 a-h: Pe care dintre următoarele obiecte le ai tu personal sau le foloseşti tu? (Prin utilizare privată ințelegem un dispozitiv pe care doar tu poți să îl folosești.)
          br
          | Q2 a-h: Când foloseşti internetul în aceste zile in […nume locaţie], cât de des foloseşti următoarele obiecte pentru a intra online?
          br
          | Baza: Toți copiii care folosesc internetul.
    ul 
      li Deși la nivelul eșantionului general al celor 7 țări participante la proiect situația este diferită, în România copiii tind să folosească zilnic pentru a accesa internetul mai puține dispozitive decât dețin. 
      li Atât computerele (de birou sau laptop), cât și telefoanele mobile care nu sunt smartphone-uri sunt folosite zilnic în proporție mai mică decât sunt deținute. Același lucru se întâmplă și cu smartphone-ul, doar că de această dată diferențele sunt mai mici.