+article("2.4. Vârsta primei utilizări")
  +section("2.4. Vârsta primei utilizări")
    h1 2.4. Vârsta primei utilizări
    p
      | Cercetările anterioare (
      +textTooltip("livingstone2011")
      |) au arătat că vârsta medie la care copiii încep să utilizeze internetul este în scădere, copiii mici începând să utilizeze internetul de la vârste din ce în ce mai fragede. În ancheta Net Children Go Mobile, am întrebat copiii ce vârste aveau când au început să utilizeze internetul, dar și la ce vârstă au primit primul telefon mobil și/sau primul smartphone.
    p Tabelul 8 compară vârsta media a copiilor când au avut pentru prima dată acces la aceste tehnologii, în funcție de gen și vârstă pentru eșantionul românesc și de asemenea compară mediile pentru toate țările participante la proiect.
    .panel.panel-default
      .panel-heading
        p.blue Tabelul 8: Vârsta la care a utilizat prima dată internetul, a primit primul telefon mobil și primul smartphone, în funcție de gen vârstă  și status socio-economic
      .panel-body
        table.table-responsive
          thead
            tr
              th
              th 
                div Căți ani aveai prima dată când...
                div Ai utilizat internetul
              th 
                div Căți ani aveai prima dată când...
                div Ai primit primul telefon mobil
              th 
                div Căți ani aveai prima dată când...
                div Ai primit primul smartphone
          tbody
            tr
              td Băieți 
              td 9,0
              td 8,7
              td 12,5
            tr 
              td Fete
              td 9,2
              td 9,4
              td 12,4
            tr 
              td 9-10 ani 
              td 7,5
              td 7,4
              td 8,3

            tr 
              td 11-12 ani
              td 8,4
              td 8,1
              td 10,7
            tr 
              td 13-14 ani
              td 9,6
              td 9,3
              td 12,6
            tr
              td 15-16 ani
              td 10,5
              td 10,4
              td 14,2
            tr 
              td SSE scăzut 
              td 9,6
              td 9,5
              td 12,8
            tr 
              td SSE mediu
              td 9,0
              td 8,9
              td 12,6
            tr 
              td SSE ridicat
              td 8,1
              td 8,6
              td 11,4
            tr 
              td Total RO
              td 9,1
              td 9,1
              td 12,4
            tr 
              td Total EU
              td 8,5
              td 9,5
              td 12,0
      .panel-footer
        p.text-small Q5: Câţi ani aveai când ai folosit internetul pentru prima dată?
          br
          | Q6: Câţi ani aveai când ai primit primul tău  telefon mobil?
          br
          | Q7: Câţi ani aveai când ai primit primul tău smartphone?
          br
          | Baza: Toți copiii care utilizează internetul.
    ul 
      li În România, ca și în celelalte țări, 
        strong vârsta medie la care este folosit pentru prima dată internetul este într-o continuă scădere 
        | (7,5 ani în grupa de vârstă 9-10 ani, față de 10,5 ani pentru adolescenți). Genul nu mai reprezintă o variabilă importantă în decalajul digital, deși se menține o ușoară diferență între fete și băieți. SSE rămâne însă relativ important, vârsta primei accesări a internetului variind în funcție de acesta între 9,6 ani și 8,1.
      li Primul telefon mobil este primit, de către copiii din România, cam pe la aceeași vârstă la care accesează internetul. Astfel, la nivelul întregului eșantion românesc, acest lucru se întâmplă puțin după ce copilul împlinește 
        strong 9 ani
        | , De această dată, atât genul cât și SSE joacă un rol în decizia părinților de a oferi un telefon mobil copiilor. Acest lucru poate fi  datorat faptului că în general primul telefon mobil este dat atunci când copiii încep să meargă sau să vină de la școală singuri, iar acest lucru se întâmplă puțin mai târziu în cazul fetelor decât în cazul băieților.
      li Fiind o tehnologie relativ nouă (de doar câțiva ani accesibilă pe piața din România), vârsta la care copilul a primit primul smartphone depinde în foarte mare măsură de vârsta copilului, dat fiind că adolescenții de acum nu ar fi putut să îl aibă fizic acum 4-5 ani. Punctul de cotitură pare să fie, în cazul României, anul 2012, după care e mult mai probabil ca părinții să cumpere smartphone copiilor. Vârsta la care copiii au avut primul smartphone 
        strong nu depinde de gen, fiind chiar ușor mai mare la băieți decât la fete
        | . Statustul socio-economic este mai important, deși nu atât de important ca în cazul vârstei la care a fost accesat prima data internetul, diferență mare fiind între cei cu SSE ridicat și ceilalți.
      li Față de media europeană, în România vârsta la care se accesează prima dată internetul rămâne mai ridicată, ca și vârsta la care primesc primul smartphone. Totuși, 
        strong copiii din România primesc primul telefon mobil (care nu e smartphone) mai repede decât copiii din alte țări 
        | (9,1 ani față de 9,5). Aceste date pot fi explicate printr-un climat mai mare de nesiguranță (părinții sunt mai îngrijorați de soarta copiilor în drumul spre sau de la școală).
    p În general, achiziționarea primului telefon pentru copil este amânată de către părinte și apare apare la intersecția unei presiuni sociale imense la care este supus părintele, combinată cu câștigarea  unei relative autonomiei de către copil. Totuși, strategiile parentale sunt maleabile, părinții cu mai mulți copii schimbând regulile cu cei mici:
    em 
      p “M: Dar nu, noi am discutat adulții între noi si am pus regula asta: nu calculator, nu tabletă, doar telefon din clasa a II-a. Nu ni se părea necesar, mai ales că dimineața le aduce cineva la școală, la amiază le ia, nu era necesar telefonul. Dar să știti că cu ăștia micii, o să le iau mai repede.
      p I: De ce?
      p M: Vă spun de ce. Le-am luat telefoane mai performante mai târziu, dar spre surpriderea mea, trei dintre ele s-au săturat mai repede, nu mai butonează. Si așa le iau mai repede, ca până încep școala să fie sătui, să nu mai am treabă cu butonatul.” (mamă, copil 9-10) 
