+article("2.5. Utilizarea internetului, a smartphone-urilor și a tabletelor de către parinți")
  +section("2.5. Utilizarea internetului, a smartphone-urilor și a tabletelor de către parinți")
    h1 2.5. Utilizarea internetului, a smartphone-urilor și a tabletelor de către parinți