+article("4.1. Natura contactelor pe SNS ale copiilor")
  +section("4.1. Natura contactelor pe SNS ale copiilor")
    h1 4.1. Natura contactelor pe SNS ale copiilor
    p Numărul de contacte pe care un copil îl are în ‘lista de prieteni’ a contului de pe o platformă de socializare online este deseori considerat ca fiind un indicator riscului la care copilul este expus.
    p.table Figura 7: Numărul de contacte pe care copiii din România le au pe o rețea de socializare online în funcție de gen, vârstă și status socio-economic
    p.small-text Q18: Aproximativ, cu câte persoane intri în contact când foloseşti [contul de SNS mentionat ca fiind cel mai des utilizat]?
    p.small-text Baza: Toți copiii care au un profil pe o rețea de socializare. Segmentările pe gen și vârstă se referâ la copiii din România.
    p Așa cum se poate observa din Figura 7, în România situația are de ce să fie îngrijorătoare, cu 4 din 10 copii având peste 300 de contacte, și aproape 3 din 10 având între 100 și 300 de contacte. Comparativ, media la nivelul celor 7 țări arată că doar 35% au peste 100 de contacte. Este interesant că țara cu cele mai mici procente de copii care au un cerc foarte larg de ‘prieteni’ în rețelele de socializare online (peste 100) nu face parte dintre țările unde copiii sunt foarte protejați și părinții preferă strategiile de mediere restrictivă (e.g. Belgia, Irlanda; vezi în acest sens Capitolul 8 referitor la mediere), ci este Danemarca, țara care la nivel statistic de multe ori pare cea mai apropiată de România, diferențe esențiale punând cifrele în o cu totul altă perspectivă (așa cum este cazul cu această diferență). 
    ul
      li
        |Copiii care sunt în contact cu mai puțin de 10 persoane (în general aceștia fiind membri ai familiei și prietenul/ prietena cel/ cea mai bun(ă) sunt 
        strong 2% la nivelul întregului eșantion pe România (față de 25% media pe cele 7 țări participante)
        |, ei fiind de găsit mai ales în grupul celor de 9-10 ani (9%) și 11-12 ani (2%). Vârsta este întradevăr un factor important în funcție de care variază numărul de ‘prieteni’, deși remarcăm și de această dată un prag critic, reprezentat de trecerea la gimnaziu, de la care mai mult de 70% dintre copii au mai mult de 100 de contacte. 
      li
        |În ciuda Regulamentului și a condițiilor de utilizare ale rețelelor de socializare online, copiii din România mai mici de 13 ani nu doar că au un cont pe astfel de platforme, ci sunt în zona de risc, cu un cerc de prieteni foarte mare, în care cel mai probabil intră și necunoscuți (
        strong 71% dintre copiii de 11-12 ani au peste 100 de prieteni
        |). 
      li
        |La nivelul României, evoluția în timp a acestor indicatori este îngrijorătoare. Astfel, comparând datele EU Kids Online (2010) și Net Children Go Mobile (2013), observăm că utilizarea rețelelor sociale de către copiii cu vârste mai mici decât cele admise e mai mult decât dublă acum față de acum 3 ani (trecând de la 29% pentru copiii de 9-12 ani în 2010 la 65% în 2013), iar 
        strong procentul copiilor care au mai mult de 100 de contacte pe o astfel de rețea crescut în mod dramatic, de la 8% la 66%
        |.
      li Fetele par să fie mai populare decât băieții, dacă ne raportăm la mărimea cercului de prieteni (71% dintre fete, față de 60% dintre băieți având mai mult de 100 de prieteni).
      li Statusul socio-economic nu pare să fie un factor decisiv în mărimea cercului de ‘prieteni’, remarcând totuși că există o diferență în ceea ce privește grupul celor dezavantajați, unde sunt mai mult decât în alte grupe cei cu sub 50 de prieteni (24% față de 17% în grupul cel mai bine situat). 
    p Vrând să vedem care este, mai detaliat, natura ‘prieteniei’ pe rețelele de socializare online, am întrebat care sunt mecanismele de ‘împrietenire’; altfel spus, cum răspund copiii la o solicitare venită pe o astfel de platformă. Figura 8 ilustrează răspunsul general al copiilor la ‘cererile de prietenie’.
    ul
      li
        |În România, 
        strong 18% dintre copii acceptă toate ‘cererile de prietenie’ pe care le primesc, procent dublu față de eșantionul european (pe cele 7 țări); 
        |26% acceptă dacă au prieteni comuni și doar 11% sunt foarte selectivi în alegere, accepând doar persoane pe care le cunosc foarte bine.
      li Variație importantă în procesul de ‘împrietenire’ apare cu vârsta, fiind însă din nou vizibil efectul de ‘prag’. Astfel, dacă la nivelul ciclului primar aproape 4 din 10 copii se dovedesc foarte selectivi în alegerea ‘prietenilor’, acest procent scade la o treime în grupul celor de 11-12 ani, scăzând apoi mai puternic în grupurile mai mari. Cei de 11-12 ani par să fie cei mai puțin selectivi și cei mai deschiși să accepte toate prieteniile, fiind în general nou intrați în rețea și necunoscând foarte multe lucruri despre funcționarea acesteia, în același timp simțindu-se suficient de ‘maturi’ pentru a-și gestiona libertatea relațională proaspăt căpătată odată cu trecerea în gimnaziu. Acest comportament îi face, în opinia noastră, cei mai expuși riscurilor online legate de comunicare.
    p.table Figura 8: Cum răspund copiii din România la cererile de prietenie pe rețelele de socializare online, în funcție de gen, vârstă și status socio-economic
    p.small-text Q22: Cum răspunzi, în general, la cererile de prietenie ale persoanelor pe [contul de SNS menționat ca fiind cel mai des utilizat]?
    p.small-text Baza: Toți copiii care au un profil pe o rețea de socializare. Segmentările pe gen și vârsta se referă la copiii din România.
    ul
      li Procentul mare al adolescenților din grupa de 15-16 ani care afirmă că acceptă ca ‘prieteni’ doar persoane pe care le cunosc foarte bine se explică prin faptul că are loc trecerea într-o altă etapă, cea a consolidării relațiilor, depășind etapa în care focusul era pe lărgirea grupului de prieteni. Această din urmă etapă este foarte vizibilă la 13-14 ani, când procentul celor care își lărgesc cercul de prieteni acceptând ‘prietenii-prietenilor’ este cel mai mare (37%).
      li
        strong În ceea ce privește factorul gen, observăm că băieții acceptă toate prieteniile în proporție dublă față de fete (24% față de 12%)
        |. Aceste date sunt concordante cu rezultatele cercetării calitative  unde, urmare a stereotipurilor din societate și de asemenea urmare a unor campanii mediatice de conștientizare care au focusat exclusiv pe un aspect al problemei (agresiunea sexuală din partea adulților asupra fetelor), s-a observat o ‘gendrificare’ a anumitor riscuri legate de comunicare (e.g. riscul întâlnirii persoanelor necunoscute). Astfel, se consideră, atât de către copii cât și de câtre părinți, că băieții au mai puține (sau deloc) motive de îngrijorare decât fetele. 
        strong O mai echilibrată abordare a riscurilor în cadrul campaniilor de conștientizare ar trebui să aibă în vedere și acest aspect
        |.
      li Statusul socio-economic este important mai ales pentru comportamentele extreme, influențând de o manieră vizibilă și  lineară comportamentul selectiv – avut de 5% dintre cei bine situați economic, de 10% dintre cei din clasa mijlocie și de 15 % dintre cei cu status socio-economic scăzut. De asemenea, copiii din clasa de mijloc, adică cei care sunt în cea mai mare proporție obiectul medierii parentale restrictive (vezi Figura 34) sunt în cea mai mică proporție dispuși să accepte toate ‘cererile de prietenie’ (diferența nu este totuși majoră).
    p La nivelul tuturor țărilor participante la proiect, cei mai selectivi copii sunt cei din Portugalia, cu cel mai mare procent, 31%, a celor care acceptă ca ‘prieteni’ doar persoane pe care le cunosc foarte bine. Danemarca este țara în care copiii au tendința de a își ‘dubla’ în spațiul online prietenii din viața reală (astfel explicându-se și procentul foarte mic al celor care spun că au mai mult de 100 de ‘prieteni’), cu cel mai mare procent al celor care spun că se ‘împrietenesc’ cu oameni pe care îi cunosc deja (73%), în timp ce copiii din Italia sunt cei mai dispuși să își facă noi cunoștințe din ‘prietenii-prietenilor’, 45% spunând că acesta este criteriul de selecție. 