+article("4.2. Setările de securitate ale profilelor de pe SNS")
  +section("4.2. Setările de securitate ale profilelor de pe SNS ")
    h1 4.2. Setările de securitate ale profilelor de pe SNS 
    p Un al indicator al expunerii la risc al copiilor este cel legat de gradul de publicizare pe care profilul său îl are, altfel spus cum sunt stabilite setările de securitate ale contului. Figura 9 ilustrează cum variază pe cele trei dimensiuni avute în vedere (gen, vârstă și SSE) setările de la cel mai folosit dintre conturile pe care copilul le are pe platformele de socializare.
    p.table Figura 9: Setarea profilului (public sau privat) de pe rețeaua de socializare online folosită, în funcție de gen, vârstă și status socio-economic
    p.small-text Q20: Profilul tău este setat ca…?
    p.small-text Baza: Toți copiii care au un profil pe o platformă de socializare online.
    ul
      li
        strong Majoritatea copiilor din România (57%) au contul de pe platforma de socializare setat ca public
        |, ceea ce înseamnă că oricine îl poate vedea; 20% îl au parțial privat (contul poate fi văzut doar de către prietenii prietenilor) și 23% îl au setat ca privat. Comparativ, la nivelul tuturor țărilor participante la proiect, 29% dintre copiii au contul public, 27% parțial privat și 44% îl au privat. 
      li La fel ca la nivelul eșantionului european (7 țări), și în România, băieții sunt mai dispuși decât fetele în a avea un profil public (64% față de 51%). 
      li
        |În ceea ce privește variabila vârstă, diferențe consistente apar între grupul celor de 9-10 ani – unde apare cel mai mare procent, 56%, care declară că au profilul ‘privat’ – și restul copiilor (efectul de prag). Remarcăm însă, în aceeași grupă de vârstă (
        strong 9-10 ani
        |), 
        strong că unul din trei copii are profilul setat pe ‘public’ 
        |astfel încât oricine îl poate vedea. Mai mult, 
        strong 6 din 10 copii din altă categorie care teoretic nu ar trebui să fie prezenți în astfel de rețele de socializare, cei de 11-12 ani, au un profil deschis
        |. Aceste date dovedesc o lipsă de informație în rândurile copiilor (mai ales în ceea ce privește siguranța pe internet), căreia i se adaugă o lipsă de conștientizare a potențialului de risc la care se expun prin anumite comportamente online. De asemenea asistăm la o 
        strong slabă conștientizare a acestor riscuri din partea adulților 
        |de multe ori tentați să acorde o mai mare atenție unor false pericole sau unor riscuri ‘dramatice’, în defavoarea riscurilor mărunte dar care pot avea consecințe negative în procesul de dezvoltare psihică și socială a copilului.
      li Statusul socio-economic influențează linear comportamentul de afișare al copilului în rețelele de socilizare online, cu copiii dezavantajați sociali mai ‘expuși’ public decât cei cu SSE ridicat, mai dispuși să își țină profilul ‘privat’. Diferențele însă nu sunt majore, și în grupul cel mai grijuliu cu setările de securitate, 5 din 10 copii având profilul vizibil pentru toată lumea.
      li La nivel trans-național, România stă cel mai prost la acest capitol, urmată de Italia cu câte o treime dintre copii cu profil privat, o treime semi-privat și o treime public. La polul opus se situează Irlanda, una dintre țările cu puternice campanii publice de conștientizare și cu educație privind siguranța pe internet bine implementate în curricula școlară unde doar 15% au profilul setat pe ‘public’, 26% îl au parțial privat și 59% privat.
    p Acestui indicator al setărilor de securitate ale profilului i se adaugă informația legată de ce anume alege copilul să afișeze despre el. Astfel, un profil public care însă nu are informații care să permită identificarea cu ușurință a deținătorului sau care să genereze o interacțiune agresivă venită din partea necunoscuților (de exemplu, afișarea unor poze poate genera avansuri sexuale de la alți utilizatori necunoscuți sau pur și simplu replici agresive de la ‘hater’-i, acele persoane care tind să critice sau agresive, fără un motiv aparent, cu ceilalți utilizatori. 
    p Tabelul 13 arată care sunt informațiile pe care le expun copiii pe profilul lor de pe platformele de socializare, în funcție de vârstă și gen.
    p.table Tabelul 13: Ce informații expun copiii de profilul lor de pe rețelele de socializare online, în funcție de vârstă și gen
    table.table-responsive
      thead
        tr
          td(rowspan="2") % dintre cei care spun că profilul lor de pe SNS arată...
          td(colspan="2") 9-12 ani
          td(colspan="2") 13-16 ani
          td(rowspan="2") Total RO
        tr
          td Băieți
          td Fete
          td Băieți
          td Fete
      tbody
        tr
          td O poză în care se vede clar fața ta
          td 65
          td 85
          td 84
          td 96
          td 85
        tr
          td Numele tău de familie
          td 71
          td 67
          td 75
          td 62
          td 69
        tr
          td Adresa ta
          td 43
          td 42
          td 35
          td 40
          td 39
        tr
          td Numărul tău de telefon
          td 10
          td 12
          td 25
          td 9
          td 15
        tr
          td Școala ta
          td 59
          td 67
          td 67
          td 75
          td 68
        tr
          td O vârstă care nu e vârsta ta reală
          td 66
          td 66
          td 20
          td 20
          td 38
    p.small-text Q21: Care dintre informaţiile de pe cartonaş sunt incluse în profilul/contul tău?
    p.small-text Baza: Toți copiii care au un cont pe o platformă de socializare online.
    ul
      li
        strong Majoritatea copiilor (85%) expun o poză în care li se poate vedea clar fața
        |, 7 din 10 copii având afișate informații despre numele de familie (mai puțini decât la nivel european, unde 82% afișează numele) și tot aproape 7 din 10 menționează școala unde învață, în timp ce 4 din 10 au afișată adresa unde locuiesc (față de doua 12% la nivelul celor 7 țări). 
      li
        strong Afișarea unei vârste care nu este cea reală 
        |apare, nesurprinzător date fiind condițiile de folosire a platformelor care impun limită de vârstă și faptul că aceste condiții sunt în fapt încălcate de către copii – 
        strong în 38% dintre cazuri (39% celor 7 țări), de trei ori mai mult la copiii de 9-12 ani față de cei de 13-16 ani
        |.
      li
        |De altfel, în cursul interviurilor de grup, una dintre mame a ridicat chiar această problemă a faptului că atâta timp cât nu se poate interzice copiilor să folosească aceste platforme, este de dorit o schimbare a regulilor de acces, cu o adaptarea a acestora pentru utilizatorii tineri și foarte tineri pentru a nu îi ‘forța’ pe aceștia să mintă cu privire la vârsta proprie. Aceeași idee a fost susținută și în rapoartele EU Kids Online și Net Children Go Mobile, argumentându-se că 
        strong o asumare de către industrie a acestei probleme și modificarea condițiilor de acces (cu pre-setări automate de securitate pentru utilizatorii de vârstă mică și anumite filtre în fluxul de reclame la care sunt expuși) este necesară 
        |în condițiile în care, în ciuda interdicțiilor formale, copiii sunt prezenți pe aceste site-uri. 
      li Cei 20% din grupa 13-16 ani care își declară și afișează la profil o vârstă mai mare decât cea pe care o au în realitate sunt mai expuși riscurilor dacă vârsta afișată este mai mare de 18 ani (ceea ce în general se întâmplă) deoarece în mod automat unele platforme de socializare activează anumite setări și filtre protective pentru utilizatorii sub 18 ani, ceea ce nu se întâmplă dacă aceștia nu se identifică astfel.
      li Fetele sunt mai dornice decât băieții să expună o poză în care li se vede fața, mai mult la cele din grupa 9-12 ani, față de adolescenți unde diferența se micșorează. În același timp, băieții adolescenți sunt mai doritori să fie contactați, 1 din 4 afișându-și la profil numărul de telefon.
      li În grupa de vârstă de 9-12 ani apar, atât printre fete cât și printre băieți, cei mai mulți care afișează adresa unde locuiesc (42%, respectiv 43%).




