+article("4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane")
  +section("4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane")
    h1 4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane
    p Pentru a  înțelege dacă și cum anume  copiii dezvoltă repertorii comunicaționale complexe, care cuprind platforme și canale diferite de comunicare, pnetru a se angaja în interacțiuni cu diverși actori sociali, i-am întrebat pe copii cât de probabil este să comunice cu anumite persoane în diferite moduri. Astfel, Tabelul 14 arată modurile în care copiii comunică cu părinții lor.
    p.table Tabelul 14: Moduri de a fi în contact cu părinții
    table.table-responsive
      thead
        tr
          td % copiilor care comunică cu părinții prin...
          td De mai multe ori pe zi
          td Zilnic sau aproape zilnic
          td Cel puțin săptămânal
          td Niciodată sau aproape niciodată
      tbody
        tr
          td Convorbiri telefonice la mobil sau smartphone
          td 37
          td 37 
          td 16
          td 10
        tr
          td SMS-uri sau MMS-uri
          td 10
          td 22
          td 29
          td 40
        tr
          td E-mail-uri
          td 2
          td 2
          td 6
          td 90
        tr
          td Prin intermediul SNS (e.g. Facebook)
          td 2
          td 11
          td 12
          td 75
    p.small-text Q13, Q14, Q15, Q19: Cât de frecvent ești în contact cu următoarele persoane prin convorbiri telefonice folosind telefonul mobil sau smartphone-ul, mesaje de tip text (SMS-uri) sau multimedia (MMS-uri) trimise de pe telefonul mobil sau smartphone, email-uri sau prin intermediul platformelor de socializare online pe care le folosești?
      br
      | Baza: Toți copiii care folosesc respectivul mediu de comunicare.
    ul
      li
        strong Telefonul mobil rămâne calea principală prin care copiii comunică cu părinții
        |, 3 din 4 spunând că vorbesc zilnic cu părinții lor folosind acest mijloc (mai mult decât la nivelul tuturor țărilor unde 57% vorbeau zilnic la telefon cu părinții). Mesajele telefonice (de tip text sau multimedia) sunt folosite zilnic pentru a intra în contact cu părinții de unul din trei copii, în urma mediei celor 7 țări (41%).
    p De altfel, așa cum am mai spus, achiziționarea primului telefon mobil se face – dincolo de presiunea socială, deoarece se pare că ‘toți colegii au deja telefon’ – pentru a asigura părintelui un pseudo-liniștitor contact permanent cu copilul atunci când începe desprinderea acestuia și se fac primii lui pași spre autonomie (de obicei acești primi pași duc spre școală și înapoi):
    em
      p „I: Deci, în clasa a III-a… şi aţi decis să îi luaţi telefon atunci pentru că…?
      p M: Ca să putem comunica, de exemplu, pentru că el merge singur… Am încercat să îl învăţ din clasa a III-a, cam aşa. Şi, de la început de clasa a IV-a, vine singur la şcoală şi merge singur. Regula 1: când ajunge acasă, să îmi dea un apel. Acum, mă sună în disperare că nu i-am răspuns. Şi atâta îmi spune: am ajuns.”(mamă, copil 9 ani)
    ul
      li Cea mai puțin folosită metodă este e-mail-ul, folosit zilnic doar de 4% dintre copii. Comunicarea cu părinții pe platformele de socializare pare mai populară în România față de alte țări, cu o medie de 13% zilnic, față de 10% media generală. De altfel, este de remarcat că unul dintre motivele, menționat de copiii din Danemarca, de a migra de pe o anumită platformă de socializare era prezența părinților pe aceasta rețea. În același timp, copiii din România sunt mai ‘toleranți’ cu părinții lor, avându-i în cele mai multe cazuri în lista de ‘prieteni’. 
      li Totuși, 3 din 4 copii declară că nu comunică niciodată sau aproape niciodată cu părinții pe o platformă de socializare.
    p Tabelul 15 arată modurile în care copiii comunică cu prietenii:
    p.table Tabelul 15: Moduri de a fi în contact cu prietenii
    table.table-responsive
      thead
        tr
          td % copiilor care comunică cu prietenii prin...
          td De mai multe ori pe zi
          td Zilnic sau aproape zilnic
          td Cel puțin săptămânal
          td Niciodată sau aproape niciodată
      tbody
        tr
          td Convorbiri telefonice la mobil sau smartphone
          td 32
          td 45 
          td 20
          td 3
        tr
          td SMS-uri sau MMS-uri
          td 21
          td 43
          td 21
          td 15
        tr
          td E-mail-uri
          td 4
          td 11
          td 29
          td 57
        tr
          td Prin intermediul SNS (e.g. Facebook)
          td 17
          td 50
          td 30
          td 4
    p.small-text Q13, Q14, Q15, Q19: Cât de frecvent ești în contact cu următoarele persoane prin convorbiri telefonice folosind telefonul mobil sau smartphone-ul, SMS-uri sau MMS-uri, email-uri, platformele de socializare online pe care le folosești?
      br
      | Baza: Toți copiii care folosesc respectivul mediu de comunicare.
    ul
      li Așa cum era de așteptat, comunicarea cu prietenii urmează alt model, unde platformele de socializare online joacă un rol important. Astfel, chiar dacă telefonul mobil rămâne important – cu 77% declarând că îl folosesc zilnic pentru convorbiri cu prietenii și 64% pentru a trimite mesaje (SMS sau MSM), folosirea zilnică a platformelor sociale este menționată de două treimi dintre copii, doar 4% spunând că nu folosesc niciodată sau aproape niciodată acest mijloc pentru a fi în contact cu prietenii.
      li O considerabil mai mică popularitate printre prieteni o au e-mail-urile, 57% spunând că nu folosesc niciodată acest mijloc.
    p Deși în general de vârste apropiate, comunicarea cu frații sau surorile diferă de cea cu prietenii. Tabelul 16 arată că frații și surorile sunt mult mai rar obiectul atenției copiilor, contactul cu aceștia fiind menținut zilnic mai ales prin convorbiri telefonice, în rest fiind sporadic:
    p.table Tabelul 16: Moduri de a fi în contact cu frații și surorile
    table.table-responsive
      thead
        tr
          td % copiilor care comunică cu frații sau surorile prin...
          td De mai multe ori pe zi
          td Zilnic sau aproape zilnic
          td Cel puțin săptămânal
          td Niciodată sau aproape niciodată
      tbody
        tr
          td Convorbiri telefonice la mobil sau smartphone
          td 14
          td 25 
          td 20
          td 41
        tr
          td SMS-uri sau MMS-uri
          td 12
          td 13
          td 17
          td 58
        tr
          td E-mail-uri
          td 2
          td 1
          td 7
          td 91
        tr
          td Prin intermediul SNS (e.g. Facebook)
          td 3
          td 11
          td 18
          td 68
    p.small-text Q13, Q14, Q15, Q19: Cât de frecvent ești în contact cu următoarele persoane prin convorbiri telefonice folosind telefonul mobil sau smartphone-ul, mesaje de tip text (SMS-uri) sau multimedia (MMS-uri) trimise de pe telefonul mobil sau smartphone, email-uri sau prin intermediul platformelor de socializare online pe care le folosești?
      br
      | Baza: Toți copiii care folosesc respectivul mediu de comunicare.
    ul
      li 4 din 10 copii declară că vorbesc zilnic la telefonul mobil cu frații sau surorile, la egalitate cu cei care nu vorbesc niciodată sau aproape niciodată; SMS-ul sau MSM-ul este folosit zilnic în acest scop de 1 din 4 copii.
      li Comunicarea online este și mai redusă, 9 din 10 declarând că nu folosesc niciodată e-mail-ul și 7 din 10 că nu folosesc niciodată sau aproape niciodată o platformă de socializare pentru a fi în contact cu frații sau surorile.
    p
      |Dincolo de interesul pentru repertoriile comunicaționale ale copiilor, din perspectiva siguranței pe internet și pentru o evaluare cât mai adecvată a eventualului risc la care copiii se expun (evaluare care să fie la distanță egală atât de panicile mediatice cu privire la riscurile online, cât și de atitudinea 
      em laissez-faire
      |) ne-a interesat care este modul în care copiii intră în contact cu persoanele cunoscute doar online. Astfel, Tabelul 17 arată datele referitoare la modul de a comunica cu ‘străinii’, adică acele persoane cunoscute doar pe internet:
    p.table Tabelul 17: Moduri de a fi în contact cu persoane cunoscute doar online
    table.table-responsive
      thead
        tr
          td % copiilor care comunică cu persoane pe care le-au cunoscut doar online prin...
          td De mai multe ori pe zi
          td Zilnic sau aproape zilnic
          td Cel puțin săptămânal
          td Niciodată sau aproape niciodată
      tbody
        tr
          td Convorbiri telefonice la mobil sau smartphone
          td 3
          td 7 
          td 18
          td 72
        tr
          td SMS-uri sau MMS-uri
          td 3
          td 5
          td 11
          td 81
        tr
          td E-mail-uri
          td 2
          td 2
          td 11
          td 85
        tr
          td Prin intermediul SNS (e.g. Facebook)
          td 3
          td 15
          td 25
          td 58
    p.small-text Q13, Q14, Q15, Q19: Cât de frecvent ești în contact cu următoarele persoane prin convorbiri telefonice folosind telefonul mobil sau smartphone-ul, mesaje de tip text (SMS-uri) sau multimedia (MMS-uri) trimise de pe telefonul mobil sau smartphone, email-uri sau prin intermediul platformelor de socializare online pe care le folosești?
      br
      | Baza: Toți copiii care folosesc respectivul mediu de comunicare.
    ul
      li Telefonul este de această dată un canal mai puțin preferat, 72% spunând că nu au niciodată sau aproape niciodată convorbiri telefonice cu astfel de persoane, și 81% spunând același lucruri despre SMS-uri și MSM-uri. 
      li Calea predilectă a fi în contact cu aceste persoane rămâne internetul, aproape 2 din 10 copii fiind zilnic, și unul din 4 săptămânal, în contact pe plaformele de socializare cu persoane necunoscute în viața reală (comparativ cu 12% zilnic și 14 % săptămânal, la nivelul celor 7 țări).  
      li Pentru acest tip de contact, e-mail-ul este folosit de surprinzător de mulți copii în România, față de 2% zilnic și 3% săptămânal la nivel european.
    p Figura 10 arată cum variază folosirea telefonului mobil pentru a fi zilnic în contact cu părinții și cu prietenii, în funcție de variabilele gen, vârstă și SSE:
    p.table Figura 10: Folosirea telefonului mobil / smartphone-ului pentru a comunica zilnic cu părinții și prietenii, în functie de gen, vâr0stă si status socio-economic
    +hchart({
      bars: [
        {
          name: 'Total EU',
          data: [61, '#6eb1d6', 57, '#568bc3']
        },
        {
          name: 'Băieți',
          data: [70, '#6eb1d6', 71, '#568bc3']
        },
        {
          name: 'Fete',
          data: [85, '#6eb1d6', 78, '#568bc3']
        },
        {
          name: '9-10 ani',
          data: [55, '#ced95a', 73, '#b6c800']
        },
        {
          name: '11-12 ani',
          data: [79, '#ced95a', 81, '#b6c800']
        },
        {
          name: '13-14 ani',
          data: [71, '#ced95a', 67, '#b6c800']
        },
        {
          name: '15-16 ani',
          data: [89, '#ced95a', 78, '#b6c800']
        },
        {
          name: 'SSE scăzut',
          data: [67, '#b0c8a0', 62, '#88ae80']
        },
        {
          name: 'SSE mediu',
          data: [84, '#b0c8a0', 83, '#88ae80']
        },
        {
          name: 'SSE ridicat',
          data: [83, '#b0c8a0', 80, '#88ae80']
        },
        {
          name: 'Total RO',
          data: [77, '#7fd0d3', 74, '#3ab8bd']
        }
      ],
      legend: [
        {
          name: "% Prieteni",
          color: "#7fd0d3"
        },
        {
        name: "% Părinți",
        color: "#3ab8bd"
        }
      ]
    })
    p.small-text Q13: Cât de frecvent ești în contact cu următoarele persoane prin convorbiri telefonice folosind telefonul mobil sau smartphone-ul?
      br
      | Baza: Toți copiii care utilizează un telefon mobil sau un smartphone.
    ul
      li Astfel, fetele sunt mai comunicative decât băieții, atât în ceea ce îi privește pe părinți cât și, chiar în mai mare măsură, când este vorba de prieteni.
      li În funcție de vârstă, cel mai mult comunică zilnic cu părinții cei din grupa 11-12 ani, interviurile în profunzime cu copiii și cu părinții arătând că acesta este un moment critic în câștigarea independenței copilului față de părinți, marcat îndeosebi prin faptul că este lăsat să meargă și/sau să vină singur de la școală, cu condiția însă de a înștiința prin telefon pe părinte că a ajuns la școală, respectiv acasă. La 13-14 ani deja acest obicei devine rutină și avem de-a face cu cel mai mic procent de contacte zilnice prin telefon cu părinții, asistând din nou la o creștere aparent nejustificată la grupa 15-16 ani, când avem de-a face cu mărirea razei de independență a copilului, liceul fiind de multe ori la distanțe mai mari decât școala generală, uneori chiar în altă localitate (grijile părintești crescând proporțional).
      li Evoluția cu factorul vârstă a folosirii zilnice a telefonului mobil pentru a fi în contact cu prietenii nu cere prea mari explicații, cunoscut fiind faptul că importanța prietenilor în viața tinerilor crește din copilărie spre adolescență. Astfel trecerea de la comunicarea mai mult cu părinții, în grupa 9-10 ani, la comunicarea mai mult cu prietenii în grupa 15-16 ani era oarecum de așteptat. 
      li Se observă că SSE influențează practicile de comunicare prin telefonul mobil atât cu părinții, cât și cu prietenii, diferențele apărând mai ales între grupul celor cu SSE scăzut și restul.
    p.table Figura 11: Folosirea zilnică a mesajelor text (SMS) sau multimedia (MMS) pentru a fi în contact cu părinții si prietenii, în funcție de gen, vârstă și status socio-economic
    +hchart({
      bars: [
        {
          name: 'Total EU',
          data: [66, '#6eb1d6', 41, '#568bc3']
        },
        {
          name: 'Băieți',
          data: [54, '#6eb1d6', 27, '#568bc3']
        },
        {
          name: 'Fete',
          data: [73, '#6eb1d6', 36, '#568bc3']
        },
        {
          name: '9-10 ani',
          data: [31, '#ced95a', 33, '#b6c800']
        },
        {
          name: '11-12 ani',
          data: [68, '#ced95a', 51, '#b6c800']
        },
        {
          name: '13-14 ani',
          data: [56, '#ced95a', 22, '#b6c800']
        },
        {
          name: '15-16 ani',
          data: [79, '#ced95a', 29, '#b6c800']
        },
        {
          name: 'SSE scăzut',
          data: [62, '#b0c8a0', 24, '#88ae80']
        },
        {
          name: 'SSE mediu',
          data: [63, '#b0c8a0', 34, '#88ae80']
        },
        {
          name: 'SSE ridicat',
          data: [69, '#b0c8a0', 43, '#88ae80']
        },
        {
          name: 'Total RO',
          data: [64, '#7fd0d3', 32, '#3ab8bd']
        }
      ],
      legend: [
        {
          name: "% Prieteni",
          color: "#7fd0d3"
        },
        {
        name: "% Părinți",
        color: "#3ab8bd"
        }
      ]
    })
    p.small-text Q14: Cât de frecvent ești în contact cu următoarele persoane prin mesaje de tip text (SMS-uri) sau multimedia (MMS-uri) trimise de pe telefonul mobil sau smartphone?
      br
      | Baza: Toți copiii care utilizează un telefon mobil sau un smartphone.
    p Așa cum se poate observa în Figura 11, folosirea telefonului mobil pentru trimiterea SMS-urilor și a MMS-urilor diferă de folosirea lui pentru apeluri:
    ul
      li
        strong Cel mai mult se folosesc mesajele de tip SMS pentru a comunica cu prietenii
        |, doar în grupa celor de 9-10 ani mesajele pentru a comunica cu părinții fiind mai multe decât cele pentru a comunica cu prietenii.
      li Din nou, fetele sunt mai comunicative decât băieții atât cu părinții cât și cu prietenii, doar că cu aceștia din urmă diferența este mai mare.
      li Dacă statusul socio-economic nu pare să influențeze comunicarea prin mesaje cu prietenii, el este important în comunicarea cu părinții, la un nivel mai ridicat fiind mai probabil să folosească această cale de comunicare.
    p Contactul zilnic prin intermediul platformelor de socializare (SNS), lasă părinții mult în urma prietenilor,  la toate grupele investigate, așa cum  se poate vedea în Figura 12:
    ul
      li Factorul gen devine irelevant în ceea ce privește comunicarea cu prietenii, existând o diferență în ceea ce privește comunicarea cu părinții (fetele cu 4% mai multe decât băieții).
      li Interesantă este evoluția comunicării cu părinții în SNS în funcție de factorul vârstă. Așa cum spuneam, cei mici încep de multe ori prin a fi prieteni cu propriii părinți și comunică cu ei pe această cale; părinții îi încurajează și susțin dându-le ‘like’ la diferite postări pe care în general le distribuie, nefiind creatori de conținut la această vârstă. Spre adolescență însă, în dorința de a își afișa independența, reduc acest mod de a comunica, pentru ca la 15-16 ani când independența lor nu mai este pusă sub semnul întrebării, să comunice din nou cu părinții în acest fel (este, la acest nivel un fel de a compensa absența fizică a adolescenților din familie). 
      li Comunicarea zilnică cu părinții pe SNS variază cu SSE în altă direcție în România față de eșantionul general (pe cele 7 țări). Astfel, dacă per total cu cât crește SSE cu atât scade probabilitatea ca părinții să fie zilnic în contact cu copiii via SNS, în România scăderea apare doar la copiii din familii situate la nivel mediu (la diferență de 5-6% față de extremă. De asemenea, în România este mai mare diferența între cei din clasa dezavantajată și restul în ceea ce privește comunicarea cu prietenii (9% față de 3-4% la nivel european).
    p.table Figura 12: Procentul celor care comunică  zilnic cu părinții și prietenii pe o rețea de socializare online, în funcție de gen, vârstă și status socio-economic
    +hchart({
      bars: [
        {
          name: 'Total EU',
          data: [74, '#6eb1d6', 10, '#568bc3']
        },
        {
          name: 'Băieți',
          data: [67, '#6eb1d6', 11, '#568bc3']
        },
        {
          name: 'Fete',
          data: [67, '#6eb1d6', 14, '#568bc3']
        },
        {
          name: '9-10 ani',
          data: [30, '#ced95a', 13, '#b6c800']
        },
        {
          name: '11-12 ani',
          data: [76, '#ced95a', 12, '#b6c800']
        },
        {
          name: '13-14 ani',
          data: [68, '#ced95a', 6, '#b6c800']
        },
        {
          name: '15-16 ani',
          data: [74, '#ced95a', 19, '#b6c800']
        },
        {
          name: 'SSE scăzut',
          data: [62, '#b0c8a0', 15, '#88ae80']
        },
        {
          name: 'SSE mediu',
          data: [71, '#b0c8a0', 9, '#88ae80']
        },
        {
          name: 'SSE ridicat',
          data: [71, '#b0c8a0', 14, '#88ae80']
        },
        {
          name: 'Total RO',
          data: [67, '#7fd0d3', 13, '#3ab8bd']
        }
      ],
      legend: [
        {
          name: "% Prieteni",
          color: "#7fd0d3"
        },
        {
        name: "% Părinți",
        color: "#3ab8bd"
        }
      ]
    })
    p.small-text Q18: Cât de frecvent ești în contact cu următoarele persoane pe o platformă de socializare online (SNS)?
      br
      | Baza: toți copiii care utilizează o plaftformă de socializare online (SNS).