+article("4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane")
  +section("4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane")
    h1 4.3. Folosirea diferitelor media pentru a comunica cu diferite persoane

    