+article("9. Internetul mobil în școli")
  +section("9. Internetul mobil în școli")
    h1 9. Internetul mobil în școli
    p
      |Școala, ca sursă de promovare a educației pentru utilizarea internetului în siguranță, are un loc strategic în cadrul diferitelor discursuri de politici publice. Și aceasta deoarece școala poate să completeze medierea parentală și, mai mult decât atât, școala are capacitatea de a furniza 
      strong informații de bază privind siguranța pe internet 
      |copiilor ai căror părinți nu sunt suficient de informați sau care nu au competențele digitale necesare pentru aceasta. În consecință, școala și profesorii sunt investiți cu din ce în ce mai multe responsabilități și provocări cărora nu sunt întodeauna pregătiți să le facă față. De asemenea, pentru a putea educa copiii în sensul folosirii noilor tehnologii și pentru folosirea în siguranță a lor, școlile trebuie să fie echipate cu aceste tehnologii astfel încât să poată fi integrate în procesele de predare și educare. Mai mult, educația pentru folosirea în siguranță a internetului trebuie să depășească faza restrictivă (liste de lucruri interzise) deoarece s-a văzut că o atitudine supra-protectoare limitează de asemenea accesul copiilor la oportunitățile internetului (
      +textTooltip("neilllaouris2013")
      |).
    p
      |Pentru o imagine cât mai completă a modului în care școala și profesorii influențează modul de folosire al internetului  de către copii, am investigat trei aspecte: (1) dotarea cu 
      strong rețele wifi 
      |și 
      strong regulile pentru folosirea smartphone-ului în școală 
      |– ca indicatori ai atitudinii generale față de tehnologie a sistemului educativ; (2) 
      strong angajarea profesorilor 
      |în diferite 
      strong strategii de mediere 
      |– mai exact, medierea activă pentru folosirea în siguranță a internetului și restricțiile impuse în folosirea internetului și a smartphone-ului; (3) 
      strong promovarea folosirii internetului și a smartphone-ului în scopuri pozitive
      |, legate de școală.
