+article("9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală")
  +section("9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală")
    h1 9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală
    p Așa cum am văzut în Figura 1, folosirea zilnică a internetului la școală este în România la aproape jumătate din media tuturor țărilor participante la proiect. Această diferență poate fi rezultatul stadiului de digitalizare al școlilor. Pentru a măsura infrastructura tehnologică a școlilor (Figura 40), am întrebat copiii dacă în școala lor este o rețea de tip wifi, chiar dacă aceasta nu le este accesibilă lor.
    .panel.panel-default
      .panel-heading
        p.table Figura 40: Prezența în școli a rețelelor wifi, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          legend: [
            {
              name: "% Wifi este prezent (deși nu întotdeauna accesibil elevilor)",
              color: "rgb(34,149,202)"
            },
            {
              name: "% Wifi nu este prezent",
              color: "rgb(121,186,220)"
            },
            {
              name: "% Nu știu",
              color: "rgb(193,222,239)"
            }
          ],
          bars: [
            {
              name: 'Total EU',
              data: [64, 'rgb(67,192,197)',22,"rgb(138,214,217)",14, "rgb(201,235,237)"],
              stacked: true
            },
            {
              name: 'Băieți',
              data: [43, 'rgb(34,149,202)',33,"rgb(121,186,220)",24, "rgb(193,222,239)"],
              stacked: true
            },
            {
              name: 'Fete',
              data: [41, 'rgb(34,149,202)',33,"rgb(121,186,220)",26, "rgb(193,222,239)"],
              stacked: true
            },
            {
              name: '9-10 ani',
              data: [36, 'rgb(190,207,0)',16,"rgb(213,223,102)",48,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '11-12 ani',
              data: [36, 'rgb(190,207,0)',46,"rgb(213,223,102)",18,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '13-14 ani',
              data: [38, 'rgb(190,207,0)',41,"rgb(213,223,102)",21,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '15-16 ani',
              data: [54,"rgb(190,207,0)",28,"rgb(213,223,102)",18,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: 'SSE scăzut',
              data: [46,"rgb(147,183,139)",33,"rgb(185,207,170)",21,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'SSE mediu',
              data: [40,"rgb(147,183,139)",33,"rgb(185,207,170)",27,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'SSE ridicat',
              data: [37,"rgb(147,183,139)",37,"rgb(185,207,170)",26,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'Total RO',
              data: [42,"rgb(67,192,197)",33,"rgb(138,214,217)",25,"rgb(201,235,237)"],
              stacked: true
            }
          ],
          step: 20
        })
      .panel-footer
        p.small-text Q60: Există în şcoala ta reţea WIFI disponibilă? Dacă da, le este permis elevilor să o folosească?
        p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li 42% au spus că este o astfel de rețea în școală, 33% că nu este și 25% au spus că nu știu. Prezența wifi-ului în școlile din România este mai redusă decât la nivelul mediei pentru toate cele 7 țări participante; remarcăm în același timp procentul mare (un sfert dintre copii) care spun că nu știu acest lucru.
      li Variația în funcție de vârstă ne arată că liceele sunt mai dotate decât școlile gimnaziale, și de asemenea că cei mai mulți ‘neștiutori’ sunt în grupa 9-10 ani.
      li Comparativ cu celelalte țări, România are cea mai redusă infrastructură wifi în școli (42%), urmată de Belgia (51%) și Italia (57%), la polul opus fiind Danemarca, cu 85% dintre copii spunând că există o rețea wifi în școală.
    p
      |Dincolo de pura existență a rețelei, am vrut să vedem în ce măsură aceasta le este accesibilă elevilor. Majoritatea (59%) declară că nu le este permis accesul la rețea deși 13% spun că au spart parola și folosesc rețeaua în ciuda interdicției. Accesul la rețea este permis, cu anumite restricții sau fără, restricții în 41%
      +footnote(13)
        span Datorită rotunjirilor, procentul afișat pare să fie mai mare de 100%. Nu este greșeală de calcul, ci doar de afișaj. 
      | din cazuri.
    ul
      li Accesul la rețeaua wifi a școlii variază cu genul astfel: fetele menționează mai frecvent interdicțiile decât băieții și tot fetele spun în proporție mai mare că accesul este permis fără restricții.  Băieții sunt mai dispuși să spună că există interdicție, dar au spart parola.
      li Variația în funcție de vârstă nu pare să urmeze niciun tipar predictibil, cei din ciclul primar spunând în cea mai mare proporție că le este interzis accesul, cei din grupa 11-12 ani susținând cea mai mare libertate (20% spun că nu au nicio restricție) și cei de la liceu fiind cei mai mulți care spun că le este permis accesul dar cu anumite restricții (40%). Deși gradul de interdicție nu variază cu SSE, în grupa celor mai dezavantajați sunt cei mai puțini dispuși să spună că deși există interdicție, au spart parola (nu știm dacă acesta este un semn al unor abilități tehnice mai scăzute sau semnul supunerii la regulă).
      li Danemarca este țara unde găsim cel mai mare procent (56%) al celor care declară că au acces la rețeaua școlii fără nicio restricție, copiii din Marea Britanie declară în cea mai mare proporție (58%) că au acces cu anumite restricții, copiii din Italia sunt cei mai restricționați cu 59% declarând că nu au acces deloc, în timp ce tot copiii din Italia, ca și cei din România, sunt cei mai dispuși să încalce această interdicție declarând că în ciuda interdicției, au spart parola (13%).
    .panel.panel-default
      .panel-heading
        p.table Figura 41: Accesibilitatea rețelelor wifi pentru elevi, acolo unde acestea sunt prezente în școli, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          legend: [
            {
              name: "% Nu este permis",
              color: "rgb(34,149,202)"
            },
            {
              name: "% Nu este permis dar au spart parola",
              color: "rgb(121,186,220)"
            },
            {
              name: "% Este permis cu anumite restricții",
              color: "rgb(193,222,239)"
            },
            {
              name: "% Este permis fără restricții",
              color: "#f3f3f3"
            }
          ],
          bars: [
            {
              name: 'Total EU',
              data: [34, 'rgb(67,192,197)',8,"rgb(138,214,217)",42, "rgb(201,235,237)",16,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'Băieți',
              data: [40, 'rgb(34,149,202)',20,"rgb(121,186,220)",30, "rgb(193,222,239)",10,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'Fete',
              data: [49, 'rgb(34,149,202)',6,"rgb(121,186,220)",30, "rgb(193,222,239)",15,"#f3f3f3"],
              stacked: true
            },
            {
              name: '9-10 ani',
              data: [68, 'rgb(190,207,0)',10,"rgb(213,223,102)",17,"rgb(234,239,185)",5,"#f3f3f3"],
              stacked: true
            },
            {
              name: '11-12 ani',
              data: [44, 'rgb(190,207,0)',7,"rgb(213,223,102)",29,"rgb(234,239,185)",20,"#f3f3f3"],
              stacked: true
            },
            {
              name: '13-14 ani',
              data: [38, 'rgb(190,207,0)',21,"rgb(213,223,102)",26,"rgb(234,239,185)",15,"#f3f3f3"],
              stacked: true
            },
            {
              name: '15-16 ani',
              data: [39,"rgb(190,207,0)",12,"rgb(213,223,102)",40,"rgb(234,239,185)",9,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'SSE scăzut',
              data: [53,"rgb(147,183,139)",2,"rgb(185,207,170)",32,"rgb(222,232,220)",13,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'SSE mediu',
              data: [37,"rgb(147,183,139)",24,"rgb(185,207,170)",28,"rgb(222,232,220)",11,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'SSE ridicat',
              data: [45,"rgb(147,183,139)",13,"rgb(185,207,170)",26,"rgb(222,232,220)",16,"#f3f3f3"],
              stacked: true
            },
            {
              name: 'Total RO',
              data: [45,"rgb(67,192,197)",13,"rgb(138,214,217)",30,"rgb(201,235,237)",12,"#f3f3f3"],
              stacked: true
            }
          ],
          step: 20
        })
      .panel-footer
        p.small-text Q60: Există în şcoala ta reţea WIFI disponibilă? Dacă da, le este permis elevilor să o folosească?
        p.small-text Baza: Toți copiii care folosesc internetul.

