+article("9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală")
  +section("9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală")
    h1 9.1. Prezența rețelelor wifi în școli și reglementările de folosire a dispozitivelor mobile în școală