+article("9.2. Reguli despre folosirea smartphone-ului în școală")
  +section("9.2. Reguli despre folosirea smartphone-ului în școală")
    h1 9.2. Reguli despre folosirea smartphone-ului în școală
    p Dispozitiv portabil, care face parte din viața cotidiană a copiilor în orice situație, smartphone-ul este subiectul unor reglementări speciale în cadrul școlii, așa cum o indică și Figura 42: 
    .panel.panel-default
      .panel-heading
        p.table Figura 42: Reguli pentru utilizarea smartphone-ului în școală, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          legend: [
            {
              name: "% Nu este permis",
              color: "rgb(34,149,202)"
            },
            {
              name: "% Permis dar cu anumite restricții",
              color: "rgb(121,186,220)"
            },
            {
              name: "% Permis fără restricții",
              color: "rgb(193,222,239)"
            }
          ],
          bars: [
            {
              name: 'Total EU',
              data: [54, 'rgb(67,192,197)',31,"rgb(138,214,217)",15, "rgb(201,235,237)"],
              stacked: true
            },
            {
              name: 'Băieți',
              data: [37, 'rgb(34,149,202)',49,"rgb(121,186,220)",14, "rgb(193,222,239)"],
              stacked: true
            },
            {
              name: 'Fete',
              data: [46, 'rgb(34,149,202)',43,"rgb(121,186,220)",11, "rgb(193,222,239)"],
              stacked: true
            },
            {
              name: '9-10 ani',
              data: [43, 'rgb(190,207,0)',49,"rgb(213,223,102)",7,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '11-12 ani',
              data: [46, 'rgb(190,207,0)',49,"rgb(213,223,102)",5,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '13-14 ani',
              data: [53, 'rgb(190,207,0)',34,"rgb(213,223,102)",13,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: '15-16 ani',
              data: [26,"rgb(190,207,0)",54,"rgb(213,223,102)",20,"rgb(234,239,185)"],
              stacked: true
            },
            {
              name: 'SSE scăzut',
              data: [52,"rgb(147,183,139)",41,"rgb(185,207,170)",7,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'SSE mediu',
              data: [37,"rgb(147,183,139)",48,"rgb(185,207,170)",15,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'SSE ridicat',
              data: [30,"rgb(147,183,139)",55,"rgb(185,207,170)",15,"rgb(222,232,220)"],
              stacked: true
            },
            {
              name: 'Total RO',
              data: [42,"rgb(67,192,197)",46,"rgb(138,214,217)",12,"rgb(201,235,237)"],
              stacked: true
            }
          ],
          step: 20
        })
      .panel-footer
        p.small-text Q61: Elevilor le este permis să folosească smartphone-ul la şcoală?
        p.small-text Baza: Toți copiii care folosesc internetul.
    p
      strong 46% dintre copii spun că folosirea smartphone-ului este permisă cu anumite restricții, 42% spun că nu le este permis și 12% că le este permis fără restricții.
    ul
      li Fetele sunt mai înclinate să raporteze interdicții totale, în timp ce băieții sunt mai dispuși să raporteze restricționări.
      li În funcție de factorul vârstă, se poate observa că cea mai mare permisivitate pentru folosirea smartphone-ului în școală (cu sau fără restricții) apare la grupa 15-16 ani, în timp ce grupa care raportează în cea mai mare proporție restricționare este cea de 13-14 ani. 
      li Copiii cu statut socio-economic mai scăzut sunt tentați să raporteze în mai mare proporție decât cei cu statut socio-economic ridicat restricții impuse de școală în folosirea smartphone-ului.

