+article("9.3. Medierea din partea profesorilor și oportunitățile de învățare")
  +section("9.3. Medierea din partea profesorilor și oportunitățile de învățare")
    h1 9.3. Medierea din partea profesorilor și oportunitățile de învățare
    p Așa cum o arată Tabelul 53, profesorii se angajează într-o varietate de activități de mediere, incluzând sfaturi practice și restricționări. Astfel, 54% dintre copiii din România declară că profesorii le-au explicat de ce unele site-uri sunt bune și unele nu, 47% că profesorii i-au ajutat când ceva era greu de făcut sau de găsit pe internet și, tot 47% declară că profesorii le-au dat sfaturi legate de folosirea în siguranță a internetului. 46% dintre copiii au spus că profesorii le-au impus reguli despre ce pot și ce nu pot face pe internet la școală si 43% declară că au fost ghidați în normele de comportare socială pe internet. Cea mai slab raportată formă de mediere este cea legată de situația post-risc, unde doar 29% dintre copii spun că profesorii i-au ajutat (un procent mult mai mare decât al copiilor care au spus că s-ar îndrepta către profesori dacă ar întâlni o situație neplăcută, așa cum apărea în Tabelul 44.)
    .panel.panel-default
      .panel-heading
        p.table Tabelul 53: Medierea activă din partea profesorilor pentru utilizarea internetului de către copii, în funcție de vârstă și gen
      .panel-body
        table.table-responsive
          thead
            tr
              th %...
              th 
                div Băieți
                div 9-12 ani
              th 
                div Fete
                div 9-12 ani
              th 
                div Băieți
                div 13-16 ani
              th 
                div Fete
                div 13-16 ani
              th Total RO
              th Total EU (7)
          tbody
            tr
              td A vorbit cu tine despre ce faci pe internet
              td 41
              td 38
              td 50
              td 40
              td 42
              td 49
            tr
              td Te-a ajutat atunci când ceva îţi părea greu de făcut sau de găsit pe internet
              td 44
              td 50
              td 43
              td 50
              td 47
              td 61
            tr
              td Ţi-a explicat de ce unele site-uri sunt bune sau rele
              td 50
              td 58
              td 56
              td 52
              td 54
              td 54
            tr
              td Ţi-a dat sfaturi despre cum să foloseşti internetul în siguranţă
              td 43
              td 49
              td 48
              td 48
              td 47
              td 56
            tr
              td Ţi-a dat sfaturi despre cum să te comporţi cu alte persoane pe internet
              td 38
              td 40
              td 45
              td 46
              td 43
              td 56
            tr
              td A făcut reguli despre ce ai voie să faci pe internet la şcoală
              td 47
              td 44
              td 46
              td 46
              td 46
              td 51
            tr
              td Te-a ajutat în trecut atunci când te-a supărat ceva de pe internet
              td 34
              td 33
              td 18
              td 31
              td 29
              td 23
            tr
              td În general, ţi-a vorbit despre ce ar trebui să faci dacă ceva de pe internet te-ar deranja
              td 39
              td 44
              td 29
              td 47
              td 40
              td 40
      .panel-footer
        p.small-text Q59: Vreun profesor de la şcoală a făcut vreodată vreunul dintre lucrurile următoare?
        p.small-text Baza: Toți copiii care folosesc internetul.
    p
      |Figura 43 arată cum variază medierea din partea profesorilor, măsurată ca angajarea în cel puțin două activități de mediere. La nivel general, aceasta apare în  
      strong 62% dintre cazuri, față de 69% la nivelul eșantionului tuturor țărilor
      |. Medierea profesorală este cel mai mult raportată de copiii din Irlanda (89%) și cel mai puțin în Italia, cu 44%.
    .panel.panel-default
      .panel-heading
        p.table Figura 43: Medierea activă din partea profesorilor (%)  pentru utilizarea internetului de către copii, în funcție de gen, vârstă și status socio-economic
      .panel-body 
        +hchart({
          bars: [
            {
              name: 'Total EU (7)',
              data: [69, '#ee7401']
            },
            {
              name: 'Băieți',
              data: [59, 'rgb(34,149,202)']
            },
            {
              name: 'Fete',
              data: [64, 'rgb(34,149,202)']
            },
            {
              name: '9-10 ani',
              data: [49, 'rgb(190,207,0)']
            },
            {
              name: '11-12 ani',
              data: [70, 'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [51, 'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [74,"rgb(190,207,0)"]
            },
            {
              name: 'SSE scăzut',
              data: [60,"rgb(147,183,139)"]
            },
            {
              name: 'SSE mediu',
              data: [67,"rgb(147,183,139)"]
            },
            {
              name: 'SSE ridicat',
              data: [47,"rgb(147,183,139)"]
            },
            {
              name: 'Total RO',
              data: [62,"rgb(67,192,197)"]
            }
          ]
        })
      .panel-footer
        p.small-text Q59: Vreun profesor de la şcoală a făcut vreodată vreunul dintre lucrurile următoare? Graficul prezintă procentul copiilor care au răspuns ‘Da’ la cel puțin două dintre afirmațiile din Tabelul 53. 
        p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li Fetele raportează în mai mare măsură medierea venită din partea profesorilor.
      li
        |În funcție de vârstă, 
        strong grupele de 11-12 ani și 15-16 ani sunt cele care raportează cel mai mare nivel de mediere
        |. Aceste rezultate pot fi înțelese dacă ne gândim că cele două grupe sunt la început de ciclu de învățământ și în general intră în contact cu profesori noi și cu noi cerințe de folosire a internetului pentru școală, care de multe ori cer lămuriri și ajutor suplimentar.
    p Susținătorii folosirii internetului de către copii, și nu doar ei, deseori vorbesc despre beneficiile internetului în folosirea la clasă sau în procesul educativ. Astfel, dincolo de medierea activă a profesorilor pentru folosirea în siguranță a internetului de către copii, aceștia pot să încurajeze o folosire pozitivă a internetului și a smartphone-ului în activități legate de școală.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 54: Copiii cărora profesorii le solicită să folosească internetul sau smartphone-ul la școală sau pentru școală
      .panel-body
        table.table-responsive
          thead
            tr
              td %
              td De mai multe ori pe zi 
              td Zilnic sau aproape zilnic
              td Cel puţin o dată pe săptămână
              td Niciodată sau aproape niciodată
          tbody
            tr
              td Folosească internetul pentru informare pentru școală
              td 8
              td 21
              td 45
              td 25
            tr
              td Colaborează cu alți elevi pe internet
              td 7
              td 16
              td 28
              td 49
            tr
              td Utilizeze smartphone-ul pentru diferite sarcini în clasă
              td 4 
              td 7
              td 11
              td 78
      .panel-footer
        p.small-text Q62: Gândindu-ne la şcoala ta, cât de des profesorii vor ca elevii să facă lucrurile următoare?
        p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        strong 3 din 10 copii spun că profesorii le solicită zilnic să folosească internetul pentru a se informa pentru școală
        |, 23% spun că li se solicită zilnic să colaboreze cu ceilalți colegi folosind internetul și doar 
        strong 11% că sunt puși zilnic să folosească smartphone-ul pentru diferite sarcini în clasă
        |. 
      li
        |Totuși, un sfert dintre copii spun că nu li se cere niciodată sau aproape niciodată să folosească internetul pentru informare, jumătate dintre ei că nu li se cere niciodată să colaboreze cu colegii pe internet și ceva mai mult de 
        strong trei sferturi spun că nu li se cere niciodată sau aproape niciodată să folosească smartphone-ul pentru diferite activități sau sarcini în clasă
        |.
    p Figura 44 arată care sunt copiii cărora profesorii le cer să folosească zilnic internetul sau smartphone-ul în diverse activități legate de școală:
    .panel.panel-default
      .panel-heading
        p.table Figura 44: Copiii cărora profesorii le solicită să folosească internetul sau smartphone-ul la școală sau pentru școală (%), în funcție de gen, vârstă și status socio-economic 
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU',
              data: [6, "rgb(201,235,237)",13,"rgb(138,214,217)",26, 'rgb(67,192,197)']
            },
            {
              name: 'Băieți',
              data: [12, "rgb(193,222,239)",21,"rgb(121,186,220)",28, 'rgb(34,149,202)']
            },
            {
              name: 'Fete',
              data: [7, "rgb(193,222,239)",19,"rgb(121,186,220)",26, 'rgb(34,149,202)']
            },
            {
              name: '9-10 ani',
              data: [7, "rgb(234,239,185)",14,"rgb(213,223,102)",13,"rgb(190,207,0)"]
            },
            {
              name: '11-12 ani',
              data: [3, "rgb(234,239,185)",14,"rgb(213,223,102)",26,'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [6, "rgb(234,239,185)",12,"rgb(213,223,102)",22,'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [20,"rgb(234,239,185)",36,"rgb(213,223,102)",41,'rgb(190,207,0)']
            },
            {
              name: 'SSE scăzut',
              data: [9,"rgb(222,232,220)",24,"rgb(185,207,170)",29,"rgb(147,183,139)"]
            },
            {
              name: 'SSE mediu',
              data: [10,"rgb(222,232,220)",14,"rgb(185,207,170)",23,"rgb(147,183,139)"]
            },
            {
              name: 'SSE ridicat',
              data: [11,"rgb(222,232,220)",22,"rgb(185,207,170)",31,"rgb(147,183,139)"]
            },
            {
              name: 'Total RO',
              data: [9,"rgb(201,235,237)",20,"rgb(138,214,217)",27,"rgb(67,192,197)"]
            }
          ],
          legend: [
          {
            name: "% Utilizează smartphone-ul pentru diferite sarcini în clasă",
            color: "rgb(201,235,237)"
          },
          {
            name: "% Colaborează cu alți elevi pe internet",
            color: "rgb(138,214,217)"
          },
          {
            name: "% Folosește internetul pentru informare pentru școală",
            color: "rgb(67,192,197)"
          }
          ]
        })
      .panel-footer
        p.small-text Q62: Gândindu-ne la şcoala ta, cât de des profesorii vor ca elevii să facă lucrurile următoare?
        p.small-text Baza: Toți copiii care folosesc internetul
    ul
      li În ceea ce privește folosirea zilnică a acestor tehnologii pentru școală sau la școală, România se situează deasupra mediei celor 7 state participante la proiect. 
      li Băieții raportează solicitări zilnice din partea profesorilor pentru folosirea respectivelor tehnologii în mai mare proporție decât fetele la toți cei trei indicatori, diferențele nefiind însă majore. 
      li Se observă de asemenea o tendință de creștere odată cu vârsta a tuturor indicatorilor (chiar dacă această creștere nu este constantă). 
      li Cel mai mult sunt solicitați să folosească zilnic, pentru sarcinile de la clasă, smartphone-ul copiii cu SSE ridicat (diferențele nu sunt însă mari) iar cel mai puțin sunt îndreptați spre internet, ca loc de informare sau ca loc de colaborarea cu colegii în proiecte școlare, copiii cu SSE mijlociu.



    
    
    
    
