+article("9.3. Medierea din partea profesorilor și oportunitățile de învățare")
  +section("9.3. Medierea din partea profesorilor și oportunitățile de învățare")
    h1 9.3. Medierea din partea profesorilor și oportunitățile de învățare