+article("6. Riscurile și consecințele dăunătoare ale acestora")
  +section("6. Riscurile și consecințele dăunătoare ale acestora")
    h1 6. Riscurile și consecințele dăunătoare ale acestora
    p
      |Asistăm în ultima perioadă la o multiplicare fără precedent a cercetărilor care abordează riscurile internetului 
      span
        +footnote(9)
          span Pentru datele europene, vezi Ólafsson et al., 2013.
      |, cele mai multe fiind însă limitate la abordări  naționale. O excepție notabilă, care a propus o abordare comparativă la nivel trans-național, a fost proiectul EU Kids Online, care a presupus o anchetă care a cuprins 25000 de copii cu vârste de 9-16 ani și pe părinții lor în 25 de state europene. Unul dintre rezultatele majore ale acestui proiect a fost descoperirea că 
      strong trebuie să facem distinția între riscurile online și consecințele dăunătoare ale acestora, deoarece nu toate riscurile au un impact negativ în percepția copilului 
      |(Livingstone 
      em et al
      |., 2011). Mai mult, același proiect a arătat că nu copiii care întâlnesc mai multe riscuri sunt cei care reclamă un impact negativ puternic al acestora; din contră, aceștia sunt de obicei mai competenți digital și dezvoltă cu ușurință strategii de reziliență. Pe de altă parte, copiii care sunt în general mai puțin expuși atât la riscurile și oportunitățile internetului tind să fie mai supărați atunci când au o experiență negativă online (
      em ibidem
      |; See also Livingstone 
      em et al
      |., 2012). Indiferent de profilul de utilizatori și de competențele avute, copiii care sunt mai vulnerabili în viața reală, ca urmare a unor caracteristici sociale sau psihologice, tind să raporteze un impact negativ mai puternic atunci când sunt în situații de risc online (Livingstone 
      em et al
      |., 2012). Altfel spus, 
      strong vulnerabilitățile online și cele din viața reală merg mână în mână
      |.
    p
      |Pentru a măsura riscurile online la care copiii sunt expuși și consecințele negative ale acestora, am întrebat copiii care utilizează internetul dacă au ‘
      em văzut sau experimentat pe internet lucruri care te-au deranjat în vreun fel? Adică te-au făcut să te simţi neplăcut, supărat sau ai simţit că era mai bine să nu le fi văzut.
      |’ În plus, copiii au fost întrebați în mod specific dacă au întâlnit pe internet o serie de riscuri și dacă au fost deranjați de această experiență. 
    p
      |Metodologia și cadrul analitic folosite la acest capitol se sprijină în mare măsură pe cele ale proiectului EU Kids Online (Livingstone 
      em et al
      |., 2011). Astfel, 
      strong consecințele negative au fost măsurate în mod subiectiv, în termeni de severitate a răspunsurilor emoționale ale copiilor la experiența riscului online
      |. La fel ca în cazul proiectului EU Kids Online, pentru a asigura răspunsuri cât mai reale și date cât mai corecte la aceste întrebări sensibile pentru copii, această  secțiune a chestionarului a fost cu auto-completare, asigurându-se astfel confidențialitatea necesară. Au fost de asemenea evitați termeni cu impact emoțional puternic asupra copiilor (e.g. ‘străin’, ‘bullying’).
