+article("6.1. Percepția globală asupra riscurilor și consecințelor dăunătoare")
  +section("6.1. Percepția globală asupra riscurilor și consecințelor dăunătoare")
    h1 6.1. Percepția globală asupra riscurilor și consecințelor dăunătoare
