+article("6.2. Bullying")
  +section("6.2. Bullying")
    h1 6.2. Bullying
    p
      |În ciuda faptului că este o temă recurentă pe agenda publică, pe agenda cercetătorilor și a decidenților, nu există o definiție standard a ‘cyberbullying’-ului, în parte și fiindcă fenomenul însuși este unul în mișcare (Schrock & boyd, 2008; see also Levy 
      em et al
      |., 2012). Cele mai multe definiții pleacă de la definiția ‘bullying’-ului și de la componentele acestuia. ‘
      strong Bullying
      |’-ul a fost definit ca o formă de agresiune care este (a) 
      strong intenționată
      |, (b) 
      strong repetitivă 
      |și (c) implică un 
      strong dezechilibru de forțe 
      |între victimă și agresor. La rândul său, cyberbullying-ul este definit ca fiind o agresiune intenționată, repetitivă, care are loc prin mijlocirea unei tehnologii, cum ar fi internetul sau telefonul mobil. Pentru a evita conotațiile emoționale ale termenului din perspectiva adultului, bullying-ul a fost definit în această cercetare dupa cum urmează: ‘
      em Câteodată, unii copii şi adolescenţi spun sau fac în mod repetat lucruri supărătoare sau deranjante / dureroase / neplăcute pentru alte persoane. Acest lucru se poate întâmpla chiar destul de des, de mai multe ori în zile diferite  şi pot să includă: să necăjeşti pe cineva sau să râzi de cineva, într-un mod care nu-i place; să loveşti sau să împingi pe cineva; să excluzi pe cineva intenţionat de la ceva. Când persoanele se comportă în mod supărător sau jignitor cu alte persoane, asta poate să aibă loc: faţă în faţă (în persoană); pe telefonul mobil (mesaje, apeluri, video clipuri); pe internet (e-mail, mesaje text, reţele sociale, chat-uri) indiferent de obiectul pe care îl foloseşti pentru a intra online.
      |’. 
    p
      |Deși cyberbullying-ul implică și el un dezechilibru de forțe – prin faptul că este o activitate de comunicare intenționată și repetitivă menită să hărțuiască pe cineva sau să ridiculizeze, să râdă de acea persoană – cercetările au arătat că specificitățile comunicării pe internet au întărit anumite caracteristici ale bullying-ului tradițional, cărora însă le-au adăugat noi elemente. De exemplu, caracterul 
      strong anonim 
      |‘poate intensifica natura amenințătoare a actului de cyberbullying sau sentimentul de neputință al victimei’ (Levy 
      em et al
      |., 2012, p. 11), contribuind astfel la dezechilibrul de forțe dintre victimă și agresor. Totuși, caracteristica anonimatului nu este exclusiv întâlnită la comunicarea online (mediul școlar poate la fel de bine să faciliteze acte de bullying care sunt anonime, așa cum au arătat Levy și colegii săi). Mai mult, un act de cyberbullying  nu trebuie în mod necesar să se repete de-a lungul timpului pentru a fi clasat ca atare și nu ca simplă agresiune (Levy 
      em et al
      |., 2012), deoarece caracteristicile publicurilor mediatice – 
      strong persistența
      |, posibilitatea de a 
      strong căuta
      |, în mod activ ceea ce interesează (‘
      strong searchability
      |’), 
      strong multiplicarea 
      |și 
      strong audiența inviziblă 
      |(boyd, 2008) – au potențialul de a amplifica durata actului de cyberbullying și astfel consecințele acestuia, în măsura în care audiențe mai largi pot fi implicate.
    p
      |Cercetările anterioare au arătat că, deși cyberbullying-ul este mai puțin frecvent decât  bullying-ul tradițional (Livingstone 
      em et al
      |., 2011; Ybarra 
      em et al
      |., 2012), el rămâne o experiență foarte dureroasă și dăunătoare (Livingstone 
      em et al
      |., 2011). Trecerea de la spațiul offline la cel online aduce cu sine o anulare a granițelor temporale și spațiale: astfel, părăsirea unui loc nu va însemna automat încetarea bullying-ului; din contră, bullying-ul tinde mai degrabă să se generalizeze, în timp și în spațiu, pe o varietate de platforme (Kernaghan & Elwood, 2013). În plus, în comparație cu formele tradiționale de bullying, cel care apare prin mijlocirea internetului estompează limitele clare dintre victimă, agresor și martor (Lampert & Donoso, 2012).
    p În consecință, îi întrebăm pe copii nu doar cât de supărați au fost când ei au fost victime ale unui astfel de comportament ‘răutăcios’, ci și dacă ei au acționat în acest fel asupra altora.
    p
      |Figura 21 arată că, la nivelul României, 
      strong 41% au fost victimele unei forme de bullying (pe internet sau față în față)
      |; 
      strong 11% 
      |(din eșantionul total pentru România, nu doar din cei care au fost victime) 
      strong fiind ‘foarte supărați’ de experiență, 22% fiind ‘puțin supărați’ și 8% nefiind deloc deranjați de experiență
      |:
    p.table Figura 21: Copiii care au fost victime ale unui act de bullying, online sau offline, în ultimele 12 luni
    p.small-text Q32: În ULTIMELE 12 LUNI, s-a purtat cineva cu tine în acest fel?  Iar dacă s-a întâmplat, cât de supărat ai fost pentru ce s-a întâmplat?
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul
      li Spre deosebire de eșantionul general, în România factorul gen nu influențează probabilitatea de a fi victime ale acestui tip de agresiune, fetele fiind totuși ușor mai înclinate decât băieții în a afirma că această experiență a fost ‘foarte supărătoare’ pentru ele.
      li Variația în funcție de vârstă, în ceea ce privește probabilitatea de a fi victimă a unui act de bullying, ne arată că putem vorbi de două grupuri distincte: cel al pre-adolescenților (9-12 ani) – în care în jur de 36% dintre copii au avut această experiență în ultimul an – și grupul adolescenților (13-16 ani), unde întâlnim în jur de 45% victime. 
    p Impactul emoțional al experienței pare să urmeze același tipar, atunci când analizăm în funcție de vârstă, cu o ușoară detașare în fiecare gup odață cu creșterea în vârstă: cei de 11-12 ani preferând să se situeze în zona de mijloc și spunând că ‘au fost puțin supărați’, în timp ce adolescenții de 15-16 ani sunt și mai puțin afectați, declarând în mai mare proporție decât restul grupelor că experiența nu i-a deranjat deloc.
    ul
      li Deși SSE este asociat pozitiv cu probabilitatea de a fi expuși, cei cu SSE superior declarând cu 10% mai mult decât ceilalți că au avut o astfel de experiență, totuși respectivii copii reușesc să treacă repede peste supărarea provocată de experiență.
    p Tabelul 32 arată pentru fiecare grupă de vârstă, care sunt modurile concrete prin care agresiunea a avut loc.
    p.table Tabelul 32: Modurile în care copiii au fost supuși în ultimele 12 luni agresiunii de tip bullying, în funcție de vârstă
    p.small-text Q33: Dacă cineva s-a purtat cu tine în acest fel, unde s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul
      li
        strong Agresiunea față în față rămâne cea mai frecventă 
        |formă raportată, în România fiind la un nivel dublu față de eșantionul general. Pe de altă parte, dacă luăm în considerare toate modurile în care cyberbullying-ul poate apărea, atunci procentul copiilor din România care au experiementat o formă sau alta de cyber-bullying este asemănător cu cel al copiilor care au fost victime în agresiunea față în față. 
      li
        |Cele mai comune forme de agresiune în care sunt folosite tehnologiile comunicării apar 
        strong pe platformele de socializare, 8%, prin SMS sau MSM, 6%, prin apeluri telefonice 5% și pe platformele de jocuri, 4%.
      li
        |Există variații care apar în funcție de vârstă dar acestea nu sunt de fiecare dată lineare (agresiunea prin SMS este un exemplu de creștere linear), anumite comportamente crescând până la o anumită vârstă și apoi coborând (
        em e.g. 
        |agresiunea pe platformele de socializare), fie că nu mai este performat acel comportament, fie că utilizatorul a devenit mai competent și știe să preîntâmpine astfel de situații.
    p Tabelul 33 arată modul în care copiii sunt victime ale agresiunii în funcție de faptul de a utiliza sau nu un dispozitiv mobil:
    p.table Tabelul 33: Ocurența bullying-ului și a cyberbullying-ului (în ultimele 12 luni) printre utilizatorii de dispozitive mobile
    p.small-text Q33: Daca cineva s-a purtat cu tine în acest fel, unde s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul 
      li
        |Atât în cazul 
        strong utilizatorilor de smartphone-uri
        |, cât și în cazul celor 
        strong de tablete este mai probabil să fi fost victima unui act de cyberbullying decât un ne-utilizator 
        |și de asemenea 
        strong este mai puțin probabil să fi fost victime ale bullying-ului față în față decât ne-utilizatorii
        |.  
    p Tabelul 34 arată procentul celor care declară că au agresat pe cineva pe internet sau în afara acestuia:
    p.table Tabelul 34: Moduri în care copiii au fost agresori în ultimele 12 luni, într-o situație de tip bullying,  în funcție de vârstă
    p.small-text Q34: În ULTIMELE 12 LUNI, te-ai purtat cu cineva în acest fel? Dacă da, cum ai făcut-o? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul
      li
        strong Agresiunea față în față rămâne cea mai frecventă 
        |formă menționată (15% dintre copii, față de 8% la nivel european) de către copii că ar fi performat-o în ultimele 12 luni; dacă însă combinăm toate formele de agrsivitate prin mijlocirea tehnologică 
        strong ajungem la 19% dintre copii care declară că au făcut una sau alta dintre agresiunile de tip cyberbullying
        |.
      li Dacă copiii declară că sunt agresați (atunci când este folosită o tehnologie) cel mai mult pe o platformă de socializare, urmat de mesaje de tip SMS și convorbiri telefonice, când sunt agresori folosesc mai degrabă convorbirile telefonice (populare în grupele de vârstă extreme), urmate de platformele de socializare, unde cei mai agresivi sunt cei de 11-12 ani (care nu ar trebui să fie acolo) și de SMS-uri, preferate de adolescenții de 15-16 ani.
    p Ca și în cazul situației de victimă, și în cazul agresorilor, ne interesează, așa cum arată Tabelul 35 cum variază aceasta cu folosirea sau nu a internetului de pe dispozitive mobile.
    p.table Tabelul 35: Ocurența (în ultimele 12 luni) a comportamentelor agresive de tip bullying și cyberbullying printre utilizatorii de dispozitive mobile
    p.small-text Q34: În ULTIMELE 12 LUNI, te-ai purtat cu cineva în acest fel? Dacă da, cum ai făcut-o? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care utilizează internetul.
    ul
      li
        |Variațiile nu sunt de această dată la fel de clare ca în cazul victimelor, dar se poate observa că atât în situațiile de agresivitate față în față, cât și în cele care implică mijlocirea tehnologică, 
        strong utilizatorii de tablete sunt cei mai agresivi, cei mai puțin agresivi fiind utilizatorii de smartphone
        |.



