+article("6.3. Mesaje sexuale")
  +section("6.3. Mesaje sexuale")
    h1 6.3. Mesaje sexuale
    p
      |Așa cum o arată studiile, copiii folosesc internetul și telefonul mobil ca parte integrantă a vieții lor inclusiv în latura intimă sau sexuală a acesteia, în încercările de exploatare a sferei sexualității (Lenhart, 2009; Livingstone 
      em et al
      |., 2011). Pentru a denumi această practică a fost folosit cuvântul ‘sexting’ (format prin alăturarea dintre ‘sex’ și ‘texting’-a trimite mesaje), deși a fost definit diferit de diferiți autori. Cuvântul a intrat ca atare și în limba română, drept urmare îl vom folosi în continuare pe parcursul raportului. Există mai multe abordări conceptuale ale sexting-ului, Lenhart (2009) de exemplu definind mai restrictiv aceste practici ca fiind schimbul de imagini cu conținut sexual folosind telefonul mobil, excluzând în acest fel atât mesajele text cu aluzii sexuale, cât și folosirea altor platforme sau canale pentru transmiterea mesajelor. Ancheta EU Kids Online a adoptat o definiție mai largă a sexting-ului, care include atât imaginile cât și textele, și atât telefoanele mobile cât și comunicarea online (Livingstone 
      em et al
      |., 2011). Astfel, sexting-ul a fost definit ca ‘
      strong  imagini sau mesaje cu conținut sexual
      em . Prin aceasta vorbim despre actul sexual sau imagini cu persoane dezbrăcate sau care fac sex. În continuare găseşti întrebări despre aceste lucruri. Gândeşte-te la toate modurile în care poţi folosi internetul
      |’.
    p
      |Așa cum o arată studiile precedente, sexting-ul apare de cele mai multe ori ca parte într-o relație romantică ca o monedă de schimb care întreține relația (Lenhart, 2009, p. 8). Totuși, caracteristicile tehnice și sociale ale noilor tehnologii ale informării și comunicării pot contribui la o amplificare a granițelor de difuzare și a audienței acestor mesaje, schimbându-le astfel și înțelesul. Aceste mesaje (imagini sau text) trimise cu bună credință în contextul unei relații romantice, pot fi cu ușurință retrimise mai departe, postate public și apoi infinit distribuite pe platformele de socializare, ajungând astfel la audiențe foarte mari. În acest mod, mesajele cu caracter sexual ajung să aibă 
      strong consecințe neintenționate
      |, putând deveni astfel o situație problematică pentru copiii care le-au expediat. De cele mai multe ori acest risc se combină cu cel al bullying-ului, pentru a forma o agresiune numită ‘sexual cyberbullying’ (Kofoed & Ringrose, 2012; Ringrose 
      em et al
      |., 2012).
    p
      |În chestionar, copiii au fost întrebați ‘
      em În ultimele 12 LUNI, ai primit mesaje cu conţinut sexual de acest fel (acestea ar putea fi sub formă de cuvinte, imagini sau video)? Dacă da, cât de supărat ai fost de ceea ce s-a întâmplat? Gândeşte-te la toate modurile în care poţi folosi internetul și telefonul mobil / smartphone-ul
      |’
      sup 10 
      |.  Din rațiuni etice, această întrebare nu a fost pusă copiilor de 9-10 ani.
    p.table Figura 22: Copiii care au primit în ultimele 12 luni mesaje sexuale online (+11 ani)
    p.small-text Q42: În ultimele 12 LUNI, ai primit mesaje cu conţinut sexual de acest fel (acestea ar putea fi sub formă de cuvinte, imagini sau video)? Dacă da, cât de supărat ai fost de ceea ce s-a întâmplat?
    p.small-text Baza: Toți copiii de 11-16 ani care folosesc internetul
    p Figura 22 arată procentul celor care au primit în ultimul an mesaje cu caracter sexual, precum și urmările pe care aceste mesaje le-au avut pentru ei. Astfel, 21% dintre copii, la nivelul eșantionului românesc, au primit astfel de mesaje, dar doar 6% au fost ‘foarte supărați’ de incident, 8% au fost ‘puțin supărați’ și 7% nu au fost deloc supărați.
    ul
      li variațiile de gen în ceea ce privește probabilitatea de a primi astfel de mesaje nu sunt foarte mari, fetele fiind totuși cu 2 procente mai multe decât băieții. În schimb, fetele se declară în mai mare proporție decât băieții supărate în urma acestor incidente, și anume 8% ‘foarte’ și 10% ‘puțin’ supărate.
      li Cu înaintarea în vârstă crește atât probabilitatea de a primi acest tip de mesaje, cât și probabilitatea ca acestea să aibă un impact negativ (cei din grupa 13-14 ani fiind cei mai afectați). Adolescenții de 15-16 ani, cei din rândul cărora 35% au primit astfel de mesaje în ultimul an, se declară în proporție egală (13%) ne-deranjați de această experiență sau ‘puțin’ supărați, 9% spunând că sunt ‘foarte supărați’.
      li În funcție de statusul socio-economic, cel mai expuși atât riscului (27%) cât și consecințelor negative (17%) legate de sexting sunt cei cu SSE scăzut, cei mai puțin expuși riscului fiind cei din grupa de mijloc (doar 16%), în timp ce cei care raportează în cea mai mică proporție consecințe negative sunt cei din cu SSE ridicat (12% doar se declară afectați de experiență). 
      li La o analiză trans-națională observăm că doar copiii din Danemarca primesc în proporție asemănătoare astfel de mesaje (22% în Danemarca, față de 21% în România), doar că aceștia declară în mai mare proporție că experiența nu a avut niciun impact asupra lor, 12% față de 7%.
    p.table Tabelul 36: Moduri în care copiii au primit mesaje sexuale în ultimele 12 luni, în funcție de vârstă (+11 ani)
    table.table-responsive
      thead
        tr
          td(rowspan="2") %
          td(colspan="3") Vârsta
          td(rowspan="2") Total RO
          td(rowspan="2") Total EU (7)
        tr
          td 11-12
          td 13-14
          td 15-16
      tbody
        tr
          td Prin convorbiri la telefonul mobil
          td 2
          td 0
          td 7
          td 3
          td 1
        tr
          td Prin mesaje trimise pe telefonul meu (SMS sau MMS)
          td 2
          td 5
          td 7
          td 5
          td 3
        tr
          td Printr-o  reţea de socializare (ex. Facebook, Twitter)
          td 6
          td 3
          td 13
          td 7
          td 6
        tr
          td Pe o platforma de sharing media (Youtube, Instagram)
          td 2
          td 1
          td 3
          td 2
          td 1
        tr
          td Prin mesaje instantanee (Yahoo Mess, WhatsApp, Skype )
          td 2
          td 3
          td 10
          td 5
          td 2
        tr
          td Într-o  cameră de chat (chat cu o persoană necunoscută)
          td 0
          td 0
          td 0
          td 0
          td 0
          td 0
        tr
          td Prin e-mail
          td 0
          td 0
          td 10
          td 4
          td 1
        tr
          td Pe un site de jocuri
          td 1
          td 0
          td 6
          td 2
          td 1
        tr
          td Într-o comunitate de jocuri
          td 0
          td 0
          td 0
          td 0
          td 0
          td 0
    p.small-text Q43: Iar dacă ai primit mesaje de acest fel, cum s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii de 11-16 ani care folosesc internetul.
    p O analiză a modului exact prin care copilul a primit respectivele mesaje (Tabelul 36) arată cel mai des au fost folosite platformele de socializare (7%), urmate de mesajele transmise pe telefon și mesajele transmise prin mesageria online, fiecare fiind menționate de 5% dintre copii. 
    p.table Tabelul 37: Moduri în care copiii au primit mesaje sexuale în ultimele 12 luni, în funcție de faptul de a fi sau nu utilizatori de dispozitive mobile (+11 ani)
    table.table-responsive
      thead
        td %
        td Utilizatori de smartphone 
        td Utilizatori de tablete
        td Nu utilizează niciun dispozitiv mobil
      tbody
        tr
          td Prin mesaje text trimise pe telefon
          td 9
          td 0
          td 4
        tr
          td Pe o rețea de socializare online
          td 7
          td 0
          td 9
    p.small-text Q43: Iar dacă ai primit mesaje de acest fel, cum s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii de 11-16 ani care folosesc internetul.
    p Utilizatorii de tabletă sunt cei mai feriți de acest risc, făcând o figură aparte. Utilizatorii de smartphone este mai probabil să primească astfel de mesaje pe telefonul mobil, în timp ce mesajele cu caracter sexual trimise pe rețelele de socializare ating în mai mare măsură pe neutilizatorii de dispozitive mobile.
    p Explicația faptului că utilizatorii de tabletă nu primesc astfel de mesaje poate să rezide și în faptul că aceste dispozitive sunt percepute ca fiind familiale și nu personale, fiind folosite în comun de membrii familiei.
    p
      |Comparativ cu situația din 2010 (Livingstone 
      em et al
      |., 2011) probabilitatea de a primi mesaje sexuale a scăzut ușor, de la 22% la 21%) dar probabilitatea 
      strong ca aceste mesaje să aibă un impact negativ a crescut de la 9% la 14%
      |. Astfel considerăm că în România se impun măsuri urgente de prevenire și conștientizare asupra acestui risc.



