+article("6.5. Imagini sexuale")
  +section("6.5. Imagini sexuale")
    h1 6.5. Imagini sexuale
    p
      |Problema imaginilor cu caracter explicit sexual a însoțit de-a lungul timpului toate mediile de comunicare, de la reprezentările grafice la povești și apoi la ‘imaginile mișcătoare’, toate aceste imagini fiind atent analizate să nu aibă conținut ‘pornografic’. S-au format comitete care să verifice acest lucru, s-au dat reglementări în acest sens. Ubicuitatea pornografiei pe internet pare însă să scape ochilor vigilenți ai antreprenorilor morali, mărind astfel temerile publice care consideră că necenzurată și ușor accesibilă, pornografia va deveni dintr-o practică ascunsă una deschisă și generalizată (Rovolis & Tsaliki, 2012, p. 173). Proiectul EU Kids Online a arătat că doar 1 din 4 copii a întâlnit conținut pornografic pe internet sau pe alt canal și doar 14% au întâlnit imagini sexuale online (Livingstone 
      em et al
      |., 2011). Datele au arătat de asemenea că, în timp ce a vedea conținut sexual este mai răspândit printre băieți și adolescenți, fetele și copiii de vârste mici se declară mai deranjați în urma acestei experiențe. Doar unul din trei copii care au întâlnit imagini sexuale au fost deranjați în urma experienței. Bazat pe aceste date, concluzia cercetătorilor a fost că, așa cum susțin și cercetătorii care se plasează în perspectiva studiilor culturale (Attwood & Smith, 2011; Buckingham & Bragg, 2004), preocuparea pentru efectele negative ale pornografiei este exagerată prin panici mediatice (Rovolis & Tsaliki, 2012).
    p
      |Continuând metodologia proiectului EU Kids Online, întrebările despre pornografie au fost introduse după cum urmează: ‘
      em
        |În ultimul an este posibil să fi văzut o mulţime de imagini diferite: poze, video. Este posibil ca unele din acestea să aibă un conţinut sexual evident – de exemplu, imagini cu persoane făcând sex sau persoane dezbrăcate aflate în ipostaze sexuale 
        span 
          +footnote(11) 
            span Textul exact care introducea întrebările respective în proiectul EU Kids Online era următorul: ‘În ultimul an ai văzut o mulțime de imagini sub formă de fotografii sau filmulețe, dintre care unele au fost poate cu caracter sexual – cum ar fi persoane dezbrăcate sau persoane făcând sex’. În Net Children Go Mobile formularea a fost schimbată în ‘persoane dezbrăcate aflate în ipostaze sexuale’ deoarece în urma testării cognitive s-a constat că în unele culturi imagini reprezentând persoane dezbrăcate nu sunt neapărat asociate pornografiei. 
        |. Se poate ca tu să nu fi văzut nimic din toate acestea sau poate ai văzut aşa ceva pe un telefon mobil, într-o revistă, la TV, pe un DVD sau pe internet, pe orice dispozitiv pe care îl foloseşti pentru a intra online
      |’.
    p Figura 26 arată procentul copiilor care au fost expuși la imagini sexuale online sau offline și urmările acestei experiențe. 31% dintre copiii din România au văzut imagini sexuale, o treime dintre ei declarând că au fost ‘foarte supărați’ în urma experienței (dublu față de cei din eșantionul celor 7 țări), o treime că au fost ‘puțin supărați’ și o treime că nu au fost deloc supărați (mai puțini decât la nivelul eșantionului general).
    p.table Figura 26: Copiii care au văzut în ultimele 12 luni  imagini sexuale online și offline și urmările acestei experiențe (în funcție de gen, vârstă și status socio-economic)
    +hchart({
      bars: [
        {
          name: 'Total EU(7)',
          data: [5, '#3ab8bd', 8, '#7fd0d3', 15, '#c2e7ea', 72, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'Băieți',
          data: [7, '#1d8bc3', 7, '#6eb1d6', 17, '#b9d9ec', 69, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'Fete',
          data: [12, '#1d8bc3', 15, '#6eb1d6', 4, '#b9d9ec', 69, '#e8e8e8'],
          stacked: true
        },
        {
          name: '9-10 ani',
          data: [9, '#b6c800', 7, '#ced95b', 3, '#e7ecb1', 81, '#e8e8e8'],
          stacked: true
        },
        {
          name: '11-12 ani',
          data: [4, '#b6c800', 10, '#ced95b', 7, '#e7ecb1', 79, '#e8e8e8'],
          stacked: true
        },
        {
          name: '13-14 ani',
          data: [14, '#b6c800', 16, '#ced95b', 6, '#e7ecb1', 64, '#e8e8e8'],
          stacked: true
        },
        {
          name: '15-16 ani',
          data: [12, '#b6c800', 10, '#ced95b', 24, '#e7ecb1', 53, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'SSE scăzut',
          data: [11, '#88ae80', 14, '#b0c8a0', 9, '#d9e4d6', 66, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'SSE mediu',
          data: [11, '#88ae80', 9, '#b0c8a0', 12, '#d9e4d6', 68, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'SSE ridicat',
          data: [6, '#88ae80', 10, '#b0c8a0', 9, '#d9e4d6', 75, '#e8e8e8'],
          stacked: true
        },
        {
          name: 'Total RO',
          data: [10, '#3ab8bd', 11, '#7fd0d3', 10, '#c2e7ea', 69, '#e8e8e8'],
          stacked: true
        }
      ],
      legend: [
        {
          name: "% Da, am fost foarte supărat",
          color: "#3ab8bd"
        },
        {
          name: "% Da, am fost puțin supărat",
          color: "#7fd0d3"
        },
        {
          name: "% Da, dar nu am fost supărat deloc",
          color: "#c2e7ea"
        },
        {
          name: "% Nu, nu mi s-a întâmplat",
          color: "#e8e8e8"
        }
      ],
      step: 20 
    })
    p.small-text Q35: În ULTIMELE 12 luni, ai văzut ceva de felul acesta? Dacă da, cât de supărat ai fost de ceea ce ai văzut?
    p.small-text Baza: Toți copiii care folosesc internetul. 
    ul
      li Procentul celor care au văzut astfel de imagini se distribuie egal între fete și băieți, primele fiind însă în mai mare proporție deranjate de experiență.
      li Cu vârsta crește probabilitatea de a întâlni un astfel de conținut, și este de remarcat că până la 13-14 ani această experiență este una deranjantă (30% dintre copiii de 13-14 ani spun că experiența i-a deranjat față de doar 6% care spun contrariul). Adolescenții de 15-16 ani trec mai bine peste experiență, 24% spunând că nu i-a deranjat, față de 22% care s-au simțit mai mult sau mai puțin supărați.
      li SSE influențează atât probabilitatea de a întâlni acea situație de risc, cât și probabilitatea ca aceasta să aibă un impact negativ, copiii cu un SSE scăzut fiind cei mai vulnerabili.
      li Copiii din Danemarca întâlnesc într-o proporție mai mare (52%) decât cei din România astfel de conținuturi, dar raportează în proporție mai mică consecințe negative: 24% față de 22% care spun că nu i-a deranjat experiența. Restul țărilor se situează sub România, cel mai scăzut procent fiind în Marea Britanie (17%). 
    p.table Tabelul 40: Unde anume au văzut copiii imaginile sexuale, în funcție de vârstă
    table.table-responsive
      thead
        tr
          td(rowspan="2") %
          td(colspan="4") Vârsta
          td(rowspan="2") Total RO
          td(rowspan="2") Total EU (7)
        tr
          td 9-10
          td 11-12
          td 13-14
          td 15-16
      tbody
        tr
          td Într-o revistă sau carte
          td 1
          td 3
          td 2
          td 3
          td 3
          td 4
        tr
          td La televizor, într-un film
          td 12
          td 6
          td 21
          td 11
          td 13
          td 11
        tr
          td Pe o platformă de video-sharing (YouTube)
          td 1
          td 2
          td 1
          td 8
          td 3
          td 5
        tr
          td Pe o platformă de foto-sharing (Instagram)
          td 0
          td 0
          td 0
          td 3
          td 1
          td 2
        tr
          td Prin Pop-up-uri pe internet
          td 2
          td 2
          td 4
          td 12
          td 5
          td 7
        tr
          td Pe o reţea de socializare
          td 0
          td 5
          td 5
          td 3
          td 4
          td 7
        tr
          td Prin mesaje instantanee (Yahoo mess, WhatsApp, Skype)
          td 0
          td 0
          td 2
          td 4
          td 2
          td 1
        tr
          td Într-o  cameră de chat (chat cu o persoană necunoscută)
          td 0
          td 0
          td 0
          td 0
          td 0
          td 1
        tr
          td Prin e-mail
          td 0
          td 6
          td 0
          td 1
          td 2
          td 1
        tr
          td Pe un site de jocuri
          td 0
          td 1
          td 1
          td 1
          td 1
          td 1
    p.small-text Q36: Dacă ai văzut imagini de acest fel, cum s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        |Și în România (13%), ca și la nivelul celorlalte țări (11%), 
        strong televizorul și filmele 
        |au rămas media cele mai frecvente 
        strong unde copiii sunt expuși la imagini sexuale
        |, urmate de pop-up-urile care se deschid întâmplător pe internet (5% în România, 7% la nivelul celorlalte țări) și de rețelele de socializare (SNS, cu 4% mențiuni în România și 7% la nivelul celorlalte țări).
    p Variația modului în care au văzut aceste imagini sexuale corelat cu folosirea sau nu a unui dispozitiv mobil pentru a intra online arată că utilizatorii de dispozitive mobile (și cel mai mult cei care folosesc tableta) sunt mai expuși decât utilizatorii de internet fix la astfel de conținuuti în ferestre pop-up. Utilizatorii de smartphone-uri sunt în mai mare proporție expuși de astfel de conținuturi pe alte canale, în timp ce utilizatorii de internet fix sunt cei mai mulți care au văzut conținuturi sexuale în rețele de socializare.
    p.table Tabelul 41: Unde anume au văzut imaginile sexuale în funcție de faptul de a fi sau nu utilizator de dispozitive mobile
    table.table-responsive
      thead
        td %
        td Utilizatori de smartphone 
        td Utilizatori de tablete
        td Nu utilizează niciun dispozitiv mobil
      tbody
        tr
          td La televizor, într-un film
          td 22
          td 5
          td 11
        tr
          td Prin Pop-up-uri pe internet
          td 10
          td 13
          td 5
        tr
          td Pe o  reţea de socializare
          td 1
          td 0
          td 5
    p.small-text Q36: Dacă ai văzut imagini de acest fel, cum s-a întâmplat? (Răspuns multiplu).
    p.small-text Baza: Toți copiii care folosesc internetul.





