+article("6.6. Alte conținuturi neadecvate")
  +section("6.6. Alte conținuturi neadecvate")
    h1 6.6. Alte conținuturi neadecvate
    p
      |Odată cu internetul web 2.0 și mai ales cu dezvoltarea fără precedent a media sociale, apare pe internet în proporție din ce în ce mai mare, o nouă formă de conținuturi, anume cele generat de utilizatori (CGU). Această practică de generare de conținut și nu doar folosire a celui din rețea este în primul rând o oportunitate, fiind o importantă componentă a alfabetizării digitale. Totuși, anumite astfel de conținuturi pot fi problematice (e.g. cele care promovează auto-mutilarea, anorexia, consumul de droguri, sau cele care promovează violența sau au un discurs instigator la ură îndreptat împotriva unor persoane pe motive de apartenență a acestpra la anumite grupuri. Toate aceste conținuturi vor fi numite în continuare generic 
      strong conținut negativ generat de utilizator 
      |(CNGU). Deși expunerea copiilor la astfel de conținuturi cu potențial dăunător pare să fie o experiență destul de frecventă (Livingstone 
      em et al
      |., 2011), decidenții au început să acorde atenție acestor conținuturi doar de curând, vechile temeri (unele preluate din epoca televiziunii și duse mai departe de internet) legate de pornografie, bullying sexting etc. fiind majoritare.
    p
      |Copiii au fost întrebați: ‘
      em ÎN ultimele 12 luni, ai văzut un site în care oamenii...
      |’. Din motive etice această întrebare nu a fost adresată celor de 9-10 ani.
    p.table Tabelul 42: Copiii care au văzut în ultimele 12 luni conținuturi online deranjante  generate de utilizatori, în funcție de vârstă (+11 ani)
    p.small-text Q44: In ultimele 12 luni, ai văzut website-uri unde diverse persoane discută despre…
    p.small-text Baza: Toți copiii de 11-16 ani care folosesc internetul.
    p
      |Per ansamblu, 
      strong o treime dintre copiii din România, față de un sfert din cei de la nivelul tuturor țărilor au văzut o formă sau alta de conținut negativ generat de utilizatori
      |. Astfel, expunerea la acest CNGU  a crescut față de 2010.
    ul
      li
        |Cele mai frecvente astfel de conținuturi pe care copiii din România le întâlnesc sunt 
        strong discursurile instigatoare la ură și site-urile care promovează tulburările de alimentație
        |, cu 21% mențiuni fiecare. Site-urile care incită la consumul de droguri sunt văzute de aproape 2 din 10 copii, iar cele care vorbesc despre sinucideri de 6%. 
        strong Expunerea la CNGU crește odată cu înaintarea în vârstă
        |.
