+article("6.7. Alte riscuri")
  +section("6.7. Alte riscuri")
    h1 6.7. Alte riscuri
    p
      |Dintre alte riscuri pe care copilul le poate întâlni pe internet menționăm: riscurile comerciale, adică riscul de a pierde bani (reali) pe internet sau riscul de a fi victima unei fraude online; riscurile tehnice, de tipul virușilor; și riscurile legate de 
      strong folosirea de către alții, cu rea intenție, a datelor personale
      |. Prin aceasta înțelegem situațiile în care conturile copiilor (de pe platformele de socializare, mesageriile instant sau site-urile de jocuri) sunt ‘
      strong sparte
      |’
      sup 12 
      |(cineva află parola și o folosește cu rea intenție), sau cele în care se creează 
      strong profiluri false  
      |pe SNS, în numele unui copil, folosindu-i acestuia fotografii sau alte date personale. De asemenea tot cu o folosire negativă a datelor personale avem de-a face și când se creează profiluri false cu intenția de a ademeni pe cineva, situație cunoscută ca ‘
      strong catfishing
      |’. Literatura de specialitate pe această temă este relativ săracă, problemele intrând în atenția cercetătorilor în ultimul timp (vezi Barbovschi, 2014). Datele EU Kids Online au arătat că 9% dintre copiii de 11-16 ani au experimentat una sau mai multe forme de folosire negativă a datelor personale, spargerea parolei și utilizarea contului în numele victimei fiind cea mai comună. De asemenea, interviurile în profunzime luate copiilor în partea calitativă a proiectului au arătat că folosirea negativă a datelor personale este una dintre preocupările majore ale copiilor.
    p.table Tabelul 43: Copiii care au avut alte experiențe online negative în ultimele 12 luni, în funcție de vârstă
    table.table-responsive
      thead
        tr
          td(rowspan="2") % celor care spun că li s-a întâmplat ca…
          td(colspan="4") Vârsta
          td(rowspan="2") Total RO
          td(rowspan="2") Total EU (7)
        tr
          td 9-11
          td 11-12
          td 13-14
          td 15-16
      tbody
        tr
          td Cineva a folosit datele mele personale într-un mod care nu îmi place
          td 13
          td 7
          td 2
          td 11
          td 13
          td 4
        tr
          td Am avut un virus pe computer
          td 50
          td 33
          td 46
          td 45
          td 50
          td 21
        tr
          td Am avut un virus pe telefonul mobil/ smartphone 
          td 8
          td 4
          td 4
          td 11
          td 8
          td 3
        tr
          td Am pierdut bani pentru că cineva m-a înşelat pe internet (ne referim la bani reali, nu la bani care există în jocuri)
          td 5
          td 1
          td 0
          td 8
          td 5
          td 2
        tr
          td Cineva a folosit parola mea ca să-mi acceseze datele personale sau ca să pretindă că sunt eu
          td 11
          td 2
          td 2
          td 10
          td 11
          td 5
        tr
          td Oricare dintre cele de mai sus
          td 51
          td 32
          td 45
          td 45
          td 51
          td 24
    p.small-text Q45: În ULTIMELE 12 LUNI, care din următoarele lucruri ţi s-a întâmplat pe internet/ pe smartphone-ul tău/ pe telefonul tău mobil?
    p.small-text Baza: Toți copiii care folosesc internetul.
    p De departe, cea mai frecventă situație negativă întâlnită de copii în ultimul an au fost virușii, jumătate dintre copiii din România menționându-i, față de 21% la nivelul tuturor țărilor.
    ul
      li 
        strong Folosirea negativă a datelor personale 
        |este a doua experiență neplăcută în mențiunile copiilor (cu 13%), urmată de spargerea parolei de acces și utilizarea contului în numele copilului (11%).
      li
        |În funcție de variabila vârstă, observăm 
        strong o mai mare frecvență a riscurilor la extremități (cei foarte mici sau adolescenții de 15-16 ani) 
        |ceea ce poate fi explicat prin faptul că, la vârste mici, lipsa competențelor digitale îi expune mai mult pe tinerii utilizatori anumitor riscuri (chiar comune), în timp ce la 15-16 ani plaja activităților se diversifică foarte mult și, așa cum am văzut, mai multe activități înseamnă mai multe riscuri. 
    p
      strong Folosirea negativă a datelor personale este în România la un nivel ridicat
      |, de două sau de trei ori mai mult decât la nivelul tuturor țărilor din proiect. Cercetarea calitativă a arătat că aceasta se datorează și unui nivel ridicat de acceptabilitate a acestui comportament printre agresori, înclinați să-l considere ‘o glumă’. De asemenea, la nivel social, în cercul de prieteni sau în spațiul public asistăm la o tolerare și uneori apreciere a acestor comportamente în ‘
      strong logica Domnului Goe
      |’: 
      strong adică anularea aspectelor morale și /sau juridice în favoarea aprecierii abilităților tehnice/ digitale 
      |pe care aceste comportamente le presupun. În același timp, tot cercetarea calitativă a arătat că unele dintre victime sunt cu adevărat deranjate de eveniment, în timp ce altele au afișat o atitudine resemnată, spunând că au reconstruit acel cont de la zero. Asistăm astfel la dezvoltarea unui ‘
      strong sindrom al lui Sisif
      |’, atâta timp cât în aceste conturi copiii investesc timp și investesc la nivel afectiv, ele fiind de fiecare dată și o construcție de sine; 
      strong distrugerea muncii lor (sau furtul acestei munci) și necesitatea de a relua de fiecare dată proiectul de la zero poate avea un impact negativ 
      |asupra dezvoltării lor personale.
    p Astfel, considerăm că sunt necesare măsuri coerente pentru sancționarea socială și /sau juridică (în situațiile grave) a cazurilor de acest tip, precum și campanii de conștientizare asupra urmărilor acestor acte (atât asupra victimelor, cât și asupra agresorului).


