+article("6.8. Răspunsuri la situațiile problematice")
  +section("6.8. Răspunsuri la situațiile problematice")
    h1 6.8. Răspunsuri la situațiile problematice
    p
      |Cele mai multe experiențe online ale copiilor, etichetate uneori de către adulți ca fiind ‘experiențe de risc’, nu se dovedesc a fi dăunătoare pentru copii, aceștia nepercepându-le ca periculoase sau problematice (Livingstone 
      em et al
      |., 2012; Vandoninck, d’Haenens & Roe, 2013). Astfel, atunci când întâlnesc o experiență negativă pe internet, copiii dezvoltă o serie de strategii pentru a face față acelei situații problematice și pentru a-i reduce impactul emoțional și psihologic resimțit. Proiectul EU Kids Online (Livingstone 
      em et al
      |., 2011) a identificat trei principale strategii adaptative în situația post-risc: 
      strong răspunsul pasiv
      |, care include o atitudine fatalistă (ne-folosirea internetului pentru un timp) sau auto-acuzatoare (sentimentul de vinovăție pentru ce s-a întâmplat); 
      strong răspunsul pro-activ 
      |(care presupune raportarea conținutului nepotrivit sau a contactului, blocarea contactului nedorit etc.); și 
      strong strategia comunicativă 
      |(care presupune a vorbi cu o persoană de încredere – părinte, prieten, profesori etc. – despre ceea ce s-a întâmplat). A învăța aceste strategii și a le dezvolta în mod face parte din procesul de contrucție a 
      strong rezilienței 
      |(Vandoninck 
      em et al
      |., 2013).
    p
      |Strategia comunicativă, adică a căuta sprijin în rețeaua socială, este cea mai frecventă metodă aleasă de copii, conform studiului EU Kids Online; un alt rezultat fiind acela că de obicei copiii nu folosesc o singură strategie, ci combină strategii diferite (Livingstone 
      em et al
      |., 2011). Mai mult, s-a observat că un sprijin mai mare primit de la prieteni echivalează cu o capacitate mai mare de reziliență și că alți actori importanți în acest proces sunt părinții și profesorii (Vandoninck 
      em et al
      |., 2013).
    p
      |Copiii au fost întrebați astfel: ‘
      em Dacă ţi s-ar întâmpla să te deranjeze sau să te supere ceva când eşti online, oricare ar fi obiectul de pe care accesezi internetul, cât de probabil ar fi să vorbeşti cu următoarele persoane?
      |’
    .panel.panel-default
      .panel-heading
        p.table Tabelul 44: Cât de probabil este ca, în urma unei experiențe online deranjante, copilul să vorbească cu o anumită persoană
      .panel-body
        table.table-responsive
          thead
            tr
              td %...
              td Foarte probabil 
              td Destul de probabil 
              td Puţin probabil
              td Foarte improbabil
              td Nu se aplică
          tbody
            tr
              td Tatăl meu
              td 19
              td 18
              td 25
              td 19
              td 19
            tr
              td Mama mea
              td 36
              td 22
              td 20
              td 10
              td 12
            tr
              td Fratele sau sora mea
              td 25
              td 13
              td 18
              td 13
              td 31
            tr
              td Alte rude
              td 10
              td 7
              td 28
              td 33
              td 22
            tr
              td Prieteni
              td 24
              td 26
              td 26
              td 12
              td 12
            tr
              td Profesorii
              td 6
              td 7
              td 25
              td 35
              td 27
            tr
              td Cineva care se ocupă cu ajutorarea copiilor (asistent social, linii telefonice pentru copii, poliţie)
              td 4
              td 5
              td 20
              td 39
              td 32
            tr
              td Un alt adult în care am încredere
              td 8
              td 16
              td 22
              td 29
              td 25
      .panel-footer
        p.small-text Q48: Dacă ţi s-ar întâmpla să te deranjeze sau să te supere ceva când eşti online, oricare ar fi obiectul de pe care accesezi internetul, cât de probabil ar fi să vorbeşti cu următoarele persoane?
        p.small-text Baza: Toți copiii care folosesc internetul.
    p
      |Așa cum o arată tabelul Tabelul 44, într-o astfel de situație, 
      strong cei mai mulți dintre copii ar căuta sprijin la mame 
      |(58% spunând că este ‘foarte’ sau ‘destul’ de probabil să facă acest lucru, față de 71% la nivelul tuturor țărilor), 50% spre prieteni, 38% spre frați sau surori și 37% spre tată. Doar 13% dintre copiii din România ar vorbi într-o astfel de situație problematică cu un profesor (18%) și doar 9% cu personal specializat în ajutorarea copiilor (20%).
    .panel.panel-default
      .panel-heading
        p.table Figura 27: Copiii (%) care afirmă că este foarte probabil să vorbească cu cel puțin o persoană în urma unei experiente online negative (în funcție de gen, vârstă și status socio-economic)
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU(7)',
              data: [67, '#f38800'],
            },
            {
              name: 'Băieți',
              data: [54, '#1d8bc3'],
            },
            {
              name: 'Fete',
              data: [71, '#1d8bc3'],
            },
            {
              name: '9-10 ani',
              data: [74, '#b6c800'],
            },
            {
              name: '11-12 ani',
              data: [71, '#b6c800'],
            },
            {
              name: '13-14 ani',
              data: [49, '#b6c800'],
            },
            {
              name: '15-16 ani',
              data: [61, '#b6c800'],
            },
            {
              name: 'SSE scăzut',
              data: [65, '#88ae80'],
            },
            {
              name: 'SSE mediu',
              data: [58, '#88ae80'],
            },
            {
              name: 'SSE ridicat',
              data: [67, '#88ae80'],
            },
            {
              name: 'Total RO',
              data: [63, '#3ab8bd'],
            }
          ]
        })
      .panel-footer
        p.small-text Q48: Dacă ţi s-ar întâmpla să te deranjeze sau să te supere ceva când eşti online, oricare ar fi obiectul de pe care accesezi internetul, cât de probabil ar fi să vorbeşti cu următoarele persoane? (% reprezintă pe cei care au spus că este foarte probabil să vorbească cu cel puțin o persoană în Tabelul 44.)
        p.small-text Baza: Toți copiii care folosesc internetul. 
    p Așa cum o arată Figura 27, copiii din România adoptă în mai mică proporție această strategie, 63% spunând că ar vorbi cu cineva în astfel de cazuri.
    ul
      li
        strong Diferențele de gen sunt considerabile
        |: fetele fiind mai dispuse să caute sprijin în rețeaua socială. 
      li Odată cu vârsta asistăm la o descreștere pe segmentul 9-14 ani, după care are loc un revirement al acestei practici, de obicei cu un sprijin mai puternic venit din partea prietenilor. 
    p Ca o recomandare, am spune că este necesar să fie evaluate motivele pentru care copiii apelează atât de puțin la profesori și la personalul specializat și să fie luate măsuri adaptate pentru a crește acest tip de suport. De asemenea părinții ar trebui să fie conștientizați asupra rolului important pe care îl au de jucat în viața online a copiilor și să-i sprijine pe aceștia în situațiile problematice.



