+article("10. Concluzii")
  +section("10. Concluzii")
    h1 10. Concluzii
    p În acest capitol vom rezuma principalele date ilustrate de raport, încercând să răspundem la întrebarea: există specificități ale folosirii internetului mobil de către copii și dacă da, care sunt acestea? Implică această nouă tehnologie mobilă și convergentă mai multe sau mai puține riscuri pentru copii?