+article("10.1. Acces, utilizări,  oportunități și abilități")
  +section("10.1. Acces, utilizări,  oportunități și abilități")
    h1 10.1. Acces, utilizări,  oportunități și abilități
    p Tabelul 55 și Tabelul 56 oferă o sinteză a datelor despre locația de acces, activitățile online, vârsta primei utilizări a internetului și abilitățile deținute, în funcție de vârstă și de faptul de a fi sau nu utilizator de internet mobil.
    p
      strong Locul de accesare și utilizarea. 
      |74% dintre copiii din România folosesc zilnic internetul mobil de acasă (din propriul dormitor sau dintr-un loc comun al casei), creșterea fiind constantă odată cu vârsta. Cele mai mari procente ale celor care utilizează zilnic internetul mobil de acasă sunt pentru utilizatorii de internet mobil. 
      strong Astfel, în ciuda faptului că smartphone-ul permite accesul la internet atunci când copilul se află în mișcare, în fapt el este cel mai des folosit acasă, în propriul dormitor.  
      |Utilizarea zilnică a internetului la școală apare în 11% dintre cazuri. Asistăm și de această dată la o creștere odată cu vârsta, cel mai mare salt apărând la adolescenții de la liceu (un sfert dintre ei folosesc zilnic internetul la școală). De asemenea, folosirea zilnică la școală apare mult mai frecvent printre utilizatorii de internet mobil. 
    p
      strong Activitățile online. 
      |Două dintre cele mai frecvente activități online sunt folosirea platformelor de socializare și vizionarea videoclipurilor (Tabelul 10). 78% dintre copii au cont pe o platformă de socializare și 24% au cont pe o platformă de partajare a conținuturilor media.  Probabilitatea de a avea ambele astfel de conturi crește odată cu vârsta și de asemenea sunt mai răspândite printre utilizatorii de internet mobil. Am atras deja atenția asupra procentului foarte mare al copiilor aflați sub vârsta reglementară, care folosesc SNS.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 55: Sinteză privind folosirea internetului de către copii: acces, utilizări, activități și abilități (în funcție de vârstă)
      .panel-body
        table.table-responsive
          thead
            tr
              th %
              th 
                div Vârsta
                div 9-10
              th 
                div Vârsta
                div 11-12
              th 
                div Vârsta
                div 13-14
              th 
                div Vârsta
                div 15-16
              th Total RO
          tbody
            tr
              td Utilizarea zilnică a internetului de acasă (din dormitor sau altundeva)
              td 65
              td 69
              td 74
              td 87
              td 74
            tr
              td Utilizarea zilnică a internetului de la școală
              td 2
              td 9
              td 7
              td 24
              td 11
            tr
              td Are un profil pe o rețea de socializare online
              td 50
              td 80
              td 86
              td 92
              td 78
            tr
              td Are un profil pe o platformă de partajare de conținut mediatic
              td 9
              td 18
              td 21
              td 45
              td 24
            tr
              td Este zilnic în contact cu părinții pe o rețea de socializare online
              td 13
              td 12
              td 6
              td 19
              td 13
            tr
              td Este zilnic în contact cu prietenii pe o rețea de socializare online 
              td 30
              td 76
              td 68
              td 74
              td 67
            tr
              td Vârsta accesării prima dată a internetului
              td 7,5
              td 8,4
              td 9,6
              td 10,5
              td 9,1
            tr
              td Numărul mediu de abilități legate de folosirea internetului
              td 2,2
              td 5,1
              td 6,1
              td 7,8
              td 5,5
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 56: Sinteză privind folosirea internetului de către copii: acces, utilizări, activități și abilități (în funcție de faptul de a fi sau nu utilizator de dispozitive mobile)
      .panel-body
        table.table-responsive
          thead
            tr
              th %
              th 
                div Utilizarea zilnică a unui dispozitiv
                div Smartphone
              th 
                div Utilizarea zilnică a unui dispozitiv
                div Tabletă
              th 
                div Utilizarea zilnică a unui dispozitiv
                div Niciunul
              th Total RO
          tbody
            tr
              td Utilizarea zilnică a internetului de acasă (din dormitor sau altundeva)
              td 92
              td 100
              td 68
              td 74
            tr
              td Utilizarea zilnică a internetului de la școală
              td 30
              td 50
              td 6
              td 11
            tr
              td Are un profil pe o rețea de socializare online
              td 97
              td 96
              td 73
              td 78
            tr
              td Are un profil pe o platformă de partajare de conținut mediatic
              td 48
              td 57
              td 17
              td 24
            tr
              td Este zilnic în contact cu părinții pe o rețea de socializare online
              td 11
              td 33
              td 14
              td 13
            tr
              td Este zilnic în contact cu prietenii pe o rețea de socializare online 
              td 79
              td 62
              td 62
              td 67
            tr
              td Vârsta accesării prima dată a internetului
              td 8,6
              td 8,6
              td 9,3
              td 9,1
            tr
              td Numărul mediu de abilități legate de folosirea internetului
              td 7,0
              td 6,1
              td 5,2
              td 5,5
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    p
      strong Comunicarea pe platformele de socializare
      |. Aceste platforme de socializare par să fie destinate folosirii cu prietenii, 67% dintre copii spunând că sunt zilnic în contact cu prietenii pe această cale, în timp ce doar 13% spun că sunt în contact zilnic cu părinții astfel. De această dată variațiile cu vârsta nu urmează un model clar definit, variația contactului cu părinții pe platformele de socializare putând fi explicată, așa cum arătam în secțiunea respectivă, prin dinamica dezvoltării psihologice și emoționale acopilului și adolescentului. Contactul zilnic cu prietenii folosind SNS pare să determine două clase: cea a copiilor de 9-10 ani, care declară mai puțin de unul din trei această activitate, și restul, unde în jur de 7 sau chiar 8 din zece copii intră zilnic în contact cu prietenii pe SNS. Folosirea internetului mobil influențează contactul zilnic cu prietenii și părinții astfel: utilizatorii de smartphone declară în mai mare măsură că sunt zilnic în contact cu prietenii pe SNS, în timp ce utilizatorii de tabletă declară de trei ori mai mult decât cei de smartphone și dublu față de utilizatorii de internet fix că sunt zilnic în contact cu părinții pe astfel de platforme. Explicația acestui din urmă fapt tindem să credem că nu este determinată de anumite caracteristici tehnice ale tabletelor care ar facilita în mod deosebit contactul cu părinții, ci portretului foarte special al utilizatorilor de tabletă, așa cum s-a relevat el pe parcursul raportului, portret care ne îndreptățește să credem că aceștia aparțin unor culturi familiale puternice (sunt copiii care se angajează în mai puține activități decât  utilizatorii de smartphone-uri și uneori și decât utilizatorii de internet fix, au mai puține abilități digitale decât primii și sunt obiectul unei medieri parentale mai puternice). 
    p
      strong Vârsta primei utilizări a internetului 
      |de către copil este într-o continuă scădere, de la 7,5 în grupul celor de 9-10 ani, la 10,5 pentru cei de 15-16 ani (cu o medie de 9,1). Remarcăm de asemenea că utilizatorii de internet mobil sunt pe internet de la vârste mai mici decât restul, media lor fiind 8,6 ani, față de 9,3 ani pentru utilizatorii de internet fix. 
    p
      strong Abilități
      |. În medie, copiii din România declară 5,5 abilități de folosire a internetului (din 12 testate). Acestea variază constant și semnificativ cu vârsta, de la 2,2 la 7,8. De asemenea, utilizatorii de internet mobil declară că dețin mai multe abilități decât cei care nu utilizează această tehnologie. Astfel, utilizatorii de smartphone au obținut un scor de 7 la abilitățile testate, utilizatorii de tabletă dețin 6,1, în timp ce neutilizatorii dețin doar 5,2 abilități în medie. 
