+article("10.2. Riscurile și consecințele dăunătoare ale acestora")
  +section("10.2. Riscurile și consecințele dăunătoare ale acestora")
    h1 10.2. Riscurile și consecințele dăunătoare ale acestora