+article("10.2. Riscurile și consecințele dăunătoare ale acestora")
  +section("10.2. Riscurile și consecințele dăunătoare ale acestora")
    h1 10.2. Riscurile și consecințele dăunătoare ale acestora
    p
      strong Așa cum am menționat deja, riscurile online nu au în mod necesar consecințe negative pentru copil
      |, așa cum sunt resimțite și raportate de către acesta. 
    p
      strong Riscuri
      |. Tabelul 57 și Tabelul 58 rezumă incidența riscurilor online la care copiii au fost expuși în ultimul an, în funcție de vârstă și de faptul de a fi sau nu utilizator de internet mobil.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 57: Sinteză privind experiențele negative online ale copiilor, în funcție de vârstă
      .panel-body
        table.table-responsive
          thead
            tr
              td(rowspan="2") % în ultimele 12 luni...
              td(colspan="4") Vârsta
              td(rowspan="2") Total RO
            tr
              td 9-10
              td 11-12
              td 13-14
              td 15-16
          tbody
            tr
              td L-a tratat cineva într-un mod supărător sau deranjant,  față în față sau pe internet
              td 37
              td 36
              td 45
              td 46
              td 41
            tr
              td A fost victima unei forme de  cyberbullying
              td 15
              td 18
              td 23
              td 19
              td 19
            tr
              td A agresat pe cineva, într-un mod supărător sau deranjant față în față sau pe internet
              td 30
              td 35
              td 18
              td 37
              td 30
            tr
              td A fost agresor într-un act de cyberbullying
              td 21
              td 16
              td 13
              td 25
              td 19
            tr
              td A primit mesaje cu caracter sexual (11 ani +)
              td - 
              td 10
              td 18
              td 35
              td 21
            tr
              td A intrat în contact cu cineva pe care nu l-a întâlnit față în față anterior
              td 23
              td 34
              td 49
              td 53
              td 41
            tr
              td A mers să se întâlnească față în față  cu cineva pe care l-a cunoscut doar pe internet anterior 
              td 20
              td 25
              td 25
              td 37
              td 27
            tr
              td A văzut imagini sexuale pe internet sau pe alte media
              td 19
              td 21
              td 36
              td 47
              td 31
            tr
              td A văzut pe internet conținuturi, de oricare tip, dăunătoare generate de utilizatori (11 ani+)
              td - 
              td 32
              td 33
              td 36
              td 33
            tr
              td A avut alte experiențe negative pe internet
              td 51
              td 32
              td 45
              td 45
              td 43
            tr
              td Folosește internetul într-un mod excesiv (cel puțin 2 din 5 itemi)
              td 10
              td 22
              td 28
              td 35
              td 25
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    p În România, cele mai frecvente tip de risc sunt cele clasate de noi la ‘alte experiențe negative’ (43%), care includ folosirea într-un mod negativ a datelor personale, spargerea parolelor și folosirea datelor personale, virușii, riscurile comerciale etc. (vezi Capitolul dedicat riscurilor). Al doilea risc, ca frecvență, este inițierea unor contacte pe internet cu persoane necunoscute (41%), urmat de expunerea la conținuturi online negative generate de utilizatori (33%) și de expunerea la imagini cu conținut sexual (31%).  Așa numitele riscuri de comportament care implică agresivitatea au fost menționate de 41% dintre copii, din poziție de victimă și de 30% dintre copii, din poziție de agresor, pentru agresiuni care au avut loc în spațiul real sau virtual. Dacă ne referim doar la agresiunea care apare prin mijlocire tehnologică (cyberbullying), aceasta este menționată de 19% dintre copii din poziție de agresori și tot de 19% dintre copii din poziție de victimă. Nu vom mai detalia aici cum anume variază aceste riscuri cu vârsta, deoarece am făcut-o în secțiunile respective).
    .panel.panel-default
      .panel-heading
        p.table Tabelul 58: Sinteză privind experiențele negative online ale copiilor, în funcție de faptul de a fi sau nu utilizator de dispozitive mobile
      .panel-body
        table.table-responsive
          thead
            tr
              td(rowspan="2") % în ultimele 12 luni...
              td(colspan="3") Utilizarea zilnică a unui dispozitiv
              td(rowspan="2") Total RO
            tr
              td Smartphone
              td Tabletă
              td Niciunul
          tbody
            tr
              td L-a tratat cineva într-un mod supărător sau neplăcut,  față în față sau pe internet
              td 45
              td 40
              td 40
              td 41
            tr
              td A fost victima unei forme de  cyberbullying
              td 27
              td 26
              td 17
              td 19
            tr
              td A agresat pe cineva, într-un mod supărător sau deranjant față în față sau pe internet
              td 27
              td 23
              td 33
              td 30
            tr
              td A fost agresor într-un act de cyberbullying
              td 19
              td 22
              td 20
              td 19
            tr
              td A primit mesaje cu caracter sexual (11 ani +)
              td 26
              td 20
              td 20
              td 21
            tr
              td A intrat în contact cu cineva pe care nu l-a întâlnit față în față anterior
              td 50
              td 41
              td 40
              td 41
            tr
              td A mers să se întâlnească față în față  cu cineva pe care l-a cunoscut doar pe internet anterior
              td 27
              td 19
              td 28
              td 27
            tr
              td A văzut imagini sexuale pe internet sau pe alte media
              td 39
              td 43
              td 30
              td 31
            tr
              td A văzut pe internet conținuturi dăunătoare generate de utilizatori  (de oricare tip)
              td 25
              td 23
              td 38
              td 33
            tr
              td A avut alte experiențe negative pe internet
              td 38
              td 29
              td 45
              td 43
            tr
              td Folosește internetul într-un mod excesiv (cel puțin 2 din 5 itemi)
              td 31
              td 22
              td 23
              td 25
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    p În funcție de folosirea internetului mobil, observăm că: utilizatorii de internet mobil sunt în mai mare măsură expuși riscului de a fi victime ale cyberbullyingului, riscului de a primi mesaje sexuale (mai ales utilizatorii de smartphone), de a intra în contact cu necunoscuții (tot utilizatorii de smartphone), de a vedea imagini sexuale pe internet și de a folosi internetul excesiv (utilizatorii de smartphone). Utilizatorii de internet fix sunt, pe de altă parte, mai mult expuși ‘alte experiențe negative’ (vezi descrierea acestora mai sus) și la conținuturi negative generate de utilizatori.
    p
      strong Consecințele negative ale riscurilor. 
      |Tabelul 59 și Tabelul 60 rezumă impactul negativ pe care expunerea la aceste riscuri l-a avut pentru copii, din nou, în funcție de vârstă și de faptul sau nu de a fi utilizator de internet mobil. 
    p Copiii par cel mai mult deranjați atunci când cineva îi agresează, indiferent de mediul în care apare agresiunea (33%), de expunerea la imagini sexuale (21%), de primirea de mesaje cu caracter sexual, (14%) și de întâlnirea în offline cu persoane cunoscute anterior doar online (10%).
    .panel.panel-default
      .panel-heading
        p.table  Tabelul 59: Sinteză privind consecințele dăunătoare ale experiențelor negative online, în funcție de vârstă
      .panel-body
        table.table-responsive
          thead
            tr
              td(rowspan="2") % în ultimele 12 luni...
              td(colspan = "4") Vârsta
              td(rowspan="2") Total RO
            tr
              td 9-10
              td 11-12
              td 13-14
              td 15-16
          tbody
            tr
              td A văzut sau i s-a întâmplat ceva pe internet care l-a deranjat
              td 19
              td 24
              td 25
              td 38
              td 27
            tr
              td L-a tratat cineva într-un mod supărător sau neplăcut,  față în față sau pe internet și l-a deranjat acest lucru
              td 30
              td 33
              td 36
              td 33
              td 33
            tr
              td A primit mesaje sexuale și l-a deranjat acest lucru (11 ani+)
              td - 
              td 6
              td 15
              td 22
              td 14
            tr
              td S-a dus la o întâlnire cu cineva cunoscut doar pe internet și l-a deranjat acea experiență
              td 8
              td 12
              td 12
              td 9
              td 10
            tr
              td A văzut imagini sexuale și l-a deranjat acest lucru
              td 16
              td 14
              td 30
              td 22
              td 21
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    .panel.panel-default
      .panel-heading
        p.table Tabelul 60: Sinteză privind consecințele dăunătoare ale experiențelor negative online, în funcție de faptul de a fi sau nu utilizator de dispozitive mobile
      .panel-body
        table.table-responsive
          thead
            tr
              td(rowspan="2") % în ultimele 12 luni...
              td(colspan = "3") Utilizarea zilnică a unui dispozitiv 
              td(rowspan="2") Total RO
            tr
              td Smartphone
              td Tabletă
              td Niciunul
          tbody
            tr
              td A văzut sau i s-a întâmplat ceva pe internet care l-a deranjat
              td 43
              td 52
              td 23
              td 27
            tr
              td L-a tratat cineva într-un mod supărător sau neplăcut,  față în față sau pe internet și l-a deranjat acest lucru
              td 36
              td 25
              td 32
              td 33
            tr
              td A primit mesaje sexuale și l-a deranjat acest lucru (11 ani+)
              td 23
              td 16
              td 11
              td 14
            tr
              td S-a dus la o întâlnire cu cineva cunoscut doar pe internet și l-a deranjat acea experiență
              td 8
              td 0
              td 12
              td 10
            tr
              td A văzut imagini sexuale și l-a deranjat acest lucru
              td 30
              td 29
              td 20
              td 21
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    p Copiii care folosesc internetul mobil par să fie mai supărați decât cei care folosesc internetul fix în urma expunerii la aceste riscuri, cu excepția  întâlnirilor cu necunoscuții.
