+article("10.3. Medierea")
  +section("10.3. Medierea")
    h1 10.3. Medierea
    p Tabelul 61 și Tabelul 62 rezumă situația legată de mediere.Cel mai frecvent menționată formă de mediere, menționată de 69% dintre copii, este cea venită din partea prietenilor, urmată de medierea parentală pentru folosirea în siguranță a internetului (68%) și de medierea parentală activă pentru pentru utilizarea internetului (65%).
    .panel.panel-default
      .panel-heading
        p.table Tabelul 61: Sinteză privind medierea, în funcție de vârstă
      .panel-body
        table.table-responsive
          thead
            tr
              td %
              td 
                div Vârsta
                div 9-10
              td 
                div Vârsta
                div 11-12
              td 
                div Vârsta
                div 13-14
              td 
                div Vârsta
                div 15-16
              td Total RO
          tbody
            tr
              td Mediere parentală activă pentru utilizarea internetului
              td 76
              td 73
              td 61
              td 54
              td 65
            tr
              td Mediere parentală activă pentru siguranța pe internet
              td 81
              td 78
              td 63
              td 56
              td 68
            tr
              td Mediere parentală restrictivă pentru siguranța pe internet
              td 78
              td 63
              td 62
              td 53
              td 63
            tr
              td Mediere parentală tehnnică pentru siguranța pe internet
              td 13
              td 5
              td 5
              td 8
              td 8
            tr
              td Mediere activă realizată de prietenii de aceeași vârstă
              td 58
              td 80
              td 67
              td 68
              td 69
            tr
              td Există cel puțin o persoană cu care copilul este probabil să vorbească dacă ceva îl deranjează pe internet
              td 74
              td 71
              td 49
              td 61
              td 63
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul. 
    .panel.panel-default
      .panel-heading
        p.table  Tabelul 62: Sinteză privind medierea, în functie de faptul de a fi sau nu utilizator de dispozitive mobile
      .panel-body
        table.table-responsive
          thead
            tr
              td %
              td 
                div Utilizarea zilnică a unui dispozitiv
                div Smartphone
              td 
                div Utilizarea zilnică a unui dispozitiv
                div Tabletă
              td 
                div Utilizarea zilnică a unui dispozitiv
                div Niciunul
              td Total RO
          tbody
            tr
              td Mediere parentală activă pentru utilizarea internetului
              td 67
              td 91
              td 65
              td 65
            tr
              td Mediere parentală activă pentru siguranța pe internet
              td 73
              td 86
              td 67
              td 68
            tr
              td Mediere parentală restrictivă pentru siguranța pe internet
              td 47
              td 55
              td 69
              td 63
            tr
              td Mediere parentală tehnnică pentru siguranța pe internet
              td 12
              td 38
              td 6
              td 8
            tr
              td Mediere activă realizată de prietenii de aceeași vârstă
              td 71
              td 82
              td 68
              td 69
            tr
              td Există cel puțin o persoană cu care copilul este probabil să vorbească dacă ceva îl deranjează pe internet
              td 70
              td 86
              td 61
              td 63
      .panel-footer
        p.small-text Pentru întrebările exacte pe care se bazează acest tabel, vezi secțiunile anterioare.
        p.small-text Baza: Toți copiii care folosesc internetul.
    p Ambele forme de mediere parentală activă sunt mai frecvente printre utilizatorii de tablete, medirea restrictivă fiind cel mai des întâlnită la utilizatorii de internet fix. Medierea parentală tehnică pentru siguranța pe internet și cea venită din partea prietenilor apar cel mai frecvent tot la utilizatorii de tabletă. Tot ei sunt cei mai dispuși să declare că există cel puțin o persoană spre care s-ar îndrepta în caz că ceva rău s-ar întâmpla pe internet. 
