+article("Net Children Go Mobile")
  +section("Net Children Go Mobile")
    .lf-ch00 
      .cover 
        .ue
          +img('img/ue_logo.jpg')
        h1.blue Net Children 
        h1.orange  Go Mobile
        .row
          .col-sm-6
            h3.title Riscuri și oportunități în folosirea internetului mobil de către copiii din România
          .col-sm-6
        p Anca Velicu, Giovanna Mascheroni, Kjartan Ólafsson
        .net-logo
          div
            +img('img/net_children.png')
          div
            h3.title
              | ARS
              br 
              | Docendi

