+article("Net Children Go Mobile")
  +section("Net Children Go Mobile")
    .lf-ch00 
      .cover 
        .ue
          +img('img/ue_logo.jpg')
        .pull-left
          h1.blue Net Children 
          h1.orange  Go Mobile
          h3.title Riscuri și oportunități în folosirea internetului mobil de către copiii din România
          p Anca Velicu, Giovanna Mascheroni, Kjartan Ólafsson
        .row
          .col-xs-6
            +img('img/net_children.png')
          .col-xs-6.center
            h3.title ARS Docendi

