+article("Anexa 1: Bibliografie")
  +section("Anexa 1: Bibliografie")
    h1 Anexa 1: Bibliografie
    ul
      li Attwood, F., & Smith, C. (2011). Investigating young people's sexual cultures: an introduction. 
        em Sex Education, 11
        | (3), 235-242.
      li Barbovschi, M. (2014). Dealing with misuse of personal information online – Coping measures of children in the EU Kids Online III project. 
        em Communications: The European Journal of Communication Research, 39
        | (3): 305–326.
      li Barbovschi, M. & Marinescu, V. (2013). Youth. Revisiting policy dilemmas in internet safety in the context of children’s rights. In B. O’Neill, E. Staksrud, & S. McLaughlin (eds) 
        em Towards a better internet for children? Policy pillars, players and paradoxes 
        | (pp. 227-246). Göteborg: Nordicom.
      li Barbovschi, M., Marinescu, V., Velicu, A., & Laszlo, E. (2012). Meeting new contacts online. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 177-189). Bristol: Policy Press.
      li Bertel, T. & Stald, G. (2013). From SMS to SNS: the use of the internet on the mobile phone among young Danes. In K. Cumiskey & L. Hjorth (eds) 
        em Mobile media practices, presence and politics. The challenge of being seamlessly mobile 
        | (pp. 198-213). New York: Routledge.
      li Boyd, d. (2008) Why youth (heart) social network sites: the role of networked publics in teenage social life. In D. Buckingham (ed.) 
        em Youth, identity and digital media 
        | (pp. 119-142). Cambridge, MA: MIT Press.
      li Buckingham, D. (2007). Digital Media Literacies: rethinking media education in the age of the Internet. 
        em Research in Comparative and International Education, 2
        | (1), 43-55.
      li Buckingham, D., & Bragg, S. (2004). 
        em Young people, sex and the media: The facts of life? 
        | Basingstoke: Palgrave Macmillan.
      li Clark, L. S. (2012). 
        em The Parent App: Understanding Families in the Digital Age. 
        | Oxford: Oxford University Press.
      li Dürager, A. & Livingstone, S. (2012). 
        em How can parents support children’s internet safety? 
        | London: EU Kids Online. 
      li European Commission (2008) 
        em Towards a safer use of the Internet for children in the EU: A parents’ perspective. 
        | Luxembourg: European Commission.
      li Ey, L. A., & Cupit, C. G. (2011). Exploring young children’s understanding of risks associated with Internet usage and their concepts of management strategies. 
        em Journal of Early Childhood Research, 9
        | (1), 53-65.
      li Green, N. & Haddon, L. (2009). 
        em Mobile communications: an introduction to new media.
        | Oxford: Berg
      li Goggin, G. (2010). 
        em Global mobile media. 
        | New York: Routledge.
      li Haddon, L. and Vincent, J. (eds.) (2014). 
        em European children and their carers’ understanding of use, risks and safety issues relating to convergent mobile media. 
        | Report D4.1. Milano: Unicatt.
      li Haddon, L. (2004). 
        em Information and communication technologies in everyday life. 
        | Oxford: Berg.
      li Haddon, L. (2012). Parental mediation of internet use: Evaluating family relationships. In E. Loos, L. Haddon and E. Mante-Meijer (Eds) (2012) 
        em Generational use of new media 
        | (pp. 13-30).  Aldershot: Ashgate.
      li Hall, J.A. & Baym, N.K. (2012). Calling and texting (too much): Mobile maintenance expectations (over) dependence, entrapment, and friendship satisfaction. 
        em New Media & Society
        | , 14(2), 316-331.
      li Helsper, E., Kalmus, V., Hasebrink, U., Sagvari, B. & de Haan, J. (2013). 
        em Country classification: Opportunities, risks, harm and parental mediation. 
        | London: EU Kids Online.
      li Hjorth, L. & Goggin, G. (2009). Mobile technologies: 
        em From telecommunications to media. 
        | London: Routledge.
      li Ito, M. et al. (2009). 
        em Hanging out, messing around, and geeking out: Kids living and learning with new media. 
        | Cambridge, MA: MIT Press.
      li Kardefelt-Winther, D. (2014). A conceptual and methodological critique of internet addiction research: Towards a model of compensatory internet use. 
        em Computers in Human Behavior
        | , 31, 351-354.
      li Kalmus, V., von Felitzen, C., & Siibak, A. (2012). Effectiveness of teachers’ and peers’ mediation in supporting opportunities and reducing risks online. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 245-256). Bristol: Policy Press.
      li Katz, J.E. & Aakhus, M. (2002). Perpetual contact: 
        em Mobile communication, private talk, public performance. 
        | Cambridge: Cambridge University Press.
      li Kernaghan, D., & Elwood, J. (2013). All the (cyber) world’s a stage: Framing cyberbullying as a performance. 
        em Cyberpsychology: Journal of Psychosocial Research on Cyberspace, 7(1). Retrieved from: 
        a(href='http://www.cyberpsychology.eu/view.php?cisloclanku=2013011604&article=5', target='_blank') Cyberpsychology.eu
      li Kofoed, J. & Ringrose, J. (2012). Travelling and sticky affects: Exploring teens and sexualized cyberbullying through a Butlerian-Deleuzian-Guattarian lens. 
        em Discourse: Studies in the Cultural Politics of Education
        | , 33(1), 5-20.
      li Lampert, C. & Donoso, V. (2012). Bullying. In S. Livingstone, L. Haddon & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp, 141-150). Bristol: Policy Press.
      li Lenhart, A. (2009). 
        em Teens and sexting: How and why minor teens are sending sexually suggestive nude or nearly nude images via text messaging. Washington, DC: Pew Research Center. Retrieved from: 
        a(href='http://pewresearch.org/assets/pdf/teens-and-sexting.pdf', target='_blank') Pewresearch.org
      li Lenhart, A., Ling, R., Campbell, S., & Purcell, K. (2010). 
        em Teens and mobile phones. 
        | Washington, DC: Pew Research Center.
      li Levy, N., Cortesi, S., Crowley, E., Beaton, M., Casey, J., & Nolan, C. (2012). Bullying in a networked era: A literature review. 
        em Berkman Center Research Publication, 17. Retrieved from 
        a(href='http://cyber.law.harvard.edu/publications/2012/kbw_bulling_in_a_networked_era', target='_blank') Cyber.law.harvard.edu