+article("Anexa 1: Bibliografie")
  +section("Anexa 1: Bibliografie")
    h1 Anexa 1: Bibliografie
    ul
      li Attwood, F., & Smith, C. (2011). Investigating young people's sexual cultures: an introduction. 
        em Sex Education, 11
        | (3), 235-242.
      li Barbovschi, M. (2014). Dealing with misuse of personal information online – Coping measures of children in the EU Kids Online III project. 
        em Communications: The European Journal of Communication Research, 39
        | (3): 305–326.
      li Barbovschi, M. & Marinescu, V. (2013). Youth. Revisiting policy dilemmas in internet safety in the context of children’s rights. In B. O’Neill, E. Staksrud, & S. McLaughlin (eds) 
        em Towards a better internet for children? Policy pillars, players and paradoxes 
        | (pp. 227-246). Göteborg: Nordicom.
      li Barbovschi, M., Marinescu, V., Velicu, A., & Laszlo, E. (2012). Meeting new contacts online. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 177-189). Bristol: Policy Press.
      li Bertel, T. & Stald, G. (2013). From SMS to SNS: the use of the internet on the mobile phone among young Danes. In K. Cumiskey & L. Hjorth (eds) 
        em Mobile media practices, presence and politics. The challenge of being seamlessly mobile 
        | (pp. 198-213). New York: Routledge.
      li Boyd, d. (2008) Why youth (heart) social network sites: the role of networked publics in teenage social life. In D. Buckingham (ed.) 
        em Youth, identity and digital media 
        | (pp. 119-142). Cambridge, MA: MIT Press.
      li Buckingham, D. (2007). Digital Media Literacies: rethinking media education in the age of the Internet. 
        em Research in Comparative and International Education, 2
        | (1), 43-55.
      li Buckingham, D., & Bragg, S. (2004). 
        em Young people, sex and the media: The facts of life? 
        | Basingstoke: Palgrave Macmillan.
      li Clark, L. S. (2012). 
        em The Parent App: Understanding Families in the Digital Age. 
        | Oxford: Oxford University Press.
      li Dürager, A. & Livingstone, S. (2012). 
        em How can parents support children’s internet safety? 
        | London: EU Kids Online. 
      li European Commission (2008) 
        em Towards a safer use of the Internet for children in the EU: A parents’ perspective. 
        | Luxembourg: European Commission.
      li Ey, L. A., & Cupit, C. G. (2011). Exploring young children’s understanding of risks associated with Internet usage and their concepts of management strategies. 
        em Journal of Early Childhood Research, 9
        | (1), 53-65.
      li Green, N. & Haddon, L. (2009). 
        em Mobile communications: an introduction to new media.
        | Oxford: Berg
      li Goggin, G. (2010). 
        em Global mobile media. 
        | New York: Routledge.
      li Haddon, L. and Vincent, J. (eds.) (2014). 
        em European children and their carers’ understanding of use, risks and safety issues relating to convergent mobile media. 
        | Report D4.1. Milano: Unicatt.
      li Haddon, L. (2004). 
        em Information and communication technologies in everyday life. 
        | Oxford: Berg.
      li Haddon, L. (2012). Parental mediation of internet use: Evaluating family relationships. In E. Loos, L. Haddon and E. Mante-Meijer (Eds) (2012) 
        em Generational use of new media 
        | (pp. 13-30).  Aldershot: Ashgate.
      li Hall, J.A. & Baym, N.K. (2012). Calling and texting (too much): Mobile maintenance expectations (over) dependence, entrapment, and friendship satisfaction. 
        em New Media & Society
        | , 14(2), 316-331.
      li Helsper, E., Kalmus, V., Hasebrink, U., Sagvari, B. & de Haan, J. (2013). 
        em Country classification: Opportunities, risks, harm and parental mediation. 
        | London: EU Kids Online.
      li Hjorth, L. & Goggin, G. (2009). Mobile technologies: 
        em From telecommunications to media. 
        | London: Routledge.
      li Ito, M. et al. (2009). 
        em Hanging out, messing around, and geeking out: Kids living and learning with new media. 
        | Cambridge, MA: MIT Press.
      li Kardefelt-Winther, D. (2014). A conceptual and methodological critique of internet addiction research: Towards a model of compensatory internet use. 
        em Computers in Human Behavior
        | , 31, 351-354.
      li Kalmus, V., von Felitzen, C., & Siibak, A. (2012). Effectiveness of teachers’ and peers’ mediation in supporting opportunities and reducing risks online. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 245-256). Bristol: Policy Press.
      li Katz, J.E. & Aakhus, M. (2002). Perpetual contact: 
        em Mobile communication, private talk, public performance. 
        | Cambridge: Cambridge University Press.
      li Kernaghan, D., & Elwood, J. (2013). All the (cyber) world’s a stage: Framing cyberbullying as a performance. 
        em Cyberpsychology: Journal of Psychosocial Research on Cyberspace, 7(1). Retrieved from: 
        a(href='http://www.cyberpsychology.eu/view.php?cisloclanku=2013011604&article=5', target='_blank') Cyberpsychology.eu
      li Kofoed, J. & Ringrose, J. (2012). Travelling and sticky affects: Exploring teens and sexualized cyberbullying through a Butlerian-Deleuzian-Guattarian lens. 
        em Discourse: Studies in the Cultural Politics of Education
        | , 33(1), 5-20.
      li Lampert, C. & Donoso, V. (2012). Bullying. In S. Livingstone, L. Haddon & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp, 141-150). Bristol: Policy Press.
      li Lenhart, A. (2009). 
        em Teens and sexting: How and why minor teens are sending sexually suggestive nude or nearly nude images via text messaging. Washington, DC: Pew Research Center. Retrieved from: 
        a(href='http://pewresearch.org/assets/pdf/teens-and-sexting.pdf', target='_blank') Pewresearch.org
      li Lenhart, A., Ling, R., Campbell, S., & Purcell, K. (2010). 
        em Teens and mobile phones. 
        | Washington, DC: Pew Research Center.
      li Levy, N., Cortesi, S., Crowley, E., Beaton, M., Casey, J., & Nolan, C. (2012). Bullying in a networked era: A literature review. 
        em Berkman Center Research Publication, 17. Retrieved from 
        a(href='http://cyber.law.harvard.edu/publications/2012/kbw_bulling_in_a_networked_era', target='_blank') Cyber.law.harvard.edu
      li Licoppe, C. (2004). 'Connected' presence: the emergence of a new repertoire for managing social relationships in a changing communication technoscape. 
        em Environment and Planning D: Society and Space, 22
        | (1), 135 – 156.
      li Ling, R. (2008). 
        em New tech, new ties. How mobile communication is reshaping social cohesion. 
        | Cambridge, MA: MIT Press.
      li Ling, R. (2012). 
        em Taken for grantedness. The embedding of mobile communication into society. 
        | Cambridge, MA: MIT Press.
      li Ling, R. & Bertel, T. (2013). Mobile communication culture among children and adolescents. In D. Lemish (ed.) 
        em The Routledge international handbook of children, adolescents and media 
        | (pp. 127-133). London: Routledge.
      li Livingstone, S. (2009). 
        em Children and the Internet: Great expectations, challenging realities. C
        | ambridge: Polity.
      li Livingstone, S. & Bovill, M. (2001). 
        em Children and their changing media environment: A European comparative study. 
        | New Jersey, NJ: Lawrence Erlbaum Associates, Inc. 
      li Livingstone, S. & Haddon, L. (eds) (2009). 
        em Kids Online. Opportunities and risks for children.
        | Bristol: Policy Press.
      li Livingstone, S. & Helsper, E.J. (2007). Gradations in digital inclusion: children, young people and the digital divide. 
        em New Media & Society,
        | 9, 671-696.
      li Livingstone, S. & Helsper, E. (2008). Parental mediation and children’s Internet use. 
        em Journal of Broadcasting & Electronic Media
        | , 52(4), 581-599.
      li Livingstone, S., Hasebrink, U. & Görzig, A. (2012). Towards a general model of determinants of risks and safety. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 323-339). Bristol: Policy Press.
      li Livingstone, S., Haddon, L., Görzig, A., & Ólafsson, K. (2011). 
        em Risks and safety on the internet: The perspective of European children. Full findings. 
        | London: LSE, EU Kids Online.
      li Mascheroni, G., Murru, M.F., Aristodemou, E., &  Laouris, Y. (2013). Parents. Mediation, self-regulation and co-regulation. In B. O’Neill, E. Staksrud, & S. McLaughlin (eds) 
        em Towards a better internet for children? Policy pillars, players and paradoxes 
        | (pp. 211-225). Göteborg: Nordicom. 
      li Mascheroni, G. and Ólafsson, K. (2014). 
        em Net Children Go Mobile: risks and opportunities. 
        | Second Edition. Milano: Educatt.
      li Matsuda, M. (2005). Mobile communication and selective sociality. In M. Ito, D. Okabe, & M. Matsuda (eds) Personal, portable, pedestrian. 
        em Mobile phones in Japanese life 
        | (pp. 123-142). Cambridge, MA: MIT Press.
      li Mendoza K. (2009). Surveying Parental Mediation: Connections, Challenges, and Questions for Media Literacy. 
        em The Journal of Media Literacy, 1
        | (2009): 28-41.
      li Ólafsson, K., Livingstone, S. & Haddon, L. (2013) 
        em Children’s use of online technologies in Europe : a review of the European evidence base. 
        | London: EU Kids Online.
      li O’Neill, B. & Laouris, Y. (2013). Teaching internet safety, promoting digital literacy. The dual role of educations and schools. In B. O’Neill, E. Staksrud, & S. McLaughlin (eds) 
        em Towards a better internet for children? Policy pillars, players and paradoxes 
        | (pp. 193-209). Göteborg: Nordicom.
      li Oswell, D. (2008). Media and communications regulation and child protection: An overview of the field. In S. Livingstone & K. Drotner (eds) 
        em The international handbook of children, media and culture 
        | (pp. 475-492). London: Sage.
      li Pasquier, D. (2005). 
        em Cultures Lycéennes: la tyrannie de la majorité. 
        | Paris: Éditions Autrement.
      li Peter J. & Valkenburg P. M. (2006). Adolescents’ Internet Use: Testing the ‘disappearing Digital Divide’ Versus the ‘emerging Digital Differentiation’ Approach. 
        em Poetics, 34
        | (4-5): 293- 305.
      li Ringrose, J., Gill, R., Livingstone, S., & Harvey, L. (2012). 
        em A qualitative study of children, young people and ‘sexting’: A report prepared for the NSPCC. 
        | London: National Society for the Prevention of Cruelty to Children.
      li Roman, George et al, 
        em Ghidul utilizării în siguranţă a Internetului - Un internet mai sigur pentru toţi elevii!
        | , Salvaţi Copiii, Bucureşti, 2014.
      li Rovolis, A. & Tsaliki, L. (2012). Pornography. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 165-176). Bristol: Policy Press.
      li Schrock, A. & boyd, D. (2008). 
        em Online threats to youth: Solicitation, harassment, and problematic content: Literature review prepared for the Internet Safety Technical Task Force. 
        | Retrieved from 
        a(href='http://cyber.law.harvard.edu/sites/cyber.law.harvard.edu/files/RAB_Lit_Review_121808_0.pdf', target='_blank') cyber.law.harvard.edu 
      li Sonck, N. & de Haan, J. (2013). How the internet skills of European 11- to 16-year-olds mediate between online risk and harm. 
        em Journal of Children and Media
        | , 7(1), 79-95.
      li Sonck, N., Kuiper, E., & de Haan, J. (2012). Digital skills in the context of media literacy. In S. Livingstone, L. Haddon, & A. Görzig (eds) 
        em Children, risk and safety on the internet 
        | (pp. 87-98). Bristol: Policy Press.
      li van Deursen, A. & van Dijk, J. (2011). Internet skills and the digital divide. 
        em New Media and Society
        | , 13(6), 893-911.
      li Vandoninck, S., d’Haenens, L., & Roe, K. (2013). Online risks: Coping strategies of less resilient children and teenagers across Europe. 
        em Journal of Children and Media
        | , 7(1), 60-78.
      li Vincent, J. & Fortunati, L. (Eds.). (2009). 
        em Electronic emotion: The mediation of emotion via information and communication technologies. 
        | Oxford: Peter Lang.
      li Ybarra, M.L., boyd, d., Korchmaros, J.D., & Oppenheim, J. (2012). Defining and measuring cyberbullying within the larger context of bullying victimization. 
        em Journal of Adolescent Health
        | , 51(1), 53-58.