+article("7.2. Folosirea excesivă a internetului și a smartphone-ului")
  +section("7.2. Folosirea excesivă a internetului și a smartphone-ului")
    h1 7.2. Folosirea excesivă a internetului și a smartphone-ului
    p Pentru a măsura folosirea excesivă a internetului de către copii, am folosit același set de întrebări ca în ancheta EU Kids Online (2010) menite să măsoare potențialul conflict pe care folosirea internetului poate să îl determine prin împiedicarea altor activități; de asemenea am întrebat copiii dacă au încercat, fără succes, să reducă timpul destinat internetului, datele fiind prezentate în Figura 28.
    ul 
      li În general, la fiecare indicator testat, majoritatea copiilor spun că nu li s-a întâmplat ‘niciodată sau aproape niciodată’ acel lucru. Cei mai mulți spun că nu li s-a întâmplat să își fi neglijat activitățile curente de tipul mâncatului sau dormitului pentru a sta pe internet (60%). 
      li 
        strong 21% spun că ‘Foarte des sau destul de des’ 
        | li s-a întâmplat să se surprindă navigând pe internet fără a fi în mod particular interesați de ceva, 20% au încercat, fără să reușească să petreacă mai puțin timp pe internet.
      li 19% spun că deseori timpul petrecut pe internet a fost folosit în detrimentul celui petrecut cu familia, prietenii sau într-un mod mai productiv. Același procent (19%) mărturisesc că nu s-au simțit în largul lor atunci când nu au putut fi online.
    .panel.panel-default
      .panel-heading
        p.blue Figura 28: Folosirea excesivă a internetului de către copii
      .panel-body
        +vchart({
        bars: [
          {
            name: 'Nu am mâncat sau nu am dormit pentru a sta pe internet',
            data: [12, 'rgb(34,149,202)', 27, 'rgb(147,183,139)', 60, 'rgb(190,207,0)']
          },
          {
            name: 'Nu m-am simtit în largul meu atunci când nu puteam sta pe internet.',
            data: [19, 'rgb(34,149,202)', 31, 'rgb(147,183,139)', 50, 'rgb(190,207,0)']
          },
          {
            name: 'M-am surprins că navighez și atunci când nu eram interesat în mod deosebit',
            data: [21, 'rgb(34,149,202)', 27, 'rgb(147,183,139)', 52, 'rgb(190,207,0)']
          },
          {
          name: 'Nu m-am simtit în largul meu atunci când nu puteam sta pe internet.',
          data: [19, 'rgb(34,149,202)', 31, 'rgb(147,183,139)', 50, 'rgb(190,207,0)']
          },
          {
          name: 'M-am surprins că navighez și atunci când nu eram interesat în mod deosebit',
          data: [21, 'rgb(34,149,202)', 27, 'rgb(147,183,139)', 52, 'rgb(190,207,0)']
          }
        ],
        legend: [
        {
        name: 'Foarte des sau destul de des',
        color: 'rgb(34,149,202)'
        },
        {
        name: 'Rareori',
        color: 'rgb(147,183,139)'
        },
        {
        name: 'Niciodată sau aproape niciodată',
        color: 'rgb(190,207,0)'
        }
        ], 
        step: 20
        })
      .panel-footer
        p.text-small Q46: În ULTIMELE 12 LUNI, cât de des ţi s-au întâmplat următoarele lucruri?
          br
          | Baza: Toți copiii care folosesc internetul.
    p Totuși, luat în sine, un singur indicator nu este suficient pentru a decide asupra dependenței, de aceea în Figura 29 arătăm care sunt copiii care au răspuns cu ‘foarte des sau destul de des’ la mai mult de două din cele cinci experiențe despre care au fost întrebați.
    ul 
      li 24% dintre copiii români, față de 21% la nivelul tuturor țărilor, au trăit două sau mai multe astfel de experiențe care denotă o folosire excesivă a internetului.
      li Nu apar diferențe de gen semnificative, însă vârsta este un factor important de variație, procentul de adolescenți (15-16 ani) fiind de 3,5 ori mai mare decât al celor de 9-10 ani.
      li Statutul socio-economic este de asemenea un factor important de variație, odată cu scăderea acestuia asitând la o creștere a celor care folosesc internetul în mod excesiv. Aceasta poate să sprijine teoria modelului compensatoriu, dacă ținem cont de discursul unei fete de 15-16 ani care a participat la interviuri și care spunea că dacă situația materială i-ar permite, ar prefera să iasă cu prietenii în oraș în timpul liber dar, deoarece aceste ieșiri costă, preferă să stea pe internet.
    p Ca o recomandare în acest sens, am sugera 
      strong să fie abandonată strategia de blamare și etichetare 
      | a copiilor pentru o eventuală folosire excesivă a internetului și în schimb 
      strong să li se ofere alternative accesibile de petrecere a timpului liber.
    .panel.panel-default
      .panel-heading
        p.table Figura 29: Copiii (%) care folosesc excesiv internetul, în functie de gen, vârstă si status socio-economic
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU (7)',
              data: [21, '#ee7401']
            },
            {
              name: 'Băieți',
              data: [25, 'rgb(34,149,202)']
            },
            {
              name: 'Fete',
              data: [24, 'rgb(34,149,202)']
            },
            {
              name: '9-10 ani',
              data: [10, 'rgb(190,207,0)']
            },
            {
              name: '11-12 ani',
              data: [22, 'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [28, 'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [35,"rgb(190,207,0)"]
            },
            {
              name: 'SSE scăzut',
              data: [31,"rgb(147,183,139)"]
            },
            {
              name: 'SSE mediu',
              data: [21,"rgb(147,183,139)"]
            },
            {
              name: 'SSE ridicat',
              data: [18,"rgb(147,183,139)"]
            },
            {
              name: 'Total RO',
              data: [24,"rgb(67,192,197)"]
            }
          ]
        })
      .panel-footer
        p.text-small Q46: În ULTIMELE 12 LUNI, cât de des ţi s-au întâmplat următoarele lucruri? Graficul prezintă procentul celor care au răspuns ‘Destul de des’ sau ‘Foarte des’ la cel puțin două dintre cele cinci afirmații cuprinse în Figura 28.
          br
          | Baza: Toți copiii care folosesc internetul.
    p Faptul că internetul devine accesibil ‘oriunde și oricând’ datorită smartphone-urilor care sunt mobile, întodeauna la îndemână și chiar ‘în mână’, face problema folosirii excesive și a dependenței mai difuză, așa cum apare și în Figura 30
    ul 
      li Nevoia stringentă de a verifica notificările asupra ultimelor noutăți este raportată de 40% dintre copii ca întâmplându-se des și foarte des. Ea este urmată de un sentiment inconfortabil atunci când nu își poate verifica telefonul, sentiment resimțit ‘des și foarte des’ de 31% dintre copii și de 27% spunând că timpul alocat altor activități sau persoane a avut de suferit ca urmare a folosirii smartphone-ului. 
      li Remarcăm de asemenea că segmentul ‘de mijloc’ al celor care au experimentat acea situație, deși rareori, este în creștere în cazul smartphone-urilor. 
      li Folosirea în contexte neadecvate a smartphone-urilor poate afecta relațiile sociale, prin încălcarea normelor de comportament. Astfel, 68% declară că li s-a întâmplat acest lucru, în 26% dintre cazuri ‘foarte sau destul de des’, în timp ce în 42% dintre cazuri acest lucru s-a întâmplat rareori. De altfel, smartphone-ul aduce noi provocări dezbaterilor despre sfera publică și sfera privată și despre intersecția dintre cele două.
      li Singura afirmație pe care majoritatea copiilor o resping este 
        em ‘Am încercat, fără succes, să petrec mai puțin timp pe telefon’. 
    p Aceste date indică faptul că 
      strong este mai frecventă situația în care copiii au o atitudine de dependență față de telefonul lor
      | , aceasta datorită caracteristicilor acestor dispozitive. Astfel, copiii și, mai ales, adolescenții percep smartphone-ul ca pe o 
      strong ‘extensie’ a propriului corp
      | , putând fi cu ușurință purtat cu sine pe parcursul întregii zile și chiar noaptea (
      +textTooltip("vincentfortunati2009")
      |); de asemenea smartphone-ul permite un nou mod de comunicare, numită ‘prezență conectată’ un fel de permanentă co-prezență prin intermediul internetului (
      +textTooltip("licoppe2004")
      |). Astfel, poate fi de înțeles sentimentul de neplăcere pe care copiii îl încearcă atunci când nu pot să-și verifice telefonul sau veșnicile verificări de neînțeles pentru unii dintre părinți (ne-utilizatori de smartphone). 
    .panel.panel-default
      .panel-heading
        p.blue Figura 30: Folosirea excesivă a smartphone-ului de către copii
      .panel-body
        +vchart({
          bars:[
            {
              name: 'M-am simțit deranjat când nu am putut verifica smartphone-ul meu',
              data: [31, 'rgb(34,149,202)',48,"rgb(147,183,139)",21, "rgb(190,207,0)"]
            },
            {
              name: 'M-am surprins făcând anumite lucruri pe smartphone și atunci când nu eram cu adevărat interesat',
              data: [23, 'rgb(34,149,202)',35,"rgb(147,183,139)",42, "rgb(190,207,0)"]
            },
            {
              name: 'Am simțit o nevoie puternică de a-mi verifica smartphone-ul ca să văd dacă s-a mai întâmplat ceva nou',
              data: [40, 'rgb(34,149,202)',35,"rgb(147,183,139)",25, "rgb(190,207,0)"]
            },
            {
              name: 'Am petrecut mai puțin timp decât ar fi trebuit cu familia, prietenii, sau făcându-mi temele',
              data: [27, 'rgb(34,149,202)',24,"rgb(147,183,139)",48, "rgb(190,207,0)"]
            },
            {
              name: 'M-am surprins folosind telefonul și în locuri/situații unde nu era adecvat (în timpul cinei cu părinții mei, în clasă, la cinema)',
              data: [26, 'rgb(34,149,202)',42,"rgb(147,183,139)",31, "rgb(190,207,0)"]
            },
            {
              name: 'Am încercat fără să reușesc să folosesc mai puțin telefonul',
              data: [13, 'rgb(34,149,202)',33,"rgb(147,183,139)",54, "rgb(190,207,0)"]
            }
            ],
          legend:[
            {
              name: "% Foarte des sau destul de des",
              color: "rgb(34,149,202)"
            },
            {
              name: "% Rareori",
              color: "rgb(147,183,139)"
            },
            {
              name: "% Niciodată sau aproape niciodată",
              color: "rgb(190,207,0)"
            }
          ],
          step: 20
        })
      .panel-footer
        p.small-text Q49: În ULTIMELE 12 LUNI, cât de des ţi s-au întâmplat următoarele lucruri?
        p.small-text Baza: Toți copiii care dețin sau au spre folosință un smartphone
    p Ca și în cazul internetului, am considerat că un singur indicator nu este suficient pentru a vorbi de folosire excesivă, astfel încât Figura 31 arată care sunt copiii care au răspuns ‘foarte sau destul de des’ la  2 sau mai multe dintre cele 6 afirmații testate:
    ul 
      li Copiii din România sunt sub media tuturor țărilor în a raporta folosirea excesivă a smartphone-ului (38% față de 48%).
      li Genul joacă un rol important, fetele raportând în mai mare proporție decât băieții folosirea excesivă.
      li 
        strong O dinamică interesantă este cea în funcție de vârstă
        | . Astfel, la 9-10 ani majoritatea copiilor declară o folosire excesivă (56%), pentru că la segmentul de vârstă imediat următor procentul să scadă brusc la 27% și apoi să crească constant până la 40% la cei de 15-16 ani. Această dinamică diferă de cea pe care o regăsim la nivelul eșantionului european, unde asistăm la cel mai mic procent la grupa de vârstă 9-10 și, într-adevăr, la creșterea constantă spre adolescență. Explicația ar putea fi găsită în strategiile de mediere folosite de părinții români care, spre deosebire de cei occidentali, sunt mai permisivi (uneori excesiv de permisivi).
      li Statutul socio-economic  este din nou important în variația acestui indicator, care nu urmează însă o pantă lineară. Astfel, cei cu statut socio-economic scăzut raportează în 56% dintre cazuri folosire excesivă a smartphone-ului, în timp ce la polul opus se află cei cu statut socio-economic mediu cu doar 20%. 
    .panel.panel-default
      .panel-heading
        p.blue Figura 31: Copiii (%) care folosesc în exces smartphone-ul, în funcție de gen, vârstă și status socio-economic
      .panel-body
        +hchart({
          bars: [
            {
              name: 'Total EU (7)',
              data: [48, '#ee7401']
            },
            {
              name: 'Băieți',
              data: [33, 'rgb(34,149,202)']
            },
            {
              name: 'Fete',
              data: [42, 'rgb(34,149,202)']
            },
            {
              name: '9-10 ani',
              data: [56, 'rgb(190,207,0)']
            },
            {
              name: '11-12 ani',
              data: [27, 'rgb(190,207,0)']
            },
            {
              name: '13-14 ani',
              data: [36, 'rgb(190,207,0)']
            },
            {
              name: '15-16 ani',
              data: [40,"rgb(190,207,0)"]
            },
            {
              name: 'SSE scăzut',
              data: [57,"rgb(147,183,139)"]
            },
            {
              name: 'SSE mediu',
              data: [20,"rgb(147,183,139)"]
            },
            {
              name: 'SSE ridicat',
              data: [35,"rgb(147,183,139)"]
            },
            {
              name: 'Total RO',
              data: [38,"rgb(67,192,197)"]
            }
          ],
          step: 20
        })
      .panel-footer
        p.text-small Q49: În ULTIMELE 12 LUNI, cât de des ţi s-au întâmplat următoarele lucruri? Graficul prezintă procentul celor care au răspuns ‘Destul de des’ sau ‘Foarte des’ la cel puțin două dintre cele șase afirmații cuprinse în Figura 30.
          br
          | Baza: Toți copiii care dețin sau au spre folosință un smartphone.
