+article("7.2. Folosirea excesivă a internetului și a smartphone-ului")
  +section("7.2. Folosirea excesivă a internetului și a smartphone-ului")
    h1 7.2. Folosirea excesivă a internetului și a smartphone-ului