+article("8. Medierea")
  +section("8. Medierea")
    h1 8. Medierea
    p Așa cum am mai spus, în cadrul teoretic al cercetării, considerăm că experiențele online ale copilului se află la intersecția sferelor socio-culturală, tehnologică și cea care ține de politici și reglementări. Familia, cercul de prieteni și contextul școlar sunt astfel surse importante de mediere a folosirii internetului de către copil, așa cum este recunoscut deseori în dezbaterile publice.
    p
      strong Rolul părinților este în mod deosebit recunoscut 
      |prin capacitatea acestora de a impune reguli în folosirea internetului, ceea ce se va reflecta în balanța de riscuri și oportunități pe care copilul le va întâlni pe internet; tot ei pot contribui în mod esențial la creșterea încrederii copilului în sine (
      +textTooltip("mascheroni2013")
      |). 
      strong Profesorii de asemenea au un rol esențial 
      |mai ales pentru a compensa, unde este cazul, nivelul scăzut de competențe digitale al părinților. Astfel școlile au fost considerate a fi locuri strategice pentru educație privind siguranța pe internet (
      +textTooltip("neilllaouris2013")
      |). Nu în ultimul rând, cercetările au arătat importanța prietenilor în activitățile de comunicare online și în special comunicarea mobilă online ale copiilor și mai ales ale adolescenților, acolo unde rolul părinților și al profesorilor începe să scadă (Pasquier, 2005). Astfel cercetările au subliniat influența pozitivă a interacțiunii cu prietenii, care rezidă în împărtășirea unor experiențe, ghidaj practic, iar decidenții politici au început să accepte dreptul copiilor de a avea un rol activ în discuțiile despre siguranța pe internet și în campaniile de conștientizare (
      +textTooltip("barbovschimarinescu2013")
      |).
    p Am ales să tratăm în mod separat medierea venită din partea profesorilor, într-un capitol special dedicat școlii (vezi Capitolul 9).
