+article("8.1. Medierea parentală")
  +section("8.1. Medierea parentală")
    h1 8.1. Medierea parentală
    p
        |Ancheta EU Kids Online (Livingstone 
        em et al
        |., 2011; Mascheroni 
        em et al
        |., 2013) a propus cinci categorii principale de mediere parentală:
    ol(type="numeric")
      li
        strong Medierea activă a folosirii internetului 
        |se referă la situația în care părinții vorbesc cu copii despre activitățile acestora pe internet, despre conținuturile pe care copiii le întâlnesc sau se angajează alături de copil în activitățile online ale acestuia.
      li
        strong Medierea activă pentru folosirea în siguranță a internetului 
        |se referă la situația în care părinții promovează în mod activ folosirea responsabilă și în siguranță a internetului prin oferirea de sfaturi în acest sens.
      li
        strong Mediere restrictivă
        |, adică impunerea unor reguli și restricții care limitează utilizarea internetului (fie ca timp, fie în ceea ce privește locația de acces sau activitățile online permise).
      li
        strong Monitorizarea 
        |sau verificarea istoricului activităților online.
    p
      |Datele din proiectul EU Kids Online au arătat că, dintre cele cinci strategii de mediere parentală examinate, doar medierea activă referitoare la folosirea internetului în general și medierea restrictivă sunt asociate cu un risc scăzut și cu un impact negativ (‘harm’) redus (Dürager & Livingstone, 2012; Mascheroni 
      em et al
      |., 2013). În același timp însă, restricționarea accesului la internet, în termeni de timp sau de conținuturi, poate avea un impact negativ și asupra nivelului de competențe digitale, ca și asupra capacității de a dezvolta strategii de reziliență viabile în fața riscurilor (Livingstone 
      em et al
      |., 2012).
    p Cercetările legate de efectele pozitive ale medierii parentale în diminuarea impactului negativ al media asupra copiilor au avut inițial în vedere televizorul; trecerea la alt mediu, în speță internetul a impus însă strategii de mediere noi, adaptate acestui mediu și nu doar preluarea vechilor strategii din epoca televiziunii (Clark, 2012; Livingstone & Helsper, 2008; Mendoza, 2009). În aceeași logică, trecerea la internetul mobil și la folosirea media mobile și convergente va impune din partea părinților o adaptare a strategiilor de mediere la caracteristicile acestor dispozitive, caracteristici care influențează modurile de folosire. Astfel, dispozitivele mobile care au în general ecrane de dimensiuni mici sunt percepute ca media personale, ceea ce impune o adaptare a strategiilor de mediere adoptate de părinți (monitorizarea și controlul devin în special dificile).
    p În continuare ne vom ocupa de medierea parentală a folosirii internetului și a smartphone-ului, pentru toți indicatorii descriși anterior.
    p.table Tabelul 47: Medierea parentală activă pentru utilizarea internetului de către copii, în functie de vârstă și gen
    table.table-responsive
      thead
        tr
          th(rowspan="2") %...
          th(colspan="2") 9-12 ani
          th(colspan="2") 13-16 ani
          th(rowspan="2") Total RO
          th(rowspan="2") Total EU (7)
        tr
          th Băieți
          th Fete
          th Băieți
          th Fete
      tbody
        tr
          td Vorbească cu tine despre ceea ce faci pe internet
          td 70
          td 75
          td 62
          td 72
          td 70
          td 66
        tr
          td Stea cu tine în timp ce foloseşti internetul (urmărind ce faci, dar fără să intervină efectiv)
          td 50
          td 57
          td 30
          td 45
          td 45
          td 47
        tr
          td Stea în apropiere când foloseşti internetul
          td 63
          td 57
          td 45
          td 56
          td 55
          td 58
        tr
          td Te încurajeze să explorezi şi să înveţi singur lucruri de pe internet
          td 49
          td 58
          td 42
          td 43
          td 48
          td 42
        tr
          td Facă activităţi împreună cu tine pe internet
          td 41
          td 50
          td 18
          td 28
          td 34
          td 38
    p.small-text Q53: Se întâmplă uneori ca părinţii tăi sau unul dintre ei să …
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        strong Discuțiile cu părinții despre activitățile pe care copiii le au pe internet sunt raportate de 7 din 10 copii
        |, peste media la nivelul tuturor țărilor.  Urmează 55 % dintre copii care spun că părinții stau alături de ei când folosesc internetul și 48% care spun că părinții îi încurajează să exploreze și să caute lucruri noi online
      li Fetele sunt în mai mare măsură decât băieții obiectul medierii parentale active, la diferență de maxim 10-11%. 
      li Este de remarcat faptul că medierea parentală activă nu variază consistent cu vârsta, singura activitate care este mult diminuată atunci când copiii ajung la adolescență fiind activitățile desfășurate împreună cu părinții pe internet.
    p Pentru o măsurare cât mai precisă a nivelului de mediere, am ales să considerăm că aceasta apare atunci când două sau mai multe forme de mediere se combină.
    p.table Figura 32: Medierea parentală activă (%) pentru utilizarea internetului de către copii, în funcție de gen, vârstă și status socio-economic
    p.small-text Q53: Se întâmplă uneori ca părinţii tăi sau unul dintre ei să … Graficul prezintă procentul copiilor care au răspuns ‘Da’ la cel puțin două dintre afirmațiile cuprinse în Tabelul 47.
    p.small-text Baza: Toți copiii care folosesc internetul.
    p Așa cum arată Figura 32, 65% dintre copii spun că părinții lor se angajează în cel puțin două dintre activitățile de mediere activă.
    ul
      li
        strong Asistăm la o descreștere a medierii active pentru folosirea internetului odată cu vârsta
        |, procentul necoborând însă sub 50% nici la adolescenții de 15-16 ani.
      li În funcție de SSE, cel mai mult se bucură de mediere copiii din grupa de mijloc. 
    p După cum o arată Tabelul 48, părinții tind să fie mai implicați în medierea pentru folosirea în siguranță a internetului:
    p.table Tabelul 48: Medierea parentală activă pentru utilizarea în siguranță a internetului de către copii, în funcție de vârstă și gen
    table.table-responsive
      thead
        tr
          th(rowspan="2") %...
          th(colspan="2") 9-12 ani
          th(colspan="2") 13-16 ani
          th(rowspan="2") Total RO
          th(rowspan="2") Total EU (7)
        tr
          th Băieți
          th Fete
          th Băieți
          th Fete
      tbody
        tr
          td Te-a ajutat atunci când ceva era greu de făcut sau de găsit pe internet
          td 56
          td 77
          td 43
          td 34
          td 52
          td 68
        tr
          td Ţi-a explicat de ce unele site-uri sunt bune sau rele
          td 76
          td 73
          td 52
          td 54
          td 63
          td 68
        tr
          td Ţi-a dat sfaturi despre cum să foloseşti internetul în siguranţă
          td 66
          td 71
          td 41
          td 53
          td 57
          td 66
        tr
          td Ţi-a dat sfaturi despre cum să te porţi cu persoanele cu care eşti în contact pe internet
          td 59
          td 80
          td 55
          td 62
          td 64
          td 66
        tr
          td Te-a ajutat în trecut, atunci când ceva de pe internet te-a deranjat 
          td 48
          td 63
          td 32
          td 44
          td 46
          td 41
        tr
          td În general, a vorbit cu tine despre ce ar trebui să faci dacă ceva de pe internet te-ar deranja 
          td 60
          td 76
          td 36
          td 62
          td 58
          td 57
    p.small-text Q54: Vreunul din părinţii tăi a făcut vreodată unul dintre următoarele lucruri împreună cu tine?
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        strong De această dată, aproape toate activitățile despre care au fost întrebați au fost raportate de peste 50% dintre copii, singura excepție fiind ajutorul oferit într-o situație de risc (46%).
      li Cea mai frecvent menționată formă de mediere (64%) este cea care implică o latură socială (sfaturi despre cum trebuie să se poarte cu persoane pe internet), urmată de sfaturi privind analiza critică a site-urilor (63%).
      li Toate formele de mediere scad odată cu înaintarea în vârstă a copiilor; fetele sunt, și de această dată, mai frecvent decât băieții obiect al medierii parentale (la aproape toate formele de mediere).  
    p Aceste tendințe pot fi observate și în Figura 33 care arată cum se distribuie două sau mai multe forme de mediere în grupele noastre de analiză.
    p.table Figura 33: Medierea parentală activă (%) pentru utilizarea în siguranță a internetului de către copii, în funcție de gen, vârstă și status socio-economic
    p.small-text Q54: Vreunul din părinţii tăi a făcut vreodată unul dintre următoarele lucruri împreună cu tine? Graficul prezintă procentul copiilor care au răspuns ‘Da’ la cel puțin două dintre afirmațiile cuprinse în Tabelul 48.
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li Tendința generală rămâne aceeași ca la medierea activă pentru folosirea internetului în ceea ce privește variabila gen și vârstă, în timp ce SSE determină o creștere constantă a nivelului de mediere pentru folosirea în siguranță a internetului.
    p
      |Tabelul 49 arată care sunt domeniile în care părinții aplică resticții sau impun reguli de folosire a internetului. În general, părinții din România sunt mai permisivi decât cei de la nivelul tuturor țărilor, cu o excepție notabilă: 
      strong 75% (față de 62% la nivel general) spun că nu li se permite niciodată să descarce aplicații pentru care trebuie să plătească.
    p.table Tabelul 49: Părinții care restricționează utilizarea internetului de către copii (în funcție de vârstă și gen)
    table.table-responsive
      thead
        tr
          th(rowspan="2") %...
          th(colspan="2") 9-12 ani
          th(colspan="2") 13-16 ani
          th(rowspan="2") Total RO
          th(rowspan="2") Total EU (7)
        tr
          th Băieți
          th Fete
          th Băieți
          th Fete
      tbody
        tr
          td Să descarci muzică sau filme de pe internet 
          td 14
          td 22
          td 4
          td 5
          td 11
          td 18
        tr
          td Să te uiţi la videoclipuri pe internet (Youtube)
          td 8
          td 8
          td 4
          td 5
          td 6
          td 8
        tr
          td Să ai un profil pe o reţea de socializare
          td 19
          td 21
          td 7
          td 9
          td 13
          td 26
        tr
          td Să dai informații personale pe internet (de ex. numele complet al tău/al lor, adresa sau numărul de telefon)
          td 55
          td 65
          td 46
          td 58
          td 56
          td 60
        tr
          td Să încarci poze, video-uri sau muzică pentru a le partaja cu alţii
          td 28
          td 33
          td 25
          td 13
          td 24
          td 29
        tr
          td Să descarci aplicaţii gratuite
          td 19
          td 38
          td 13
          td 20
          td 22
          td 19
        tr
          td Să plăteşti pentru a descărca aplicaţii
          td 84
          td 80
          td 63
          td 77
          td 75
          td 62
        tr
          td Să semnalezi în reţelele sociale locul în care te afli (Facebook Foursquare)
          td 57
          td 63
          td 43
          td 45
          td 51
          td 59
        tr
          td Să foloseşti mesaje instantanee (WhatsApp, Skype)
          td 23
          td 34
          td 12
          td 23
          td 23
          td 32
    p.small-text Q55: Pentru fiecare dintre lucrurile următoare, spune-mi te rog dacă ÎN PREZENT părinţii tăi îţi dau voie să le faci oricând vrei, dacă te lasă să le faci doar cu permisiunea lor sau dacă eşti supravegheat de ei, sau dacă nu te lasă NICIODATĂ să le faci. În tabel sunt prezentate procentele copiilor care au spus că nu li se permite ‘Niciodată’ respectiva activitate. 
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li A doua interdicție ca frecvență pe care o aplică părinții din România (după cea referitoare la descărcarea aplicațiilor cu plată) este cea referitoare la dezvăluirea informațiilor personale pe internet (56%), urmată de interdicția de a da ‘check-in’ pe rețelele sociale. 
      li În general interdicțiile ‘slabe’, puțin comune, cum ar fi cea de a se uita la videoclipuri pe internet (6%), de a descărca muzică și filme  (11%) sau de a avea un profil pe o platformă de socializare (13%) variază cel mai tare cu factorul vârstă. 
      li La vârsta de 9-12 ani, când copiii nu ar trebui să utilizeze platformele de socializare conform condițiilor de folosire ale acestora, doar 1 din 5 părinți interzic folosirea lor, față de 1 din 2, la nivel general.
    p.table Figura 34: Medierea parentală restrictivă (%) pentru utilizarea internetului de către copii, în functie de gen, vârstă si status socio-economic
    p.small-text Q55: Pentru fiecare dintre lucrurile următoare, spune-mi te rog dacă ÎN PREZENT părinţii tăi îţi dau voie să le faci oricând vrei, dacă te lasă să le faci doar cu permisiunea lor sau dacă eşti supravegheat de ei, sau dacă nu te lasă NICIODATĂ să le faci. Graficul arată procentul celor care au spus de cel puțin două ori că nu le este permis să facă ‘Niciodată’ oricare dintre activitățile indicate în Tabelul 49.
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li În mare, tiparul de variație al acestui tip de mediere este cel deja știut atunci când vorbim de factorul gen și de vârstă (cu grupa 9-10 ani la distanță ceva mai mare de următoarele).
      li Părinții cu un SSE mediu sunt însă și de această dată mai implicați, la o distanță de 14-15% față de ceilalți părinți. 
    p Folosirea medierii tehnice, adică a unui software de filtrare sau de control parental, este la un nivel mult scăzut în România față de eșantionul general.
    p.table Tabelul 50: Părinții care folosesc medierea tehnică pentru utilizarea internetului de către copii (în funcție de vârstă si gen)
    table.table-responsive
      thead
        tr
          th(rowspan="2") %...
          th(colspan="2") 9-12 ani
          th(colspan="2") 13-16 ani
          th(rowspan="2") Total RO
          th(rowspan="2") Total EU (7)
        tr
          th Băieți
          th Fete
          th Băieți
          th Fete
      tbody
        tr
          td Programe de control parental sau alte instrumente care filtrează sau blochează anumite tipuri de site-uri.
          td 8
          td 10
          td 8
          td 5
          td 7
          td 26
        tr
          td Programe de control parental sau alte instrumente pentru a urmări site-urile pe care le-ai vizitat.
          td 12
          td 9
          td 6
          td 6
          td 8
          td 25
        tr
          td Un serviciu sau contract care limitează timpul pe care îl petreci pe internet
          td 9
          td 12
          td 3
          td 6
          td 7
          td 13
        tr
          td Un program anti-spam sau care blochează e-mail-uri nedorite/viruşi
          td 21
          td 26
          td 21
          td 17
          td 21
          td 51
    p.small-text Q56: Din câte ştii tu, părinţii tăi folosesc vreunul din următoarele lucruri pe computerul pe care îl foloseşti tu CEL MAI DES acasă?
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li
        |Așa cum a arătat-o și proiectul EU Kids Online din 2010 (Livingstone 
        em et al
        |., 2011), 
        strong medierea tehnică este cea mai puțin folosită formă de mediere folosită de părinți
        |.
      li
        |Cea mai frecvent menționată formă este 
        strong folosirea unui program anti-virus sau anti-spam 
        |(2 din 10 părinți din România față de 5 din 10 la nivelul tuturor țărilor). Aceasta arată că grija principală a părinților nu ține atât de problema siguranței copiilor pe internet, cât de securitatea pe internet și, cel puțin în România, așa cum am aflat din interviurile cu copiii, de multe ori 
        strong în joc este miza economică
        |, adică banii necesari re-instalării sistemului de operare sau devirusării calculatorului.
      li Celelalte instrumente despre care au fost întrebați au fost menționate de 7-8% dintre copii, cu o frecvență mai mare în grupa de vârstă mică și mai puțin frecvent de adolescenți. 
    p Atunci când combinăm două sau mai multe forme de mediere tehnică, pentru a putea vorbi cu adevărat de prezența acestui comportament la părinți, tabloul arată și mai rău, cum se poate vedea din Figura 35.
    p.table Figura 35: Medierea parentală tehnică (%) pentru utilizarea internetului de către copii, în funcție de gen, vârstă și status socio-economic
    p.small-text Q56: Din câte ştii tu, părinţii tăi folosesc vreunul din următoarele lucruri pe computerul pe care îl foloseşti tu CEL MAI DES acasă? Graficul prezintă procentul copiilor care au răspuns da la cel puțin două dintre afirmațiile cuprinse în Tabelul 50.
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li Doar 8% dintre părinții din România, față de 26% la nivelul întregului eșantion adoptă medierea tehnologică. Acești părinți sunt mai frecvenți în grupa de 9-10 ani și în cea de 15-16 ani. 
    p Folosirea instrumentelor tehnice pentru medierea utilizarii smartphone-ului de către copil este în România, așa cum o arată Tabelul 51, la un nivel comparativ cu restul țărilor. Ceea ce este surprinzător este că spre deosebire de situația generală, unde părinții este mai probabil să folosească medierea tehnologică pentru internetul fix, în România mai mulți părinți folosesc acest tip de mediere pentru smartphone-uri.
    p.table Tabelul 51: Părinții care folosesc medierea tehnică pentru utilizarea de către copil a smartphone-ului
    table.table-responsive
      thead
        tr
          td %...
          td Total RO
          td Total EU (7)
      tbody
        tr
          td Programe de control parental sau alte instrumente care filtrează sau blochează anumite tipuri de site-uri.
          td 12
          td 16
        tr
          td Programe de control parental care filtrează aplicaţiile pe care le descarci
          td 13
          td 14
        tr
          td Un serviciu sau contract care limitează timpul pe care îl petreci pe internet
          td 14
          td 17
        tr
          td Un program care limitează oamenii cu care poţi fi în contact (prin apeluri telefonice şi mesaje SMS, MMS)
          td 9
          td 11
    p.small-text Q57: Sunt instalate pe smartphone-ul tău unele dintre următoarele lucruri?
    p.small-text Baza: Toți copiii care dețin sau au spre folosință un smartphone.
    ul
      li Cea mai frecventă formă de mediere raportată este folosirea unui serviciu care limitează timpul petrecut de copil pe internet (14%), urmat de folosirea de programe de control parental  pentru filtrarea aplicațiilor descărcate (13%), și de programe de control parental care filtrează conținuturi (12%).
    p România este astfel la nivelul mediei eșantionului general în privința mediereii tehnice folosită de părinți pentru utilizarea de către copii a smartphone-ului (cu 14% dintre copii raportând cel puțin două astfel de forme de mediere).
    p.table Figura 36: Medierea parentală tehnică (%) pentru utilizarea smartphone-ului de către copii, în funcție de gen, vârstă și status socio-economic
    p.small-text Q57: Sunt instalate pe smartphone-ul tău unele dintre următoarele lucruri? Graficul prezintă procentul copiilor care au răspuns ‘Da’ la cel puțin două afirmații cuprinse în Tabelul 51.
    p.small-text Baza: Toți copiii care dețin sau au spre folosință un smartphone.
    ul
      li Observăm că adolescenții fac în cea mai mare măsură obiectul acestui tip de mediere (aproape 1 din 4), urmați de cei cu vârste de 9-10 ani). De asemenea fetele sunt mai probabil să fie restricționate tehnic decât băieții și copiii cu SSE scăzut mai mult decât restul copiilor.
      li Acest tipar al medierii este cu totul atipic, atât dacă ne raportăm la restul formelor de mediere, așa cum se poate vedea mai sus, cât și dacă ne raportăm la eșantionul general. El poate însă să fie înțeles dacă luăm în considerare că grija principală a părintelui român pare să fie limitarea costurilor utilizării smartphone-ului de către copii. Astfel, a limita mai mult fetele decât băieții (așa cum apare în eșantionul general), mai mult adolescenții consumatori intensiv de internet decât pe cei din grupele mai mici și, de asemenea, pe cei cu un statut economic precar capătă sens.
    p Pentru a avea o viziune mai completă despre angajarea părinților în medierea folosirii internetului de către copii, i-am întrebat pe aceștia cât cred că știu părinții lor despre activitățile lor online, rezultatele fiind ilustrate în Figura 37.
    p.table Figura 37: Cât de mult cred copiii că știu părinții despre activitățile lor online, în funcție de gen, vârstă și status socio-economic
    p.small-text Q51: Cât de mult crezi că ştie unul dintre părinţi/ştiu părinţii tăi despre ceea ce faci tu pe internet? Ai zice că ştiu mult, destul, puţin sau nimic?
    p.small-text Baza: Toți copiii care folosesc internetul.
    ul
      li 61% dintre copii spun că părinții cunosc ‘mult’ sau ‘destul’ despre activitățile lor pe internet, cu 11% mai puțin față de media europeană din proiect. 
      li Fetele, în mai mare măsură decât băieții și cei mici în mai mare măsură decât cei mari consideră că părinții lor știu ‘mult’ sau ‘destul’ despre ce fac ei pe internet. De asemenea, cu creșterea SSE asistăm la o creștere a implicării părinților în viața online a copiilor, tradusă prin cunoașterea activităților acestora în mediu online, creștere de la 54% la 79% . 
    p În aceeași logică, Figura 38 arată cât de multe cred copiii că știu părinții lor cum folosesc ei smartphone-ul. Părinții din România se află la nivelul mediei tuturor țărilor la acest indicator, 67% dintre copii spunând că părinții lor știu mult sau destul despre aceasta. Aceasta sugerează că, spre deosebire de restul țărilor, în România smartphone-ul nu este neapărat perceput de către părinți ca fiind un dispozitiv privat aparținând copilului, sau, o explicație alternativă, că grija pentru viața privată a copilului nu este una dintre procupările majore ale părinților români.
    p.table Figura 38: Cât de mult cred copiii că știu părintii despre activitățile lor pe smartphone, în funcție de gen, vârstă și status socio-economic
    p.small-text Q52: Cât de mult crezi că ştie unul dintre părinţi/ştiu părinţii tăi despre cum folosești telefonul? Ai zice că ştiu mult, destul, puţin sau nimic?
    p.small-text Baza: Toți copiii care dețin sau au spre folosință un smartphone.
